<nav class="{modifier_class}}">
    <ul>
        <li>
            <a class="taskbar__item" href="#">				
                <img class="taskbar__img" src="../images/icons/general-practice.png">
                <h2 class="taskbar__title">General practice</h2>
                <p class="taskbar__desc">Lorem ipsum dolor</p>
            </a>
        </li>
        <li>
            <a class="taskbar__item" href="#">
                <img class="taskbar__img" src="i../images/icons/aged-care.png">
                <h2 class="taskbar__title">Aged care</h2>
                <p class="taskbar__desc">Lorem ipsum dolor sit amet, consectetur </p>
            </a>
        </li>
        <li>
            <a class="taskbar__item" href="#">
                <img class="taskbar__img" src="../images/icons/general-public.png">
                <h2 class="taskbar__title">General public</h2>
                <p class="taskbar__desc">Lorem ipsum dolor sit amet, consec</p>
            </a>
        </li>
        <li>
            <a class="taskbar__item" href="#">
                <img class="taskbar__img" src="../images/icons/hospital.png">
                <h2 class="taskbar__title">Hospital</h2>
                <p class="taskbar__desc">Lorem ipsum dolor  </p>
            </a>
        </li>
        <li>
            <a class="taskbar__item" href="#">
                <img class="taskbar__img" src="../images/icons/pharmacy.png">
                <h2 class="taskbar__title">Pharmacy</h2>
                <p class="taskbar__desc">Lorem ipsum dolor sit amet, cons </p>
            </a>
        </li>
        <li>
            <a class="taskbar__item" href="#">
                <img class="taskbar__img" src="../images/icons/laboratory-services.png">
                <h2 class="taskbar__title">Laboratory services</h2>
                <p class="taskbar__desc">Lorem ipsum</p>
            </a>
        </li>
        <li>
            <a class="taskbar__item" href="#">
                <img class="taskbar__img" src="../images/icons/agriculture-industry.png">
                <h2 class="taskbar__title">Agriculture and industry</h2>
                <p class="taskbar__desc">Lorem ipsum dolor</p>
            </a>
        </li>
        <li>
            <a class="taskbar__item" href="#">
                <img class="taskbar__img" src="../images/icons/veterinary-practice.png">
                <h2 class="taskbar__title">Veterinary practice</h2>
                <p class="taskbar__desc">Lorem ipsum</p>
            </a>
        </li>
        <li>
            <a class="taskbar__item" href="#">
                <img class="taskbar__img" src="../images/icons/animal-owners.png">
                <h2 class="taskbar__title">Animal owners</h2>
                <p class="taskbar__desc">Lorem ipsum dolor sit amet, conse</p>
            </a>
        </li>
    </ul>
</nav>