// Image and text
.bean-image-and-text {
  .field-name-field-link-internal {
    @extend %list-item-title;
  }

  .field-name-field-bean-text div {
    text-decoration: none;
    display: inline-block;
  }

  // Full display
  // Used for home page function selector
  &.view-mode-full {
    float: left;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
  }
  // View selector component
  &.view-mode-view_selector {
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;

    // Add external icon to field-link-internal if the link is external.
    a[rel~='external'] {
      .field-name-field-link-internal {
        .field-item {
          @extend a[rel~='external'];
          &::after {
            @include AU-space('padding-top', 2unit);
          }
        }
      }
    }

    .field-name-field-link-internal {
      font-size: 14px;
      word-break: break-word;
      .field-item {
        text-decoration: underline;
      }
      @include AU-space('margin-top', .5unit);
      @include AU-media( sm ){
        font-size: 16px;
      }
    }
    .field-name-field-image {
      @include block-text-image-svg();
    }
    .field-name-field-bean-text {
      display: none;
      @include AU-media( sm ){
        font-size: 14px;
        margin: 0 auto;
        max-width: 75%;
        display: block;
      }
    }
    .bean-block-content {
      @include block-card($border-colour-top: $colour-light-dark, $border-hover-colour: $colour-Secondary, $bg-hover-colour: #fff);
      a {
        border-left: 1px solid $colour-light-dark;
        border-right: 1px solid $colour-light-dark;
        border-bottom: 1px solid $colour-light-dark;
      }
    }
  }
  &.active {
    .bean-block-content {
      a {
        background: #fff;
        border-top-color: $colour-Secondary;
      }
    }
  }
}
