// Shame for home page background colour.
.front .paragraphs-item-para-block {
  //@extend .uikit-header--dark;
  //@extend .uikit-header;
  padding-top: 0;
  padding-bottom: 0;
  &.block__count--5 {
    @extend %colour-Primary-background;
    &.view-mode-full {

      .bean-block-content {
        a {
          border-bottom: none;
          display: block;
          color: #fff;
          overflow: hidden;

          &:hover,
          &:focus {
            background: $colour-Primary-hover
          }

          .field-name-field-link-internal {
            color: #fff;
          }
        }
      }
    }
  }
  &.block__count--1 {
    //background: $colour-Primary-dark;
    @extend %colour-Light-background;
    color: black;
  }
}

// Handbook band in immunisation topic page for HP.
#block-bean-handbook-featured-block-in-immun {
  .view-mode-feature {
    box-shadow: none;
  }
  .group-left {
    float: right;
  }
}