// Handbook band in immunisation topic page for HP.
#block-bean-handbook-featured-block-in-immun {
  .view-mode-feature {
    box-shadow: none;
    a {
      color: white;
      border-bottom: 1px solid white;
      display: inline;
      &:hover {
        border-bottom: none;
        background: none;
      }
    }
  }

  .field-name-field-image {
    margin-bottom: 0;
  }

  .group-left {
    float: right;
  }
}
