// Image and text
.bean-image-and-text {
  .field-name-field-link-internal {
    @extend %list-item-title;
  } // Full display
  // Used for home page function selector
  &.view-mode-full {
    float: left;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    .bean-block-content {
      @include block-card();
    }
  }
  &.active {
    .bean-block-content {
      background: $colour-light-dark;
    }
  }
  // Solid colour card.
  &.view-mode-solid_full_card {
    .bean-block-content {
      box-sizing: border-box;
      position: relative;
      min-height: 1px;
      padding: uikit-space(1);
      a {
        display: block;
        border-bottom: none;

        // Move external link icon to title not whole <a>
        &:after {
          display: none;
        }

        .field-name-field-bean-text {
          color: white;
        }
        .field-name-field-link-internal {
          .field-item {
            display: inline;
            color: white;
            border-bottom: 1px solid white;
            font-weight: 700;
            margin-bottom: 0;
            font-family: $uikit-font-system;
          }
        }
        &[rel~='external'] {
          .field-name-field-link-internal {
            .field-item:after {
              @extend %ext-link;
              // Move into corner as breaks mobile layout
              color: white;
              position: absolute;
              top: uikit-space(.75);
              right: uikit-space(.25);
            }
          }
        }
      }
    }
  }

  // Large feature
  &.view-mode-feature_large {
    float: left;
    .group-left,
    .group-right {
      @extend .col-xs-12;
      @extend .col-sm-6;
    }
    .group-right {
      padding-top: uikit-space(1);
      @include uikit-media(sm){
        padding-top: 0;
      }
    }
    .field-name-field-image {
      @extend %image--full;
    }
  }
  &.view-mode-feature {
    @include cardify();
    .group-left,
    .group-right {
      float: none;
      width: 100%;
    }
  } // Vertical listing
  &.view-mode-listing_vertical {
    @extend %dm-list-vertical;
  }
  // View selector component
  &.view-mode-view_selector {
    float: left;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    //margin-left: -12px;
    text-align: center;

    // Add external icon to field-link-internal if the link is external.
    a[rel~='external'] {
      .field-name-field-link-internal {
        .field-item {
          @extend a[rel~='external'];
        }
      }
    }

    .field-name-field-link-internal {
      font-size: 14px;
      word-break: break-word;
      @include uikit-media(sm){
        font-size: 16px;
      }
    }
    .field-name-field-image {
      @include block-text-image-svg();
    }
    .field-name-field-bean-text {
      display: none;
      @include uikit-media(sm){
        font-size: 14px;
        margin: 0 auto;
        max-width: 75%;
        display: block;
      }
    }
    .bean-block-content {
      @include block-card($border-colour-top: $colour-light-dark, $bg-hover-colour: #fff);
      a {
       border-left: 1px solid $colour-light-dark;
       border-right: 1px solid $colour-light-dark;
       border-bottom: 1px solid $colour-light-dark;
      }
    }
  }
  &.active {
    .bean-block-content {
      a {
        background: #fff;
        border-top-color: $colour-Tertiary-2;
      }
    }
  }
}

// ===== LAYOUTS ======
// Set width for variable counts of blocks
// Used for home page type selector
.block__count--1 {
  .bean-image-and-text {
    width: 100%;
  }
}
.block__count--3 {
  .bean-image-and-text {
    @extend .col-xs-12;
    @extend .col-sm-4;
    margin-bottom: 12px;
    @include uikit-media(sm) {
      margin-bottom: 0;
    }
  }
}
.block__count--4 {
  .bean-image-and-text {
    @extend .col-xs-12;
    @extend .col-sm-3;
    margin-bottom: 12px;
    @include uikit-media(sm) {
      margin-bottom: 0;
    }
  }
}
.block__count--5 {
  .bean-image-and-text {
    width: 50%;
    float: left;
    margin-bottom: 24px;
    @include uikit-media(sm) {
      width: 20%;
      margin-bottom: 0;
    }
  }
}