%paragraphs-item-para-block {
  &.para-container {
    @include uikit-clearfix();
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .inside-para-container {
    padding: 0;
  }
  @include row-and-container;
}

