%document-link {
    @include AU-space('padding-bottom', .5unit);
    h2,h3 {
        @include AU-fontgrid('sm');
        @include AU-space('margin-bottom', .5unit);
    }
    .file-icon {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
    }
    a {
        border-bottom: 0;
    }
    .file__link {
        display: inline;
        span {
            @extend %visually-hidden;
        }
    }
    .file__meta {}
    .field-name-field-file,
    .field-name-field-images .field-item {
      @include link-pullout;
      .field-items {
        padding-bottom: 0px;
      }
      .field-item {
        padding-bottom: 6px;
      }
    }

    .field-name-field-image-files .field-items {
      padding-bottom: 0px;
    }
}