<span class="file-download">
  <img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png">
  <a href="#">
    <span class="file-download__visible-link">
      Download
      <span class="sr-only">The flu vaccine – Information for consumers in 2018 fact sheet (Greek) as</span>
      <abbr title="Portable Document Format">PDF</abbr>
    </span>
     - 873 KB, 2 pages
  </a>
</span>