<div class="container">
    <div class="video video--left">
        <div class="video__title">Don't make smokes your story</div>
        <div class="video__left">
            <div class="video__preview">
                <a class="js-video-play " href="#" title="Play video" data-youtubeid="iz8C4xgz-fE">
                    <picture title="Don't makes smokes your story">
                        <img src="../images/video/video-preview.jpg" alt="Don't makes smokes your story"
                             title="Don't makes smokes your story">
                    </picture>
                    <div class="video__play-button"></div>
                    <div class="video__length">0:45</div>
                </a>

            </div>
            <details open="" data-label="video-transcript" class="video__transcript" id="view-transcript">
                <summary aria-controls="transcript-body" aria-expanded="false" class="au-accordion__closed au-accordion--closed" onclick="return UIKIT.accordion.Toggle( this )">Read transcript</summary>
                <div class="video__transcript-body au-accordion--closed" id="transcript-body">
                    <div class="video__transcript-body-wrapper">
                        <h2>Don’t Make Smokes Your Story – National Tobacco Campaign</h2>
                        <h3>TV commercial – 48 seconds</h3>
                        <p>Ted and his family sitting on the back steps with his guitar.</p>
                        <p><strong>Voiceover: Family is everything to me.&nbsp; </strong></p>
                        <p>We see Ted in the kitchen with his extended family.</p>
                        <p><strong>Voiceover: I can’t imagine life without them, to be honest. </strong></p>
                        <p>We see Ted in the hospital with an oxygen mask on his face. A close up of his finger with a pulse monitor attached.</p>
                        <p><strong>Voiceover: I’ve had my battles with smokes. </strong></p>
                        <p>We see Ted’s wife standing at his hospital bedside.</p>
                        <p><strong>Voiceover: My lungs got pretty bad </strong></p>
                        <p>We see a close up of Ted’s face with the oxygen mask.</p>
                        <p><strong>Voiceover: Sometimes I could hardly breathe and that was tough on everyone. </strong></p>
                        <p>In a flashback, we cut to a younger Ted at a skate park, smoking with a mate. We then see them passing cigarettes to each other as they sit in the skate bowl.</p>
                        <p><strong>Voiceover: I’m not sure why I smoked; I just did. </strong></p>
                        <p>We see Ted playing with his children in the backyard.</p>
                        <p><strong>Voiceover: My kids, Jarrah and Yani, I wanted to be there for them, so I quit.&nbsp; Quitting was tough, I just kept trying. </strong></p>
                        <p>We see Ted kicking a football with his children.</p>
                        <p><strong>Voiceover: now I can keep up with them in the yard….</strong></p>
                        <p>Ted helps his children riding their bikes on the street.</p>
                        <p><strong>Voiceover: …and I’ve got more money to spend on better things</strong>.</p>
                        <p>We see Ted standing in front of his house taking a selfie with his Mum.</p>
                        <p><strong>Voiceover: Mum and the Aunties are pretty happy that I quit. </strong></p>
                        <p>We see Ted with his extended family in the kitchen.</p>
                        <p><strong>Voiceover: They didn’t want me to die from smokes like Dad did</strong>.</p>
                        <p>We see Ted’s face and a shot of Ted standing in front of his house with his children playing football behind him.</p>
                        <p><strong>Voiceover: My name is Ted, and family is my story.</strong></p>
                        <p><strong>Voiceover: DON’T MAKE SMOKES YOUR STORY.</strong></p>
                        <p><strong>Voiceover: For help, download the My Quit Buddy app, call the Quitline, or visit quitnow.</strong></p>
                        <p>Federal Government logo, Quitline Logo and My QuitBuddy logo</p>
                        <p><strong>Voiceover: Authorised by the Australian Government, Canberra. </strong></p>
                        <p>Authorised by the Australian Government, Canberra.&nbsp; Spoken by F. Leone</p>
                    </div>
                </div>
            </details>
        </div>
        <div class="video__right">
                <p class="video__description">Well done! You’ve taken an important
                    step on the road to becoming smoke-free. Quitting can be hard and most smokers try a
                    number of times before they finally quit for good. So take it one step at a time and
                    don’t beat yourself up. The longer you stay smoke-free, the easier it gets. <a
                            href="/smokes/health-benefits-quitting">Learn the many benefits of quitting</a>
                    and <a href="http://quitnow.gov.au/internet/quitnow/publishing.nsf/Content/home">ways to
                        help you do this</a>.</p>
            <a class="video__cta" href="#">Find out more</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="video video--right">
        <div class="video__title">Don't make smokes your story</div>
        <div class="video__left">
            <p class="video__description">Well done! You’ve taken an important
                step on the road to becoming smoke-free. Quitting can be hard and most smokers try a
                number of times before they finally quit for good. So take it one step at a time and
                don’t beat yourself up. The longer you stay smoke-free, the easier it gets. <a
                        href="/smokes/health-benefits-quitting">Learn the many benefits of quitting</a>
                and <a href="http://quitnow.gov.au/internet/quitnow/publishing.nsf/Content/home">ways to
                    help you do this</a>.</p>
            <a class="video__cta" href="#">Find out more</a>
        </div>
        <div class="video__right">
            <div class="video__preview">
                <a class="js-video-play " href="#" title="Play video" data-youtubeid="iz8C4xgz-fE">
                    <picture title="Don't makes smokes your story">
                        <img src="../images/video/video-preview.jpg" alt="Don't makes smokes your story"
                             title="Don't makes smokes your story">
                    </picture>
                    <div class="video__play-button"></div>
                    <div class="video__length">0:45</div>
                </a>

            </div>
            <details open="" data-label="video-transcript" aria-expanded="false" class="video__transcript" id="view-transcript">
                <summary aria-controls="transcript-body" aria-expanded="false" onclick="return AUaccordion.Toggle( this )">Read transcript</summary>
                <div class="video__transcript-body" id="transcript-body">
                    <div class="video__transcript-body-wrapper">
                        <h2>Don’t Make Smokes Your Story – National Tobacco Campaign</h2>
                        <h3>TV commercial – 48 seconds</h3>
                        <p>Ted and his family sitting on the back steps with his guitar.</p>
                        <p><strong>Voiceover: Family is everything to me.&nbsp; </strong></p>
                        <p>We see Ted in the kitchen with his extended family.</p>
                        <p><strong>Voiceover: I can’t imagine life without them, to be honest. </strong></p>
                        <p>We see Ted in the hospital with an oxygen mask on his face. A close up of his finger with a pulse monitor attached.</p>
                        <p><strong>Voiceover: I’ve had my battles with smokes. </strong></p>
                        <p>We see Ted’s wife standing at his hospital bedside.</p>
                        <p><strong>Voiceover: My lungs got pretty bad </strong></p>
                        <p>We see a close up of Ted’s face with the oxygen mask.</p>
                        <p><strong>Voiceover: Sometimes I could hardly breathe and that was tough on everyone. </strong></p>
                        <p>In a flashback, we cut to a younger Ted at a skate park, smoking with a mate. We then see them passing cigarettes to each other as they sit in the skate bowl.</p>
                        <p><strong>Voiceover: I’m not sure why I smoked; I just did. </strong></p>
                        <p>We see Ted playing with his children in the backyard.</p>
                        <p><strong>Voiceover: My kids, Jarrah and Yani, I wanted to be there for them, so I quit.&nbsp; Quitting was tough, I just kept trying. </strong></p>
                        <p>We see Ted kicking a football with his children.</p>
                        <p><strong>Voiceover: now I can keep up with them in the yard….</strong></p>
                        <p>Ted helps his children riding their bikes on the street.</p>
                        <p><strong>Voiceover: …and I’ve got more money to spend on better things</strong>.</p>
                        <p>We see Ted standing in front of his house taking a selfie with his Mum.</p>
                        <p><strong>Voiceover: Mum and the Aunties are pretty happy that I quit. </strong></p>
                        <p>We see Ted with his extended family in the kitchen.</p>
                        <p><strong>Voiceover: They didn’t want me to die from smokes like Dad did</strong>.</p>
                        <p>We see Ted’s face and a shot of Ted standing in front of his house with his children playing football behind him.</p>
                        <p><strong>Voiceover: My name is Ted, and family is my story.</strong></p>
                        <p><strong>Voiceover: DON’T MAKE SMOKES YOUR STORY.</strong></p>
                        <p><strong>Voiceover: For help, download the My Quit Buddy app, call the Quitline, or visit quitnow.</strong></p>
                        <p>Federal Government logo, Quitline Logo and My QuitBuddy logo</p>
                        <p><strong>Voiceover: Authorised by the Australian Government, Canberra. </strong></p>
                        <p>Authorised by the Australian Government, Canberra.&nbsp; Spoken by F. Leone</p>
                    </div>
                </div>
            </details>
        </div>
    </div>
</div>