// Colors
//
// Markup: colors.twig
//
// Weight: -1
//
// Style guide: sass.colors

// AU vars for reference
// $AU-media-xs: 576px !default; // media query breakpoints
// $AU-media-sm: 768px !default;
// $AU-media-md: 992px !default;
// $AU-media-lg: 1200px !default;

// $AU-fontsize-map: (
// 	xs:   14,
// 	sm:   16,
// 	md:   20,
// 	lg:   24,
// 	xl:   32,
// 	xxl:  40,
// 	xxxl: 48
// ) !default;

// $AU-color-foreground-text:   #313131 !default;
// $AU-color-foreground-action: #00698f !default;
// $AU-color-foreground-focus:  #9263DE !default;
// $AU-color-background:        #ffffff !default;

// $AU-colordark-foreground-text:   #ffffff !default;
// $AU-colordark-foreground-action: #61daff !default;
// $AU-colordark-foreground-focus:  #C390F9 !default;
// $AU-colordark-background:        #135E70 !default;

// $AU-color-error:   #ff635c !default;
// $AU-color-success: #0cac78 !default;
// $AU-color-warning: #f69900 !default;
// $AU-color-info:    #00bfe9 !default;

// Health.
$colour-Shadow: rgba(0,0,0,0.1);
$colour-card: #fff;
$colour-Error-light: #ffe7ea;
$colour-foreground-text--dark: #000000;

$colour-Primary: #153a6e;
$colour-Primary-dark: #213363;
$colour-Primary-darker: #1b2a57;
$colour-Primary-light: #22447b;
$colour-Primary-hover: #000b33;

$colour-Secondary: #008998;
$colour-Secondary-dark: #007b89;
$colour-Secondary-darker: #006e7a;
$colour-Secondary-light: #0091a0;
$colour-Secondary-hover: #006570;

$colour-Tertiary: #df2f3b;
$colour-Tertiary-dark: #d42b38;
$colour-Tertiary-darker: #c42832;
$colour-Tertiary-light: #ee303b;
$colour-Tertiary-hover: #a31f26;

$colour-Tertiary-2: #0099d9; // light
$colour-Tertiary-2-dark: #0092d6; // mid
$colour-Tertiary-2-darker: #007cb5; // dark - constrast compliant
$colour-Tertiary-2-light: #28a9e0; // lightest
$colour-Tertiary-2-hover: #0070a3; // darkest - constrast compliant

$colour-dark: #6d6e70;
$colour-darker: #626366;
$colour-darkest: #58585b;
$colour-dark-hover: #404041;

$colour-light-dark: #e5e5e5;
$colour-light: #ecedee;
$colour-lighter: #f1f1f2;
$colour-lightest: #f9f9f9;
$colour-light-darker: #cdcdcd;

// Backgrounds
%colour-primary {
  background: $colour-Primary;
  &:hover {
    background: $colour-Primary-hover;
  }
}
%colour-secondary {
  background: $colour-Secondary-dark; // $colour-Secondary fails contrast
  &:hover {
    background: $colour-Secondary-hover;
  }
}
%colour-tertiary {
  background: $colour-Tertiary-dark;
  &:hover {
    background: $colour-Tertiary-hover;
  }
}
%colour-tertiary-2 {
  background: $colour-Tertiary-2-darker; //$colour-Tertiary failt contrast
  &:hover {
    background: $colour-Tertiary-2-hover;
  }
}

// Refactor as node-sass will compile vendors prefixes
%colour-Primary-background {
  background-color: $colour-Primary-darker;
  background: -webkit-linear-gradient(left, $colour-Primary-darker, $colour-Primary);
  background: -o-linear-gradient(right, $colour-Primary-darker, $colour-Primary);
  background: -moz-linear-gradient(right, $colour-Primary-darker, $colour-Primary);
  background: linear-gradient(to right, $colour-Primary-darker, $colour-Primary);
}

%colour-Light-background {
  background-color: $colour-light;
  background: -webkit-linear-gradient(left, $colour-light, $colour-lightest);
  background: -o-linear-gradient(right, $colour-light, $colour-lightest);
  background: -moz-linear-gradient(right, $colour-light, $colour-lightest);
  background: linear-gradient(to right, $colour-light, $colour-lightest);
}

%colour-Light-background-reverse {
  background-color: $colour-lightest;
  background: -webkit-linear-gradient(left, $colour-lightest, $colour-light);
  background: -o-linear-gradient(right, $colour-lightest, $colour-light);
  background: -moz-linear-gradient(right, $colour-lightest, $colour-light);
  background: linear-gradient(to right, $colour-lightest, $colour-light);
}

%colour-Light-dark-background {
  background-color: $colour-light-dark;
  background: -webkit-linear-gradient(left, $colour-light-dark, $colour-lightest);
  background: -o-linear-gradient(right, $colour-light-dark, $colour-lightest);
  background: -moz-linear-gradient(right, $colour-light-dark, $colour-lightest);
  background: linear-gradient(to right, $colour-light-dark, $colour-lightest);
}

%colour-Light-dark-background-reverse {
  background-color: $colour-light-dark;
  background: -webkit-linear-gradient(right, $colour-light-dark, $colour-lightest);
  background: -o-linear-gradient(left, $colour-light-dark, $colour-lightest);
  background: -moz-linear-gradient(left, $colour-light-dark, $colour-lightest);
  background: linear-gradient(to left, $colour-light-dark, $colour-lightest);
}

%colour-Secondary-background {
  background-color: $colour-Secondary-darker;
  background: -webkit-linear-gradient(left, $colour-Secondary-darker, $colour-Secondary);
  background: -o-linear-gradient(right, $colour-Secondary-darker, $colour-Secondary);
  background: -moz-linear-gradient(right, $colour-Secondary-darker, $colour-Secondary);
  background: linear-gradient(to right, $colour-Secondary-darker, $colour-Secondary);
}

%colour-Tertiary-2-background {
  background-color: $colour-Tertiary-2-darker;
  background: -webkit-linear-gradient(left, $colour-Tertiary-2-darker, $colour-Tertiary-2);
  background: -o-linear-gradient(right, $colour-Tertiary-2-darker, $colour-Tertiary-2);
  background: -moz-linear-gradient(right, $colour-Tertiary-2-darker, $colour-Tertiary-2);
  background: linear-gradient(to right, $colour-Tertiary-2-darker, $colour-Tertiary-2);
}

%colour-Dark-background {
  background-color: $colour-darker;
  background: -webkit-linear-gradient(left, $colour-darker, $colour-dark);
  background: -o-linear-gradient(right, $colour-darker, $colour-dark);
  background: -moz-linear-gradient(right, $colour-darker, $colour-dark);
  background: linear-gradient(to right, $colour-darker, $colour-dark);
}

// Text colours
%colour-text-inverse {
  color: white;
  h1,h2,h3,h4,h5,h6,a {
    color: white;
  }
  a {
    border-bottom-color: white;
  }
}

// Typography
$colour-minorText: #6e6e6e;
$aqua: #18788d;

// Service delivery
$alpha-background: #c22f73;
$alpha-text: #FFF;
$beta-background: #d34600;
$beta-text: #FFF;