// Colors
//
// Markup: colors.twig
//
// Weight: -1
//
// Style guide: sass.colors

$uikit-colour-Hero: #115361 !default; //color variables (yes! the actual spelling doesn't have a u)
$uikit-colour-Primary: #1B7991 !default;
$uikit-colour-Secondary: #313131 !default;
$uikit-colour-Background: #f0f3f5 !default;
$uikit-colour-Border: #CCC;
$uikit-colour-Text: #313131 !default;
$uikit-colour-Link: #5bcbe3 !default;

$uikit-colour-Error: #ff635c !default;
$uikit-colour-Success: #0cac78 !default;
$uikit-colour-Warning: #f69900 !default;
$uikit-colour-Info: #00bfe9 !default;

// Health variables here
$colour-Shadow: rgba(0,0,0,0.1);
$colour-card: #fff;

$colour-Primary: #153a6e;
$colour-Primary-dark: #213363;
$colour-Primary-darker: #1b2a57;
$colour-Primary-light: #22447b;
$colour-Primary-hover: #000b33;

$colour-Secondary: #008998;
$colour-Secondary-dark: #007b89;
$colour-Secondary-darker: #006e7a;
$colour-Secondary-light: #0091a0;
$colour-Secondary-hover: #006570;

$colour-Tertiary: #df2f3b;
$colour-Tertiary-dark: #d42b38;
$colour-Tertiary-darker: #c42832;
$colour-Tertiary-light: #ee303b;
$colour-Tertiary-hover: #a31f26;

$colour-dark: #6d6e70;
$colour-darker: #626366;
$colour-darkest: #58585b;
$colour-dark-hover: #404041;

$colour-light-dark: #e5e5e5;
$colour-light: #ecedee;
$colour-lighter: #f1f1f2;
$colour-lightest: #f9f9f9;

%colour-Primary-background {
  background: $colour-Primary-darker;
  background: -webkit-linear-gradient(left, $colour-Primary-darker, $colour-Primary);
  background: -o-linear-gradient(right, $colour-Primary-darker, $colour-Primary);
  background: -moz-linear-gradient(right, $colour-Primary-darker, $colour-Primary);
  background: linear-gradient(to right, $colour-Primary-darker, $colour-Primary);
}

%colour-Light-background {
  background: $colour-light;
  background: -webkit-linear-gradient(left, $colour-light, $colour-lightest);
  background: -o-linear-gradient(right, $colour-light, $colour-lightest);
  background: -moz-linear-gradient(right, $colour-light, $colour-lightest);
  background: linear-gradient(to right, $colour-light, $colour-lightest);
}

%colour-light-background-reverse {
  background: $colour-lightest;
  background: -webkit-linear-gradient(left, $colour-lightest, $colour-light);
  background: -o-linear-gradient(right, $colour-lightest, $colour-light);
  background: -moz-linear-gradient(right, $colour-lightest, $colour-light);
  background: linear-gradient(to right, $colour-lightest, $colour-light);
}

%colour-Light-dark-background {
  background: $colour-light-dark;
  background: -webkit-linear-gradient(left, $colour-light-dark, $colour-lightest);
  background: -o-linear-gradient(right, $colour-light-dark, $colour-lightest);
  background: -moz-linear-gradient(right, $colour-light-dark, $colour-lightest);
  background: linear-gradient(to right, $colour-light-dark, $colour-lightest);
}

%colour-Secondary-background {
  background: $colour-Secondary-darker;
  background: -webkit-linear-gradient(left, $colour-Secondary-darker, $colour-Secondary);
  background: -o-linear-gradient(right, $colour-Secondary-darker, $colour-Secondary);
  background: -moz-linear-gradient(right, $colour-Secondary-darker, $colour-Secondary);
  background: linear-gradient(to right, $colour-Secondary-darker, $colour-Secondary);
}

%colour-Dark-background {
  background: $colour-darker;
  background: -webkit-linear-gradient(left, $colour-darker, $colour-dark);
  background: -o-linear-gradient(right, $colour-darker, $colour-dark);
  background: -moz-linear-gradient(right, $colour-darker, $colour-dark);
  background: linear-gradient(to right, $colour-darker, $colour-dark);
}

$uikit-colour-Link: $colour-Secondary; // Health override
$uikit-colour-Primary: $colour-Primary; // Health override

// Statistics
$colour-Statistics-blue: $colour-Primary-darker;
$colour-Statistics-orange: $uikit-colour-Warning;
$colour-Statistics-green: $uikit-colour-Success;
$colour-Statistics-red: $uikit-colour-Error;

// Typography
$colour-minorText: #6e6e6e;
$aqua: #18788d;
