// Colors
//
// Markup: colors.twig
//
// Weight: -1
//
// Style guide: sass.colors

$uikit-colour-Hero: #115361 !default; //color variables (yes! the actual spelling doesn't have a u)
$uikit-colour-Primary: #1B7991 !default;
$uikit-colour-Secondary: #313131 !default;
$uikit-colour-Background: #f0f3f5 !default;
$uikit-colour-Border: #CCC;
$uikit-colour-Text: #313131 !default;
$uikit-colour-Link: #5bcbe3 !default;

$uikit-colour-Error: #ff635c !default;
$uikit-colour-Success: #0cac78 !default;
$uikit-colour-Warning: #f69900 !default;
$uikit-colour-Info: #00bfe9 !default;

// Health variables here
$colour-Shadow: rgba(0,0,0,0.1);
$colour-card: #fff;
$colour-Primary: #153a6e;
$colour-Primary-darker: #062855;
$colour-Primary-darkest: #062855;
$colour-Secondary-darker: #f2f2f2;
$colour-Secondary: #f9f9f9;
$colour-Secondary-darkest: #e5e5e5;
$colour-Primary-light: #f2f2f2;
$colour-Callout-darkest: #006e7a;
$colour-Callout: #007b89;
$colour-Callout-lighter: #2da5b3;
$colour-Orange: #c42832;
$colour-Dark: #696969;
$colour-Darker: #0e1b44;

%colour-Primary-background {
  background: $colour-Primary-darkest;
  background: -webkit-linear-gradient(left, $colour-Primary-darkest, $colour-Primary);
  background: -o-linear-gradient(right, $colour-Primary-darkest, $colour-Primary);
  background: -moz-linear-gradient(right, $colour-Primary-darkest, $colour-Primary);
  background: linear-gradient(to right, $colour-Primary-darkest, $colour-Primary);
}

%colour-Secondary-background {
  background: $colour-Secondary-darker;
  background: -webkit-linear-gradient(left, $colour-Secondary-darker, $colour-Secondary);
  background: -o-linear-gradient(right, $colour-Secondary-darker, $colour-Secondary);
  background: -moz-linear-gradient(right, $colour-Secondary-darker, $colour-Secondary);
  background: linear-gradient(to right, $colour-Secondary-darker, $colour-Secondary);
}

%colour-Secondary-background-darkest {
  background: $colour-Secondary-darkest;
  background: -webkit-linear-gradient(left, $colour-Secondary-darkest, $colour-Secondary);
  background: -o-linear-gradient(right, $colour-Secondary-darkest, $colour-Secondary);
  background: -moz-linear-gradient(right, $colour-Secondary-darkest, $colour-Secondary);
  background: linear-gradient(to right, $colour-Secondary-darkest, $colour-Secondary);
}

%colour-Secondary-background-reverse {
  background: $colour-Secondary;
  background: -webkit-linear-gradient(left, $colour-Secondary, $colour-Secondary-darkest);
  background: -o-linear-gradient(right, $colour-Secondary, $colour-Secondary-darkest);
  background: -moz-linear-gradient(right, $colour-Secondary, $colour-Secondary-darkest);
  background: linear-gradient(to right, $colour-Secondary, $colour-Secondary-darkest);
}

%colour-Callout-background {
  background: $colour-Callout-darkest;
  background: -webkit-linear-gradient(left, $colour-Callout-darkest, $colour-Callout);
  background: -o-linear-gradient(right, $colour-Callout-darkest, $colour-Callout);
  background: -moz-linear-gradient(right, $colour-Callout-darkest, $colour-Callout);
  background: linear-gradient(to right, $colour-Callout-darkest, $colour-Callout);
}

$uikit-colour-Link: $colour-Callout; // Health override
$uikit-colour-Primary: $colour-Primary-darkest; // Health override

// Statistics
$colour-Statistics-blue: $colour-Primary-darkest;
$colour-Statistics-orange: $uikit-colour-Warning;
$colour-Statistics-green: $uikit-colour-Success;
$colour-Statistics-red: $uikit-colour-Error;

// Typography
$colour-minorText: #6e6e6e;
$aqua: #18788d;

// Alpha/beta
$colour-Beta: #f47738;