// Variables
//
// Set variables for this site before a library sets its !default value.
//
// Style guide: sass.variables

/**
 * Breakpoints
 */

$uikit-media-xs: 576px; //media query breakpoints
$uikit-media-sm: 768px;
$uikit-media-md: 992px;
$uikit-media-lg: 1200px;


/**
 * Line-height (‘leading’)
 */
$uikit-leading: 1.6;

// Font faces, stacks and sizes.
$uikit-font: 'Open Sans', Verdana, 'Bitstream Vera Sans', sans-serif;
$uikit-font-monospace: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;
$uikit-font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$fontawesome: "FontAwesome";


// Max width for line lengths (the ‘measure’)
$uikit-maxwidth: 42em; //Answer to life, the universe, and everything (keeps things readable on wide viewports).

// Borders
$uikit-borderize: 1px solid $uikit-colour-Border;
$health-borderize: 3px solid $uikit-colour-Border;
$uikit-border-radius: 3px;

// Taskbar
$minHeight-Taskbar: 200px !default;

// Box shadow
$card-shadow: 0px 3px 10px rgba(0,0,0,0.1);