.health-tooltip-theme {
  font-family: $uikit-font;
  padding: uikit-space(.5);

  p {
    padding: 0;
    margin: 0;
  }

  a {
    color: white;
    &:hover,&:active,&:focus {
      color: white;
    }
  }
}