<div class="field field-type-taxonomy-term-reference field-type-entityreference">
  <div class="field-label">Tags: </div>
  <div class="field-items">
    <div class="uikit-tags__item">
      <a href="#">Alcohol</a>
    </div>
    <div class="uikit-tags__item"><a href="#">Immunisation</a></div>
    <div class="uikit-tags__item"><a href="#">Drugs</a></div>
  </div>
  </ul>
</div>
