// Recommendations.

.recommendation__title {
  //@extend .uikit-display-2;
  font-weight: bold;
}

// Colours
.recommendation--practice-point {
  border-left-color: #d9c100;
  .recommendation__grade {
    background-color: #fff4c8;
  }
}

.recommendation--nhmrc-grade {
  border-left-color: #8852ce;
  .recommendation__grade {
    background-color: #e0c8ff;
  }
}

.recommendation--cbr {
  border-left-color: #5f904d;
  .recommendation__grade {
    background-color: #e7fddf;
  }
}
