%recommendation {
  padding: 0.8em 1.6em;
  margin-bottom: 1.6em;
  // Neutral colour.
  border: 1px solid lightgrey;
  border-left: 6px solid grey;
  background: lightgrey;

  p:last-of-type {
    margin-bottom: 0;
  }
}

%recommendation__grade {
  display: inline-block;
  padding: 0.2em 0.8em;
  border-radius: 7px;
  font-size: 13px;
  text-transform: UPPERCASE;
  margin-bottom: 0.8em;
  font-weight: bold;

  // Neutral colour.
  border: 2px solid grey;
  background: lightgrey;
  color: black;
}

// Yellow (practice point)
%recommendation--yellow {
  border-color: #caca09;
  border-left-width: 6px;
  background: #ffffef;

  %recommendation__grade {
    border-color: #b7b748;
    background: #ffffb0;
  }
}

// Purple (Grade A-D)
%recommendation--purple {
  border-color: #6622ad;
  border-left-width: 6px;
  background: #ead5ff;

  %recommendation__grade {
    border-color: #6622ad;
    background: #cfabf5;
  }
}

// Green (CBR)
%recommendation--green {
  border-color: #4b7300;
  border-left-width: 6px;
  background: #e4fbba;

  %recommendation__grade {
    border-color: #4b7300;
    background: #b1e849;
  }
}

@import "print";
@import "extends";