<div class="au-callout recommendation {{modifier_class}} view-mode-full" aria-label="Callout recommendation">
  <p class="au-display-md">Recommendation</p>
  <ul class="au-tags">
    <li class="recommendation__grade">Grading (eg Grade A)</li>
    <li>A</li>
  </ul>
  <p>
    Adopt a respectful, positive and supportive approach in providing antenatal care
    to Aboriginal and Torres Strait Islander women, working in partnership with women, Aboriginal and Torres
    Strait Islander health professionals and communities. This should be informed by cultural safety training for
    health professionals.
  </p>
</div>