// Fields
.field {

  // Generic field after field
  .field + & {
    @include AU-space(margin-top, 1.5unit);
  }
  // Specific field sequences (e..g for vs)
  .metadata--inline + &,
  .field-name-title + &  {
    @include AU-space(margin-top, .5unit);
  }

  @include AU-clearfix();

  .field__label, .field-label {
    font-weight: bold;
  }
}

// Metadata, such as dates and types, used mainly in listings.
.metadata {

  &--inline {

    @include AU-space(margin-top, .5unit);

    .field {
      // Override the default margin top on fields.
      margin-top: 0;
    }

    > div, > span {
      color: $colour-minorText;
      display: inline-block;
      border-left: 1px solid $colour-minorText;
      @include AU-space(margin-left, .5unit);
      @include AU-space(padding-left, .5unit);
    }

    > :first-child {
      border-left: none;
      margin-left: 0;
      padding-left: 0;
    }
  }
}

.health-separator {
  border-top: $health-borderize--very-thin;
  @include AU-space('padding-top', 2unit);
  @include AU-space('margin-top', 1unit);
  @include AU-media(sm){
    @include AU-space('margin-top', 2unit);
  }
  @include AU-media(md){
    @include AU-space('margin-top', 4unit);
  }
}

//// STUFF WE NEED TO UPDATE ////

// External link url
.external-link-url {
  word-break: break-all;
  color: $colour-Secondary-darker;
  @include health-fontgrid('xs', 'default', 'light');
}

// Email telephone field
.field-name-field-contact-email,
.field-name-field-contact-telephone {
  i:before {
    position: relative;
    font-size: 1em;
  }
}

// Paragraph styling
// Email
.paragraphs-item-para-email {
  .field-items{
    padding-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
}

// Telephone
.paragraphs-items-field-para-telephone {
  .field-items{
    padding-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
}

// Document accessibility
.document-accessibility-form {
  @include AU-space('padding', 1.5unit 0);
  color: $colour-minorText;
  a {
    color: $colour-minorText;
  }
  font-size: 0.9em;
}

// Summary
p.summary, .field-name-field-summary {
  @include AU-clearfix;
  clear: both;
}

// Resource title.
.resource-title, p.resource-title {
  @include AU-fontgrid('md');
  @include AU-space('margin-bottom', .5unit);
}

// Override the line height from UIKit on image fields.
.field-name-field-image,
.field-name-field-image-featured {
  div {
    line-height: 0;
  }
}

%minor-text {
  font-size: 13px;
}

.page-accessibility-link {
  @include AU-space(padding-bottom, 1unit);
}

.field-name-field-resource-file-summary {
  @include AU-space(margin-top, 1.5unit);
  @include AU-space(margin-bottom, 1.5unit);
}