.health-filter {
  &__title {
    display: block;
    @include AU-fontgrid('sm');
    font-weight: 700;
    background: #fff;
    border-bottom: 6px solid $colour-Secondary;
    @include AU-space('padding', .5unit 0);
    @include AU-media(sm) {
      display: none;
    }

    @include AU-media(sm) {
      display: block;
      @include AU-fontgrid('lg', 'heading');
      font-weight: normal;
      border-bottom: none;
      &:after {
        background: none;
      }
      padding: 0;

      i {
        display: none;
      }
    }
  }

  &__help {
    display: none;
    @include AU-media(sm) {
      display: block;
    }
  }
}

.block-facetapi {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.8s linear;
  height: 0;
  @include AU-media(sm) {
    visibility: visible;
    opacity: 1;
    height: auto;
    @include AU-space('margin-right', 1 unit);
    @include AU-space('margin-top', .5 unit);
  }

  .facetapi-facetapi-checkbox-links a {
    border: none;
  }
  &.facetshow {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
}
