//
// Health bespoke styles.
//
// Namespace: health
//
//

// For all landing pages.
.node-type-health-topic,
.node-type-health-topic-hp,
.page-node-3406 {
  .page-title {
    &.header.header--light {
      margin-bottom: 0;
    }
  }
}

// Health blocks.
// Handbook band in immunisation topic page for HP.
#block-bean-handbook-featured-block-in-immun {
  .field-name-field-image {
    margin-bottom: 0;
  }

  .group-left {
    float: right;
  }
}

#block-bean-campaign-external-link-block {
  @include AU-space('margin-bottom', 1unit);
}

.node-type-landing-page {
  .field-name-field-image {
    @include block-text-image-svg('large');
  }
}

// More on topic
.node-type-health-topic,
.node-type-health-topic-hp {
  .field-name-field-image {
    @include block-text-image-svg('large');
  }
}

// Special hack for national office contact.
// Hide extra fields from full display that we don't want to display in the national office page.
.page-node-1581 .node-contact {
  .field-name-field-contact-type,
  .field-name-field-contact-organisation,
  .health-separator,
  .field-name-field-date-updated,
  .field-name-field-related-health-topics {
    display: none;
  }
}