// Figure
//
// A figure image with a long description and notes.
//
// Markup: figure.twig
//
// Style guide: Components.figure

.health-figure {
  &--border {
    border: $health-borderize--thin;
    padding: 1rem;
  }
}
figure {
  margin: 0;
  img {
    margin: 0;
  }

  a {
    display: block;
    @extend %baseicon;
    &[href]:before {
      position: absolute;
      font-size: 1.5em;
      right: -10px;
      left: inherit;
      content: "\f00e";
      background: white;
      @include AU-space(padding, .5unit);
      top: inherit;
      bottom: 0;
      border: $health-borderize--very-thin;
    }
  }

  &.au-accordion {
    border: 0;
    .au-accordion__title {
      font-weight: normal;
      font-size: inherit;
    }
    .au-accordion__body {
    }
  }
}
