// Lists
//
// A collection of list types.
//
// Markup: lists.twig
//
// Style guide: Lists

// Highlight an item in a list.
ul {
  li {
    transition: background-color 1s;
    &.highlight {
      background-color: #ffffc6;
    }
  }
}

// Large list styles
%list--large {
  list-style-type: none;
  counter-reset: standard-counter;
  padding: 20px 0 0 0;
  margin: 0;

  >li {
    vertical-align: top;
    position: relative;
    @include AU-space('margin', 0 0 1unit);
    padding: 15px 15px 15px 50px;
    background: $colour-lighter;
    &::before {
      content: counter(standard-counter, decimal);
      counter-increment: standard-counter;
      float: left;
      text-align: center;
      font-weight: 700;
      position: absolute;
      left: 14px;
      top: 9px;
      padding-top: 0;
      font-size: 24px;
    }
    a {
      font-weight: bold;
    }
  }
}

  // Apply default to <ol>
ol.list--large {
  @extend %list--large;
}

// Variant for <ul>
ul.list--large {
  @extend %list--large;
  counter-reset: none;
  > li {
    padding-left: 50px;
    &::before {
      top: 0;
      content: '■';
      counter-increment: none;
    }
  }
}

// Plain list
ul,ol {
  &.list--large--plain {
    @extend %list--large;
    > li {
      @include AU-space('padding-left', 1unit);
      &:before {
        display: none;
      }
    }
  }
}

// Checklist style
ul {
  &.list--large--checklist {
    @extend %list--large;
    > li {
      padding-left: 50px;
      &::before {
        top: 0;
        counter-increment: none;
        content: '◻';
        font-size: 37px;
      }
    }
  }
}

// List items shouldn't be 100% as it is too long and hard to read, just like p tags.
.region-content {
  ul, ol {
    max-width: $AU-maxwidth;
  }
}

.list--remove {
  list-style: none;
  padding-left: 0;
  > li {
    @include AU-space(margin-top, .5unit);
  }
}


// Specific stuff to health.
// @todo Use classes instead of hardcoding.
.facetapi-facetapi-checkbox-links {
  @extend .list--remove;
  margin-top: 0;
  margin-bottom: 0;
}
.view-filters,
.view-content {
  @include AU-clearfix;
  width: 100%;
  .item-list ul {
    @extend .list--remove;
  }
}
