.rsbtn {
  &.health {
    padding-bottom: 0;

    .rsbtn_tools {
      z-index: 500;
    }

    .rsbtn {
      span {
        color: $AU-color-foreground-action;
      }

    }

    .rsbtn_play {
      border: none;
      background: transparent;
      margin-bottom: 0;
      .rsbtn_left {
        margin-left: 34px;
        .rsbtn_text {
          font-size: 16px;
          color: $AU-color-foreground-action;
          -webkit-font-smoothing: inherit;
          -moz-osx-font-smoothing: inherit;
          &:before {
            display: none;
            padding-left: 0;
          }
          span {
            padding-left: 0;
            color: $AU-color-foreground-action;
            font-size: 16px;
            font-family: $AU-font;
            font-weight: normal;
          }
          .rsbtn_label {
            line-height: 24px;
          }
        }
      }
    }

    // When expanded.
    &.rsexpanded {
      width: 325px !important;

      .rsbtn_left {
        margin-left: 10px;
        i {
          display: none;
        }
      }


      .rsbtn_play {
        border: 1px solid $AU-color-foreground-action;
        border-right: none;
      }

      // Right side tools.
      .rsbtn_exp {
        .rsbtn_exp_inner {
          border: 1px solid $AU-color-foreground-action;
          border-left: none;
          border-radius: 0;
          background: transparent;
        }
      }
    }

    // When collapsed.
    &:not(.rsexpanded) {
      .rsbtn_play {
        .rsbtn_left {
          .rsbtn_text {
            .rsbtn_label {
              text-decoration: underline;
            }
          }
        }
        .rsbtn_right {
          &.rsplay {
            display: none;
          }
        }
      }
    }

    // Mobile
    &.rs_mobile {
      .rsbtn_play {
        .rsbtn_left {
          margin-left: 32px;
        }
      }
    }
  }

}
