// Statistics
//
// Displaying statistics in various ways.
//
// .stat--no-trend  - No trend info
//
// Markup: stat.twig
//
// Style guide: components.stats

%stat {
  @extend .row;
  text-align: center;
  margin-bottom: 12px;
}

// Stat wrapper.
%stat__wrapper {
  @extend .col-xs-12;
}

// Card wrapper.
%stat__card {
  overflow: hidden;
  width: 100%;
  @include cardify();
  @include AU-media('md') {
    %stat__text {
      border-bottom: 8px solid white;
    }
    border-bottom: 0;
  }
  border-bottom: 8px solid white;
}

// Colours
%stat__card--primary {
  @extend %stat__card;
  background-color: $colour-Primary-darker;
  color: white;
  @include AU-media('md') {
    %stat__text {
      border-color: $colour-Primary;
    }
  }
  border-color: $colour-Primary;
}

%stat__card--secondary {
  @extend %stat__card;
  background-color: $colour-Secondary-darker;
  color: white;
  @include AU-media('md') {
    %stat__text {
      border-color: $colour-Secondary;
    }
  }
  border-color: $colour-Secondary;
}

%stat__card--tertiary {
  @extend %stat__card;
  background-color: $colour-Tertiary-darker;
  color: white;
  @include AU-media('md') {
    %stat__text {
      border-color: $colour-Tertiary;
    }
  }
  border-color: $colour-Tertiary;
}

%stat__card--dark {
  @extend %stat__card;
  background-color: $colour-darker;
  color: white;
  @include AU-media('md') {
    %stat__text {
      border-color: $colour-dark;
    }
  }
  border-color: $colour-dark;
}

// Statistic value.
%stat__value {
  @extend .col-xs-12;
  @include AU-space('padding', .5unit 0);
  @include AU-media('md') {
    @include AU-space('padding', 1unit 0);
  }
}

%stat__value-value {
  font-size: 3rem;
  @include AU-media('sm') {
    font-size: 4rem;
  }
  line-height: 1.3;
  display: inline;
  margin: 0;
  color: white;
}

%stat__value-suffix,
%stat__value-prefix {
  @include health-fontgrid('xl', 'default', 'light');
}

// Statistic text.
%stat__text {
  @include health-fontgrid('md', 'default', 'light');
  @include AU-space('padding', 0 1unit .25unit 1unit);
  @include AU-media('md') {
    @include AU-space('padding-bottom', 1unit);
  }
}

// The trend.
%stat__trend {
  @extend .col-xs-12;
  padding-top: 12px;
  padding-bottom: 12px;
}

%stat__trend-value {
  padding: 0;
  margin: 0;
  display: inline;
}

%stat__trend-icon {
  margin-right: 5px;
  color: white;
}

// Variation with no trend.
%stat--no-trend {
  .stat__trend {
    @extend %stat__trend--no-trend;
  }
  .stat__value {
    @extend %stat__value--no-trend;
  }
}
%stat__trend--no-trend {
  display: none;
}
%stat__value--no-trend {
  @extend %stat__value;
  border-bottom: 0;
  @extend .col-xs-12;
}

// UIKit overrides.
// Shame!
// @todo There has to be a better way to do this... Danny, help!
.page {
  i.stat__trend-value--positive, i.stat__trend-value--negative {
    font-style: normal;
  }
  p.stat__trend, p.stat__value, p.stat__text {
    margin: 0;
  }
}

@import '_print.scss';
