<div class="au-body">
  <div class="stat {{modifier_class}}">
    <div class="stat__card">
      <p class="stat__value">
        <span class="stat__value-prefix">$</span>
        <span class="stat__value-value">37.29</span>
        <span class="stat__value-suffix">million</span>
      </p>
      <p class="stat__text">spent on hospital treatments due to antibiotics</p>
      <div class="stat__trend">
        <p class="stat__trend-value">
          + $1million in 2012
        </p>
        <i class="fa fa--right fa-arrow-up stat__trend-icon stat__trend-icon--negative" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>