
<div class="page">
  <div class="row">
    <div class="col-md-4">
      <div class="stat {{modifier_class}}">
        <div class="stat__wrapper">
          <div class="stat__card--blue">
            <p class="stat__value">
              <span class="stat__value-prefix">$</span>
              <span class="stat__value-value">37.29</span>
              <span class="stat__value-suffix">million</span>
            </p>
            <p class="stat__text">spent on hospital treatments due to antibiotics</p>
            <p class="stat__trend">
              + $1million in 2012
              <i class="fa fa-arrow-up stat__trend-icon stat__trend-icon--negative" aria-hidden="true"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="stat {{modifier_class}}">
        <div class="stat__wrapper">
          <div class="stat__card--blue">
            <p class="stat__value">
              <span class="stat__value-prefix">$</span>
              <span class="stat__value-value">37.29</span>
              <span class="stat__value-suffix">million</span>
            </p>
            <p class="stat__text">spent on hospital treatments due to antibiotics</p>
            <p class="stat__trend">
              + $1million in 2012
              <i class="fa fa-arrow-up stat__trend-icon stat__trend-icon--negative" aria-hidden="true"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="stat {{modifier_class}}">
        <div class="stat__wrapper">
          <div class="stat__card--blue">
            <p class="stat__value">
              <span class="stat__value-prefix">$</span>
              <span class="stat__value-value">37.29</span>
              <span class="stat__value-suffix">million</span>
            </p>
            <p class="stat__text">spent on hospital treatments due to antibiotics</p>
            <p class="stat__trend">
              + $1million in 2012
              <i class="fa fa-arrow-up stat__trend-icon stat__trend-icon--negative" aria-hidden="true"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>