<div class="page">
    <div class="row">
      <div class="col-md-4">
        <div class="stat {{modifier_class}}">
          <div class="stat__wrapper">
            <div class="stat__card--blue">
              <h4 class="stat__header">Antibiotic prescriptions to non-hospital patients in 2015</h4>
              <p class="stat__count">
                <span class="stat__count-value">37.29</span>
                <span class="stat__count-units">%</span>
              </p>
              <p class="stat__trend">
              <span class="stat__trend-value">
                + 10.45%
                <i class="fa fa-arrow-up stat__trend-value--positive" aria-hidden="true"></i>
              </span>
                <span class="stat__trend-date">since Sept 2012</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="stat {{modifier_class}}">
          <div class="stat__wrapper">
            <div class="stat__card--blue">
              <h4 class="stat__header">Short title</h4>
              <p class="stat__count">
                <span class="stat__count-value">37</span>
                <span class="stat__count-units">million</span>
              </p>
              <p class="stat__trend">
              <span class="stat__trend-value">
                - 3 million
                <i class="fa fa-arrow-down stat__trend-value--negative" aria-hidden="true"></i>
              </span>
                <span class="stat__trend-date">in 2017</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="stat {{modifier_class}}">
          <div class="stat__wrapper">
            <div class="stat__card--blue">
              <h4 class="stat__header">Average cost of milk</h4>
              <p class="stat__count">
                <span class="stat__count-units--left">$</span>
                <span class="stat__count-value">5.50</span>
              </p>
              <p class="stat__trend">
              <span class="stat__trend-value">
                + $0.45
                <i class="fa fa-arrow-up stat__trend-value--negative" aria-hidden="true"></i>
              </span>
                <span class="stat__trend-date">Over the last 2 years</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>