// Tabs
//
// The primary and secondary tabs.
//
// Markup: tabs.twig
//
// .tabs--secondary - Secondary tabs
//
// Style guide: navigation.tabs

// Tabs (stacked)
//
// When the secondary tabs appear directly after the primary tabs, the styling
// is slightly different.
//
// Markup: tabs--stacked.twig
//
// Style guide: navigation.tabs.stacked

@import 'print';

.tabs,
%tabs {
  @extend .uikit-link-list;
  @extend .uikit-link-list--inline;
  border-bottom: $uikit-borderize;
  width: 100%;
  // Need to use body otherwise padding gets hit with uikitbody ul
  .uikit-body & {
    padding-bottom: 0;
    margin-bottom: uikit-space(1);
    li {
      margin: 0 uikit-space(.25) 0 0;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.tabs--secondary,
%tabs--secondary {
  // Second level tabs.
  // @todo Create this.
}

.tabs__tab,
%tabs__tab {
  display: block;
  float: left;
}

.tabs__tab__link,
%tabs__tab__link {
  border: 0;
  display: block;
  padding: uikit-space(.5) uikit-space(.5);
  border-bottom: 4px solid transparent;
  &:hover,
  &:focus {
    border-bottom: 4px solid $uikit-colour-Primary;
    background-color: $uikit-colour-Link;
  }
}

.tabs__tab__link--active,
%tabs__tab__link--active {
  @extend %tabs__tab__link;
  border-bottom: 4px solid $uikit-colour-Primary;
  background-color: $uikit-colour-Link;
  font-weight: bold;
}