<ul class="tabs {{modifier_class}}">
  <li class="tabs__tab"><a href="#" class="tabs__tab__link--active">View <span class="visually-hidden">(active tab)</span></a></li>
  <li class="tabs__tab"><a href="#" class="tabs__tab__link">Edit</a></li>
  <li class="tabs__tab"><a href="#" class="tabs__tab__link">Revisions</a></li>
</ul>
