// For Topic landing pages.
.node-type-health-topic,
.node-type-health-topic-hp {

  .page-title__supp {
    .region-title-supp {
      @extend %colour-Primary-background;

      .block-bean-call-to-action {
        padding: uikit-space(1);
      }

      color: white;
      .field-name-field-link-to a {
        color: white;
        border-color: white;
        font-size: 1.2em;
        &:after {
          color: white;
        }
      }
      .block__title {
        color: white;
      }
    }
  }
}

// For all landing pages.
.node-type-health-topic,
.node-type-health-topic-hp {
  .page-title {
    &.header.header--light {
      margin-bottom: 0;
    }
  }
}

