// Section header + breadcrumbs
.page-title {
  h1 {
    @extend .uikit-header-heading;
    color: $uikit-colour-Text;
    background: none;
    font-family: $uikit-font-system;
  }
  &.header.header--light {
    @extend %colour-Light-background;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    color: $uikit-colour-Text;
    @include uikit-media(sm){
      margin-bottom: uikit-space(2);
    }
  }
}

.page-title__core {
  @extend .col-sm-8;
  padding: 12px;
  @include uikit-media(sm){
    padding: uikit-space(1) 0 uikit-space(1) 0;
  }

  max-width: 56em;

  // In case no section-supp.
  &.full {
    @extend .col-sm-12;
    max-width: 100%;
  }

  // Section header link
  .section-header {

    @include uikit-media(sm) { // Hide on desktop
      display: none;
    }

    @extend .uikit-display-2;
    //font-weight: 700;
    font-size: 16px;
    margin-bottom: uikit-space(0.65);

    .back-icon {
      float: left;
    }
    a {
      margin-left: 20px;
      margin-right: 90px;
      float: left;
      border-bottom: 0;
      span {
        border-bottom: 1px solid $colour-Secondary;
      }
    }

    @include uikit-clearfix;
  }

  // Summary
  .summary {
    @extend .uikit-header-subline;
    margin-bottom: uikit-space(0.5);
  }

}

.page-title__supp {
  @extend .col-sm-4;
  @include uikit-media( md ) {
    display: table;
  }
  .region-title-supp {

    display: block;
    @include uikit-media( md ) {
      display: table-cell;
      vertical-align: middle;
    }

    .block-bean-call-to-action {
      padding: uikit-space(0.5) uikit-space(1);

      .main-content {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
      }
      .field-name-field-link-to a {
        font-size: 16px;
        margin-bottom: 0;
        &:hover, &:focus {
          color: white;
        }
        svg {
          font-size: 1.2em;
          margin-right: 10px;
        }
      }
      .block__title {
        @extend .uikit-display-3;
      }
    }

  }

  // Program logo
  .field-name-field-image-featured {
      padding: uikit-space(1.5) 0 0 0;
      text-align: right;
  }
}

// Hide page-title__supp.
%page-title-no-supp {
  .page-title__supp {
    display: none;
  }
  .page-title__core {
    @extend .col-xs-12;
  }
}

