// Section header + breadcrumbs
.page-title {
  &.header.header--light {
    @extend %colour-Light-background;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: uikit-space(1);
    @include uikit-media(sm){
      margin-bottom: uikit-space(2);
    }
  }
}

.page-title__core {
  @extend .col-sm-8;
  padding: 12px;
  @include uikit-media(sm){
    padding: uikit-space(1) 0;
    &.section-title {
      padding: uikit-space(0.5) 12px;
    }
  }

  // Section title (large)
  .uikit-header-heading {}

  // Section title (small)
  .section-header {
    @extend .uikit-display-2;
    font-weight: 700;
    margin-bottom: 0;
    a {
      border-bottom: 0;
    }
    @include uikit-media(sm) {
      display: none;
    }
  }

  // Summary
  .summary {
    @extend .uikit-header-subline;
    margin-bottom: 0;
  }

}

.page-title__supp {
  display: none;
  @include uikit-media(sm) {
    display: block;
  }
  @extend .col-sm-4;
  @include uikit-media( md ) {
    display: table;
  }
  .region-title-supp {

    background-color: $colour-light;

    display: block;
    @include uikit-media( md ) {
      display: table-cell;
      vertical-align: middle;
    }

    .block-bean-call-to-action {
      padding: uikit-space(0.5) uikit-space(1);

      .main-content {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
      }
      .field-name-field-link-to a {
        font-size: 14px;
        margin-bottom: 0;
        &:after {
          color: black;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E   %3Cpath fill='black' d='M128 64l-64 64-16-16 64-64'/%3E   %3Cpath fill='black' d='M128 64l-16 16-64-64L64 0'/%3E  %3C/svg%3E");
        }
      }
      .block__title {
        @extend .uikit-display-3;
      }
    }

  }

  // Program logo
  .field-name-field-image-featured {
      padding: uikit-space(1.5) 0 0 0;
      text-align: right;
  }
}

