// Footer
//
// We all know what a footer is.
.au-footer {

  // for IE 9.
  background-color: $colour-Primary-darker;

  @extend %colour-Primary-background;

  padding-left: 0;
  padding-right: 0;
  border: 0;

  a {
    color: white;
    &:hover {
      background: none;
      color: white;
      text-decoration: none;
    }
    &[rel~='external']:after {
      color: white
    }
  }
  h3.block__title {
    color: white;
  }
  color: white;
  .field-name-field-link-to a {
    @extend .au-btn.au-btn--dark.au-btn--secondary;
    background-color: transparent;
    &:hover:not(:disabled), &:focus:not(:disabled) {
      background-color: transparent;
    }
  }

  .au-footer__end {
    padding-top: 1.6em;
    border-top: 1px solid #ccc;
    margin-top: 1.6em;
    small {
      color: white;
    }
  }
}

