// Footer
//
// We all know what a footer is.
.au-footer {

  &.au-body.au-body--dark.au-footer--dark {
    @extend %colour-Primary-background;
  }

  padding-left: 0;
  padding-right: 0;
  border: 0;

  &__navigation {
    .block {
      @extend .col-md-3;
      @include AU-space('margin-bottom', 1 unit);
      @include AU-media(md) {
        margin-bottom: 0;
      }

      h3 {
        @include AU-space(margin-top, 1.5unit);
        @include AU-media(sm) {
          margin-top: 0;
        }
      }

      &:first-of-type {
        h3 {
          margin-top: 0;
        }
      }
    }
  }

  &__logo {
    max-width: 157px;
    padding-left: 12px;
  }

  &__end {
    padding-top: 1.6em;
    border-top: 1px solid #ccc;
    margin-top: 1.6em;
    small {
      color: white;
    }
  }

  @media print {
    display: none;
  }
}
