//--------------------------------------------------------------
// Main nav
//--------------------------------------------------------------

.au-main-nav {
  border-bottom-color: $colour-light-dark;
  a {
    @include AU-media(sm) {
      font-weight: bold;
    }
    color: $AU-color-foreground-text;

    @include AU-media(sm) {
      &:hover, &:focus {
        border-bottom: .5rem solid $colour-Secondary-hover;
        margin-bottom: -.5rem;
      }
    }
  }

  .au-link-list {
    > li {

      &.active {
        a {
          font-weight: bold;
          @include AU-media(sm) {
            border-bottom: .5rem solid $colour-Secondary;
            margin-bottom: -.5rem;
            padding: 1rem;
          }
        }
      }

      // Hide menu links appended after Resources.
      &.menu-mlid-130106,
      &.menu-mlid-130111,
      &.menu-mlid-130116,
      &.menu-mlid-130121 {
        @include AU-media(sm) {
          display: none;
        }
      }
    }
  }

  .au-main-nav__toggle {
    color: $AU-color-foreground-text;
    font-weight: bold;
    font-size: 1.25rem;
    @include AU-space(padding, .5unit .5unit .5unit 0);
    &:before {
      content: ""
    }
    i {
      font-size: 1rem;
    }

    &--search {
      float: right;
    }
  }

  @at-root .js & .au-main-nav__menu {
    z-index: 600;
  }
}

// SHAME! Sub menu above search
#block-menu-menu-sub-menu {
  ul {
    float: right;
  }
  display: none;
  @include AU-media(sm) {
    display: block;
  }
}