//--------------------------------------------------------------
// Main nav
//--------------------------------------------------------------

.au-main-nav {
  border-bottom-color: $colour-light-dark;
  a {
    @include AU-media($AU-main-nav-breakpoint) {
      font-weight: bold;
    }
    color: $AU-color-foreground-text;

    @include AU-media($AU-main-nav-breakpoint) {
      &:hover, &:focus {
        border-bottom: .5rem solid $colour-Secondary-hover;
        @include AU-space(margin-bottom, -.5unit);
      }
    }
  }

  .au-link-list {
    > li {

      &.active, &.active-trail {
        a {
          font-weight: bold;
          @include AU-media($AU-main-nav-breakpoint) {
            border-bottom: .5rem solid $colour-Secondary;
            @include AU-space(margin-bottom, -.5unit);
            @include AU-space(padding, 1unit);
          }
        }
      }

      // Hide menu links appended after Resources.
      &.menu-mlid-130106,
      &.menu-mlid-130111,
      &.menu-mlid-130116,
      &.menu-mlid-130121 {
        @include AU-media($AU-main-nav-breakpoint) {
          display: none;
        }
      }
    }
  }

  .au-main-nav__toggle {
    color: $AU-color-foreground-text;
    font-weight: bold;
    font-size: 1.25rem;
    @include AU-space(padding, .5unit 0);
    &:before {
      content: ""
    }
    i {
      font-size: 1rem;
    }

    &--search {
      float: right;
      @include AU-media($AU-main-nav-breakpoint) {
        display: none;
      }
    }
  }

}

// SHAME! Sub menu above search
#block-menu-menu-sub-menu {
  ul {
    float: right;
  }
  display: none;
  @include AU-media($AU-main-nav-breakpoint) {
    display: block;
  }
}
