//--------------------------------------------------------------
// Search styles
// Extending the UI kits search styles into the base
//
//------------------------------------------------------------

#search-block-form {
  @extend .uikit-search;
}

.uikit-header #search-block-form {
  @extend %uikit-search;
}

#block-search-api-page-default-search {
  @extend %uikit-search;
}

.uikit-header #block-search-api-page-default-search {
  @extend %uikit-search;
}

.block-search-api-page {
  @extend %uikit-search;
  .search-form {
    margin: 0;
  }
}

.view-filters .views-exposed-form {
  @extend %uikit-search;
  overflow: hidden;
  margin-bottom: uikit-space(1);
  @include uikit-media(md){
    max-width: 400px;
  }
  .views-exposed-widgets {
    margin-bottom: 0;
    .views-exposed-widget {
      padding: 0;
    }
  }
  .views-submit-button {
    float: none;
    padding: 0;
    .form-submit {
      margin-top: 0;
    }
  }
}
