//--------------------------------------------------------------
// Search styles
// Extending the UI kits search styles into the base
//
//------------------------------------------------------------

#search-block-form,
.au-header #search-block-form {
  @extend %health-search;
}

#block-search-api-page-default-search,
.au-header #block-search-api-page-default-search {
  @extend %health-search;
}

.block-search-api-page {
  @extend %health-search;
  .search-form {
    margin: 0;
  }
}


.view-filters .views-exposed-form {
  @extend %health-search;
  overflow: hidden;
  @include AU-space('margin-bottom', 1unit);
  @include AU-media(md){
    max-width: 400px;
  }
  .views-exposed-widgets {
    margin-bottom: 0;
    .views-exposed-widget {
      padding: 0;
    }
  }
  .views-submit-button {
    float: none;
    padding: 0;
    .form-submit {
      margin-top: 0;
    }
  }
  .form-item {
    input {
      border-color: $colour-Tertiary-2-darker;
    }
  }
  .form-submit {
    background-color: $colour-Tertiary-2-darker;
    &:hover,
    &:focus {
      background-color: $colour-Tertiary-2-hover;
    }
  }
}
