<form class="uikit-search">
  <div class="form-item">
    <label for="search-input">Search</label>
    <input id="search-input" type="text" placeholder="Search">
  </div>
  <div class="form-actions">
    <input type="submit" class="form-submit">
  </div>
</form>