// Getting started
.paragraphs-item-para-links {
  // This creates .container and .row from band markup for BS grid
  @include row-and-container; // Band title
  h2 {
    @extend .col-xs-12;
    @include health-fontgrid('xl', 'default', 'light');
    @include AU-space('padding-bottom', .25unit);
    @include AU-space('margin-bottom', .5unit);;
  }
  // Each item
  .field-type-link-field {
    @extend %list-item-title--medium;
  }
  .field-name-field-summary {
    @include AU-space('margin-bottom', 1unit);
  }
}

// Browse by lifestage
.paragraphs-item-para-taxonomies {
  clear: both;
  @include AU-clearfix; // This creates .container and .row from band markup for BS grid
  &.para-container {
    @extend %band--neutral;
    padding-bottom: 0;
    margin-bottom: -12px;
    @include AU-media(sm) {
      margin-bottom: -24px;
    }
  }
  @include row-and-container;
  overflow: hidden;
  @include AU-space('padding-bottom', .75unit); // Band title
  h2 {
    @extend .col-xs-12;
    @include health-fontgrid('xl', 'default', 'light');
    @include AU-space('padding-bottom', .75unit);
  } // Items
  // Wrapper title/summary
  .field-name-field-taxonomy-paragraph {
    >.field-items {
      >.field-item {
        @extend .col-sm-6;
        @extend .col-md-3;
        .para-container {
          margin-bottom: 12px;
          @include AU-media(sm) {
            margin-bottom: 24px;
          }
          padding: 0;
        } // Hide external link label.
        svg {
          display: none;
        }
        .field-type-entityreference {
          @include AU-space('padding', 1unit);
          max-height: 300px;
          display: block;
          overflow: hidden;
          @include card-colour($colour-Secondary); // Add mobile width 100% and odd/even handling
          // Title
          .field-name-title {
            @include AU-space('margin-bottom', .5unit);
            h3 {
              @extend %list-item-title--medium;
              text-decoration: underline;
              display: inline;
              &:hover {
                text-decoration: none;
              }
            }
          } // Override drupal taxonomy term style.
          .taxonomy-term-description {
            padding: 0;
            margin: 0;
          }
          &:hover {
            h3 {
              border-bottom: none;
            }
          }
          .group-left,
          .group-right {
            display: block;
            width: 100%;
            margin-bottom: 0;
          }
          .group-left {
            margin-bottom: 0;
            max-width: 20%;
            float: right;
          }
        }
        &.even .field-type-entityreference {
          margin-left: 0;
        }
        &.odd .field-type-entityreference {
          margin-right: 0;
        }
      }
    }
  } // Title
  h2 {
    @include health-fontgrid('xl', 'default', 'light');
  }
}

// contact hotline
.paragraphs-item-para-contact {
  text-align: center;
  p {
    margin-left: auto;
    margin-right: auto;
  }
}

// Contact hot line bar
.paragraphs-item-para-contact {
  // This creates .container and .row from band markup for BS grid
  &.para-row {
    padding-top: 0;
    padding-bottom: 0;
  }

  // Layout
  .group-left {
    @include AU-space('padding-top', 1.5unit);
    @include AU-media(sm){
      @include AU-space('padding-bottom', 1.5unit);
      @include AU-space('padding-left', 1unit);
      @include AU-space('padding-right', 1unit);
      background: $colour-Tertiary-2-hover;
    }
  }
  .group-right {
    @include AU-space('padding-bottom', 1.5unit);
    @include AU-media(sm){
      @include AU-space('padding-top', 1.5unit);
      @include AU-space('padding-left', 2unit);
    }
  }

  // Text align
  text-align: center;
  p {
    margin-left: auto;
    margin-right: auto;
  }
  @include AU-media(sm) {
    text-align: left;
    p {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .field-name-field-related-contact {
    padding-left: 12px;
    padding-right: 12px;

    .paragraphs-item-para-telephone {
      padding: 0;
      .field-name-field-contact-telephone {
        @include AU-fontgrid(xl, heading);
        font-weight: 700;
      }
      i {
        color: #fff;
      }
    }
  }
}

// Statistics
.paragraphs-item-para-statistics {
  // This creates .container and .row from band markup for BS grid
  &.para-container {
    @extend %band;
  }
  @include row-and-container;
  .view-mode-full {
    h2 {
      @include health-fontgrid('xl', 'default', 'light');
      @include AU-space('padding-bottom', .75unit);
    }
  } // Wrapper title/summary
  h2,
  .field-name-field-summary,
  .field-name-field-link-internal {
    @extend .col-xs-12;
  }
  .field-name-field-summary {
    p {
      @include AU-space('margin-top', .5unit);
      @include AU-space('margin-bottom', .5unit);
    }
  }
  .field-name-field-link-internal {
    a {
      @extend .health-cta-link;
    }
  }
}

// Two columns - review
.paragraphs-item-two-columns {
  // Layout
  @include row-and-container;
  >.para-row {
    >.group-header,
    >.group-footer {
      @extend .col-xs-12;
    }
    >.group-left,
    >.group-right {
      @extend .col-xs-12;
      @extend .col-sm-6;
    }
  } // Prevent nested block paragraphs in two column from using container and row.
  // @todo Should we remove paragraphs-item-para-block container and row by default, and just let each individual one decide on a case by case basis?
  >.para-row {
    .paragraphs-item-para-block {
      .inside-para-container {
        box-sizing: inherit;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        width: auto;
        .para-row {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
  &.view-mode-full {
    >.para-row {
      >h2,
      >.group-header>h2 {
        @include health-fontgrid('xl', 'default', 'light');
        @include AU-space('padding-bottom', .75unit);
      }
      .group-header {
        .field-name-field-summary {
          @include AU-space('margin-bottom', 1unit);
        }
      }
      >.group-left,
      >.group-right {
        @include AU-space('margin-bottom', 1unit);
        @include AU-media(sm) {
          margin: 0;
        }
      } // Shame!
      >.group-footer {
        .paragraphs-item-para-link {
          a {
            @extend .health-cta-link;
          }
        }
      }
    }
  }
}

// Block para
.paragraphs-item-para-block {
  &.para-container {
    @extend %band;
  } // @todo Should we remove paragraphs-item-para-block container and row by default, and just let each individual one decide on a case by case basis?
  @include row-and-container;
  .field-name-field-title {
    @include health-fontgrid('xl', 'default', 'light');
    @include AU-space('padding-bottom', .75unit);
  }
  .field-name-field-title,
  .field-name-field-summary {
    @extend .col-xs-12;
  }
  .bean-basic-content {
    @extend .col-xs-12;
  }
}

// Image
.paragraphs-item-para-content-image {
  .field-name-field-image {
    line-height: 0;
  }
  @include AU-space('margin-bottom', 1unit);
}

// Featured video
.paragraphs-item-featured-videos {
  // This creates .container and .row from band markup for BS grid
  @include row-and-container; // Band title
  @include AU-space('padding', 1unit);
  // layout
  .group-left {
    width: 100%;
    @include AU-media(sm) {
      width: 40%;
      float: left;
    }
  }
  .group-right {
    width: 100%;
    @include AU-media(sm) {
      width: 60%;
      float: right;
    }
  }

  // field
  .field-name-field-link-to {
    a {
      @extend .health-cta-link;
    }
  }
}

// Contacts
.paragraphs-item-contacts {
  // Layout of contacts.
  .field-name-field-para-contacts {
    @extend .row;
    > .field-items > .field-item {
      @extend .col-sm-3;
      text-align: center;
    }
  }
  .field-name-field-link-internal a {
    @extend .health-cta-link;
  }
}