// Getting started
.paragraphs-item-para-links {

    // This creates .container and .row from band markup for BS grid
    @include row-and-container;

    // Band title
    h2 {
        @extend .col-xs-12;
        @extend .uikit-display-4;
        padding-bottom: uikit-space(.25);
        margin-bottom: uikit-space(.5);
    }

    // Each item
    .paragraphs-item-para-link {
        @extend .col-sm-6;
        @extend .col-md-3;
    }

    // Item link
    .field-type-link-field {
        @extend .tile__title;
    }
}

// Browse by lifestage
.paragraphs-item-para-taxonomies {
    clear: both;
    @include uikit-clearfix();
    // This creates .container and .row from band markup for BS grid
    &.para-container {
        @extend %band--neutral;
        padding-bottom: 0;
        margin-bottom: -12px;
        @include uikit-media(sm) {
          margin-bottom: -24px;
        }
    }
    @include row-and-container;
    overflow: hidden;
    padding-bottom: uikit-space(0.75);

    // Band title
    h2 {
        @extend .col-xs-12;
        @extend .uikit-display-4;
        padding-bottom: uikit-space(.25);
        margin-bottom: uikit-space(.5);
    }

    // Items
    // Wrapper title/summary
    .field-name-field-taxonomy-paragraph {
        > .field-items {
            > .field-item {
                @extend .col-sm-6;
                @extend .col-md-3;

                .para-container {
                    margin-bottom: 12px;
                    @include uikit-media(sm) {
                      margin-bottom: 24px;
                    }
                    padding: 0;
                }

                .taxonomy-term-description {
                  margin: 0;
                  p {
                    margin: 0;
                  }
                }

                // Hide external link label.
                a:after {
                    display: none;
                }
                .field-type-entityreference {
                    padding: uikit-space(1);
                    max-height: 300px;
                    display: block;
                    overflow: hidden;

                    @include card-colour($colour-Secondary);
                    // Add mobile width 100% and odd/even handling
                    // Title
                    h3 {
                      @extend %list-item-title;
                      border-bottom: 1px solid white;
                      display: inline;
                    }

                    .group-left,
                    .group-right {
                        display: block;
                        width: 100%;
                        margin-bottom: 0;
                    }

                    .group-left {
                        margin-bottom: 0;
                        max-width: 20%;
                        float: right;
                    }
                }
                &.even .field-type-entityreference {
                    margin-left: 0;
                }
                &.odd .field-type-entityreference {
                    margin-right: 0;
                }
            }
        }
    }

    // Title
    h2 {
        @extend .uikit-display-4;
    }
}

// Contact
.paragraphs-item-para-contact {
    // This creates .container and .row from band markup for BS grid
    &.para-container {
        @extend %band; 
    }
    @include row-and-container;
    // display mode
    .view-mode-hotline_bar {
        h2 {
            @extend .uikit-display-4;
        }
        .paragraphs-item-para-telephone {
            padding: 0;
            .field-name-field-contact-telephone {
                @extend .uikit-display-3;
                font-weight: 700;
            }
        }
    }
}

// Statistics
.paragraphs-item-para-statistics {
  // This creates .container and .row from band markup for BS grid
  &.para-container {
    @extend %band;
  }
  @include row-and-container;
  .view-mode-full {
    h2 {
      @extend .uikit-display-4;
    }
  }
  // Wrapper title/summary
  h2,
  .field-name-field-summary, .field-name-field-link-internal {
    @extend .col-xs-12;
  }

  .field-name-field-summary {
    p {
      margin: uikit-space(0.5) 0 uikit-space(0.75) 0;
    }
  }

  .field-name-field-link-internal {
    a {
      @extend .uikit-cta-link;
    }
  }

  // 2 in a row.
  &.listing__count--2 {
    .field-name-field-statistics > .field-items > .field-item {
      @extend .col-md-6;
    }
  }

  // 3 in a row.
  &.listing__count--3 {
    .field-name-field-statistics > .field-items > .field-item {
      @extend .col-md-4;
    }
  }

  // 4 in a row.
  &.listing__count--4 {
    .field-name-field-statistics > .field-items > .field-item {
      @extend .col-md-3;
    }
  }
}

// Two columns - review
.paragraphs-item-two-columns {
  // Layout
  @include row-and-container;
  > .para-row {
    > .group-header,
    > .group-footer {
      @extend .col-xs-12;
    }
    > .group-left,
    > .group-right {
      @extend .col-xs-12;
      @extend .col-sm-6;
    }
  }

  .view-mode-full {
    .para-row {
      h2 {
        @extend .uikit-display-4;
      }
      > .group-left,
      > .group-right {
        margin-bottom: uikit-space(1);
        @include uikit-media(sm) {
          margin: 0;
        }
      }

      // Shame!
      .group-footer {
        .paragraphs-item-para-link {
          a {
            @extend .uikit-cta-link;
          }
        }
      }
    }
  }
}

// Block para
.paragraphs-item-para-block {
  &.para-container {
    @extend %band;
  }
  @include row-and-container;

  // Add padding between items, mainly needed for responsive.
  .block.block-bean .entity-bean {
    padding-top: uikit-space(.25);
    padding-bottom: uikit-space(.25);
    margin-top: uikit-space(.25);
    margin-bottom: uikit-space(.25);
  }

  .field-name-field-title {
    @extend .uikit-display-4;
  }

  .field-name-field-title,
  .field-name-field-summary {
    @extend .col-xs-12;
  }

  .bean-basic-content {
    @extend .col-xs-12;
  }
}

// View para
.paragraphs-item-para-view {
    .para-row {
        > a {
            @extend .uikit-cta-link;
        }
    }
}
