// Define view styles

// Components in views may or may not have their own fixed width by breakpoint.
// Danny - consider unit widths (fixed px default with --flex variant of 100%)

// View footer
.page-views {
	@extend %page-help-only;
}

// Generic Listing view
.page-views,
.view-generic-view {
    .view-content {
        margin-bottom: uikit-space(1);
        .views-row {
            @include uikit-clearfix();
            border-bottom: $uikit-borderize;
            padding-top: uikit-space(.5);
            padding-bottom: uikit-space(.5);
            @include uikit-media(md){
                padding-top: uikit-space(1.5);
                padding-bottom: uikit-space(1);
            }
            &:first-child,
            &.views-row-first {
                padding-top: 1.6em;
            }
            &:last-child,
            &.views-row-last {
                border-bottom: 0;
            }
        }
    }
    ul.pager {
        max-width: 100%;
    }
}

// Topic listing
.page-topics {
    .view-content {
        .views-row {
            &:first-child,
            &.views-row-first {
                padding-top: 0;
            }
        }
    }
}

// Features - small
.paragraphs-view-news_and_events,
.paragraphs-view-display-latest_resources_hp,
.paragraphs-view-display-resources_for_public_in_hp,
.paragraphs-view-display-latest_resources_public,
.paragraphs-view-display-global_public,
.paragraphs-view-latest_rsources
 {
    .views-row {
        margin-bottom: uikit-space(.5);
        @include uikit-media(sm) {
          margin-bottom: uikit-space(1);
        }
        @include uikit-clearfix();
        &:last-of-type {
          margin-bottom: 0;
        }
    }
}

// Popular resources
.paragraphs-view-display-popular_resources {
    .views-row {
        margin-bottom: uikit-space(1);
        @include uikit-clearfix();
    }
}

// Generic listing
.view-header .view-result-summary {
    @extend .uikit-display-2;
    span {
        font-size: 30px;
        font-weight: 700;
    }
    @include uikit-media(sm) {
      float: left;
      margin-right: 45px;
    }
}
