// Define view styles

// Components in views may or may not have their own fixed width by breakpoint.
// Danny - consider unit widths (fixed px default with --flex variant of 100%)

// View footer
.page-views {
	@extend %page-help-only;
}

// Generic Listing view
.page-views,
.view-generic-view {
    .view-content {
        @include AU-space('margin-bottom', 1unit);
        .views-row {
            @include AU-clearfix;
            border-bottom: $health-borderize--very-thin;
            @include AU-space('padding-top', .5unit);
            @include AU-space('padding-bottom', .5unit);
            @include AU-media(md){
                @include AU-space('padding-top', 1.5unit);
                @include AU-space('padding-bottom', 1unit);
            }
            &:first-child,
            &.views-row-first {
                padding-top: 1.6em;
            }
            &:last-child,
            &.views-row-last {
                border-bottom: 0;
            }
        }
    }
    ul.pager {
        max-width: 100%;
    }
}

// Topic listing
.page-topics {
    .view-content {
        .views-row {
            &:first-child,
            &.views-row-first {
                padding-top: 0;
            }
        }
    }
}

// Latest items - card
.paragraphs-view-news_and_events,
.paragraphs-view-display-global_public,
.paragraphs-view-latest_rsources
{
    @include AU-space( margin-top, 2unit );
    @extend %band--neutral-darkest;
    h2 {
        @include AU-space('margin-bottom', 1.5unit);
    }
    .more-link {
        float: left;
        @include AU-media(sm) {
            float: right;
        }
    }
}
.paragraphs-view-news_and_events {
  @include cards-news;
}

// Popular resources
.paragraphs-view-display-popular_resources {
    .views-row {
        @include AU-space('margin-bottom', 1unit);
        @include AU-clearfix;
    }
}

// Generic listing
.view-header .view-result-summary {
    @include health-fontgrid('md', 'default', 'light');
    span {
      @include health-fontgrid('xl', 'nospace');
    }
    @include AU-media(sm) {
      float: left;
      margin-right: 45px;
    }
}

