// Tables
//
// The `<table>` element displays tabular data in rows, columns, and cells.
//
// Markup: tables-table.twig
//
// Weight: 1
//
// Style guide: base.table

.field-name-field-title {
  @extend %figure__title;
}

.figure__wrapper {
  @extend %figure__wrapper;

  figure {
    @extend %figure;

    img {
      @extend %figure__image;
    }

    figcaption {
      @extend %figure__caption;
      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .field-name-field-table-source {
    @extend %figure__footnote;
    p:last-of-type {
      margin-bottom: 0;
    }
  }
}