<div class="figure">
  <p class="figure__title">Figure B1: Duration of exclusive and any breastfeeding among babies aged 0–12 months, 2010</p>
  <div class="figure__wrapper">
    <figure>
      <img width="760" height="262" alt="" src="../sass/style-guide/figure-b1.png">
      <figcaption>
        <p>Description of the highlights and analysis of the figure for accessibility.</p>
      </figcaption>
    </figure>
    <div class="figure__notes">
      <p>
        Note: Rates of exclusive breastfeeding were reported up to each month of age (eg
        an infant who received fluids other than breast milk at 5 months of age was exclusively breastfed for &lt;6
        months). Any breastfeeding was reported at &lt;1 month (age 0) and then in completed months.
      </p>
      <p>
        Source: AIHW 2011.
      </p>
    </div>
  </div>
</div>