//--------------------------------------------------------------
// Dropdown menu
// Gets the main nav styling with dropdown menu styles
//
//-------------------------------------------------------------

%health-dropdown {
  // Child nav styling
  @extend %health-sitenav;
  ul {
    @extend .au-link-list;
    position: absolute;
    top: 0;
    background: $AU-color-background;
    left: 0;
    padding: 0;
    z-index: 5;
    & > li {
      margin: 0;
      & > a {
        @include AU-space('margin-bottom', .5unit, 1unit);
        border-bottom: 0;
      }
    }
  }
  // Hover rules
  .sf-depth-1 > ul {
    top: 100%;
  }
  .sf-hidden {
    display: none !important;
  }
}  
