//--------------------------------------------------------------
// Workbench
// Styling for the workbench section
//
//-------------------------------------------------------------

.block-workbench {
  @include AU-space('margin-top', 1unit);
  @include AU-space('margin-bottom', 2unit);
  .workbench-info-block {

    border: 0;
    color: $AU-color-foreground-text;
    background: none;
    font-size: inherit;

    em:first-of-type {
      font-weight: bold;
      font-style: normal;
      font-size: 22px;
    }
    .fa {
      @include AU-space('margin-left', 2unit);
      &:before {
        position: static;
      }
    }
  }
}
