//--------------------------------------------------------------
// Local navigation
// Applies the local navigation styling
//-------------------------------------------------------------

// Local navigation with indentation.
.au-local-navigation {
  > ul {

    // Level 1
    padding: 0;
    margin: 0;
    > li {
      margin: 0;
      padding: 0;
      border-bottom: $health-borderize--very-thin;
      &:first-child {
        @include AU-media(sm) {
          border-top: $health-borderize--very-thin;
        }
      }
      &:last-child {
        border-bottom: none;
      }

      a {
        position: relative;
        @include AU-space('padding', .75unit 12px);
        @include AU-media(sm) {
          @include AU-space('padding', .75unit 1.25unit);
        }
      }
      // Level 2
      > ul {
        padding: 0;
        > li {
          border-bottom: $health-borderize--very-thin;
          &:first-child {
            border-top: $health-borderize--very-thin;
          }
          &:last-child {
            border-bottom: none;
          }
          a {
            @include AU-space('padding', .75unit 2unit);
            @include AU-media(sm) {
              @include AU-space('padding', .75unit 1.25unit .75unit 2.5unit);
            }
            border-bottom: 0;
          }

          // Level 3
          > ul {
            padding: 0;
            > li {
              border-bottom: $health-borderize--very-thin;
              &:first-child {
                border-top: $health-borderize--very-thin;
              }
              &:last-child {
                border-bottom: none;
              }
              a {
                @include AU-space('padding', .75unit 3.75unit);
                @include AU-media(sm) {
                  @include AU-space('padding', .75unit 1.25unit .75unit 3.75unit);
                }
              }
            }
          }
        }
      }
    }

    // Individual links
    a {
      display: block;
      border: none;
      border-left: 4px solid transparent;
      border-bottom: none;
      text-decoration: none;

      @include AU-media(sm) {
        &:hover {
          border-left-color: $colour-Secondary;
        }
      }

      &.active-trail {
        font-weight: 700;
      }

      &.active {
        background: $colour-light;
        border-left-color: $colour-Secondary;
        color: $AU-color-foreground-text;
        &:hover {
          background: white;
        }
        &:focus {
          color: white;
          background: $colour-Secondary;
        }
      }

      &.menu--unpublished {
        &:before {
          content: 'Unpublished';
          font-weight: normal;
          font-size: 0.7em;
          position: absolute;
          top: -1px;
          right: 0;
          color: $AU-color-warning;
          border: 1px solid $AU-color-warning;
          padding: 0 2px;
          background: white;
        }
      }
    }
  }
}

// Mobile toggle.
.au-local-navigation__mobile-toggle {

  @include AU-media(sm) { // Hide on desktop.
    display: none;
  }

  display: block;
  border-bottom: $health-borderize--very-thin;

  // Toggles
  .mobile-toggle__close,
  .mobile-toggle__open {
    padding: 6px 12px;
    display: block;
  }
  .mobile-toggle__close {
    display: none;
  }

  // When expanded.
  &.mobilemenu-active {
    .mobile-toggle__open {
      display: none;
    }
    .mobile-toggle__close {
      display: block;
    }
  }
}

// Hide the menu on mobile initially.
// This is a hack because we cannot fully controls Drupals layout for menus.
// Really this should be part of .au-local-navigation.
#block-menu-block-2 {
  display: none;
  @include AU-media(sm) {
    display: block;
  }
}

@media print {
  .au-local-navigation {
    display: none;
  }
}
