.au-body {

  // Minor text.
  .text--minor, %minor-text {
    color: $colour-minorText;
    font-size: 0.8em;
  }

  abbr {
    border-bottom: 1px dotted #CCC;
    text-decoration: none;
  }

  &--numbered-heading {
    &__number, p#{&}__number {
      float: left;
      @include AU-space(margin-right, 1.25unit);
    }
    &__heading {
      display: inline;
    }
  }

  // Introduction text.
  .au-introduction {
    @include health-fontgrid( lg , default, light);
    color: $colour-minorText;
  }

  // The standard margin top used for uikit.
  .standard-gap {
    @include AU-space(margin-top, 1.5unit);
  }

  // Prevent the contextual links wrapper from creating a margin above the following element.
  .contextual-links-wrapper + * {
    margin-top: 0;
  }
}
