.au-body {

  // Minor text.
  .text--minor, %minor-text {
    color: $colour-minorText;
    font-size: 0.8em;
  }

  abbr {
    border-bottom: 1px dotted #CCC;
    text-decoration: none;
  }

  &--numbered-heading {
    &__number, p#{&}__number {
      float: left;
      @include AU-space(margin-right, 1.25unit);
    }
    &__heading {
      display: inline;
    }
  }
}
