.au-body {
  .au-callout {
    // Variation to use au-callout on the row level of the grid.
    // eg container > row > au-callout--grid-row > col-sm-3 | col-sm-9
    &--grid-row {
      @include AU-space('margin-left', $AU-grid-12-gutter-width/2);
      @include AU-space('margin-right', $AU-grid-12-gutter-width/2); // Review
      margin-left: 0;
      margin-right: 0;
      @include AU-space('padding-left', 24px - $AU-grid-12-gutter-width/2);
      @include AU-space('padding-right', 24px - $AU-grid-12-gutter-width/2);
    }
    &--secondary {
      border-left-color: $colour-Secondary;
      @include AU-space(margin-top, .5unit);
    }
    &--tertiary {
      border-left-color: $colour-Tertiary-2;
    } // Used for inline styles
    &.view-mode-inline {
      border-left-color: $colour-Secondary;
      @include AU-space(margin-top, 1unit);
      width: 100%;
    }
  }
}

// Constrain width of callout for content without local nav but not full width
// Only after md breakpoint
@include AU-media(md){
  .au-body {
    .main-content-full {
      .au-callout {
        &.view-mode-inline {
          max-width: 66.6666666667%; // based on content pane at col-sm-8
        }
      }
      // Looks like callout (via @extend)
      .field-name-field-link-external .field-items {
        max-width: 66.6666666667%; // based on content pane at col-sm-8
      }
    }
  }
}

