.au-grid {

  // On non-full width pages, stop nested containers from pushing out wide.
  // This allows us to nest containers in other elements and for them to still work.
  .not-full-width {
    // Top margin for content area
    @include AU-space(margin-top, 3unit);
    .container {
      width: auto;
      clear: both;
    }
  }

  // On full width pages, stop nested containers from pushing out wide.
  // This allows us to nest containers in other elements and for them to still work.
  .full-width .container .container {
    width: auto;
    clear:both;
  }

  .col-xs-5ths,
  .col-sm-5ths,
  .col-md-5ths,
  .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xs-5ths {
    width: 20%;
    float: left;
  }

  @include AU-media( sm ) {
    .col-sm-5ths {
      width: 20%;
      float: left;
    }
  }

  @include AU-media( md ) {
    .col-md-5ths {
      width: 20%;
      float: left;
    }
  }

  @include AU-media( lg ) {
    .col-lg-5ths {
      width: 20%;
      float: left;
    }
  }
}

