// Figure
//
// A figure image with a long description and notes.
//
// Markup: figure.twig
//
// Style guide: Components.figure

.au-figure {

  * + & {
    @include AU-space(margin-top, 2unit);
  }

  &__title {
    font-weight: bold;
    @include AU-space('padding-bottom', .75unit);
  }

  &__wrapper {
    border: $health-borderize--very-thin;
    @include AU-space('margin-bottom', 1unit);
  }

  figure {
    margin: 0;
    @extend %image--link;

    img {
      @include AU-space('padding', 0);
      margin: 0;
    }

    figcaption {
      @extend %minor-text;
      border-bottom: $health-borderize--very-thin;
      border-top: $health-borderize--very-thin;
      @include AU-space('padding', .5unit 1unit);
    }
  }

  &__notes {
    @extend %minor-text;
    @include AU-space('padding', 1unit);
  }

}
