%reference {
  @extend %minor-text;
  transition: background-color 1s;
}

%reference--highlight {
  background-color: #ffffc6;
  transition: background-color 1s;
}

.reference__link {
  border-bottom: 1px dotted #CCC;
  cursor: help;
}

.field-name-field-book-references {
  li {
    @extend %reference;
    &.highlight {
      @extend %reference--highlight;
    }
  }
}
