ul.toc {
  list-style: none;
  padding-left: 0;
  li {
    @include AU-space('margin-top', .5unit);
    font-weight: bold;
    &:first-of-type {
      margin-top: 0;
    }
    font-size: 18px;
    ul {
      list-style: none;
      @include AU-space('margin-top', .5unit);
      li {
        font-size: 16px;
        font-weight: normal;
        ul {
          li {
            font-size: 0.95em;
          }
        }
      }
    }
  }
}
