// Progress throbber
//
// Shows the progress of a task using a throbber.
//
// Markup: progress-throbber.twig
//
// Style guide: forms.progress-throbber

%uikit-progress-throbber {
  display: inline-block;

  &__widget {
    background: url('../sass/components/forms/progress-throbber/progress-throbber-small.gif') no-repeat 0 0 transparent;
    float: left;
    height: 32px;
    margin: 2px;
    width: 32px;
  }

  &__widget-in-tr {
    margin: 0 2px;
  }

  &__message {
    padding-left: 20px;
  }
}

