// Fields

body.adminimal-skin-material {

  // Title field
  &.page-node-edit,&.page-node-add {
    .form-item-title {
      input {
        font-size: 30px;
        padding: 10px 15px;
        font-weight: 300;
        &::placeholder {
          color: #cecece;
        }
        margin-bottom: 8px;
        width: 100%;
      }
    }
  }

  // URL field.
  .link-field-column {
    float: none;
    width: auto;
    margin-bottom: 7px;
    label {
      font-size: 14px;
      display: inline;
      font-weight: 500;
    }
    input {
      width: auto;
      margin-left: 10px;
    }
    .description {
      display: none;
    }
  }

  .form-item div.description {
    white-space: normal;
  }

  // Character counter.
  .character-limit {
    &.over {
      color: red;
      font-weight: bold;
    }
    margin-bottom: 20px !important;
  }


  // File field - multivalue
  .field-name-field-file {
    .remove,
    .tabledrag-changed-warning,
    .form-type-media label,
    table thead {
      display: none !important;
    }
  }

  // Prevent authors from being able to edit files.
  // Files are not version controlled and have no workflow, so to safeguard accidentally editing live versions when
  // creating a new draft of content, we are removing the edit ability all together.
  .field-widget-media-generic .button.edit,
  .form-item-files-replace-upload {
    display: none;
  }
}
