.media-widget {
  // Fixing padding issues on fields with Media browser button.
  .preview {
    margin-right: 0px;
  }
  input.remove {
    margin-left: 10px;
    margin-right: 1em;
  }
}

// Fixing padding on media browser tabs
#media-browser-tabset ul.tabs.primary li.ui-state-default {
  padding-bottom: 0px;
  a:link {
    padding: 14px 20px;
  }
}

// Fix overlay inconsistencies
.ui-widget-overlay, .cke_dialog_background_cover {
  background: #aaaaaa;
  background-color: #000000 !important;
}

// Make ckeditor dialog buttons consistent
.cke_dialog_footer_buttons a.cke_dialog_ui_button {
  &.cke_dialog_ui_button_ok span {
    color: white;
  }
  &:not(.cke_dialog_ui_button_ok) {
    background-color: #aaaaaa;
    span {
      color: white;
    }
  }
}

// Fields
.field-name-field-file {
  @extend %media-file-preview;
}


// Document preview
%media-file-preview {
  .media-widget {
    .media-item {
      padding: 0;
      background: transparent;
      border: none;
      box-shadow: none;
      .file {
        a {
          padding: 0;
          margin-top: -5px;
          font-size: 16px;
          display: inline-block;
        }
        .file-icon {
          display: inline-block;
        }
      }

      .label-wrapper {
        display: none;
      }
    }
  }
}