.ajax-progress-throbber {
  margin-right: 10px;
  display: inline-block;
  .message {
    display: none;
  }
  .throbber {
    background: none;
    display: block;
  }

  .throbber,
  .throbber:after {
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
  }
  .throbber {
    font-size: 4px;
    position: relative;
    text-indent: -9999em;
    border-top: 1em solid rgba(34, 150, 243, 0.2);
    border-right: 1em solid rgba(34, 150, 243, 0.2);
    border-bottom: 1em solid rgba(34, 150, 243, 0.2);
    border-left: 1em solid #2196F3;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

}
