// Environment indicator
//
// A band that can be set per environment to indicate the server environment.
//
// Markup: environment.twig
//
// Style guide: components.environment

%env-indicator {
  font-family: $uikit-font-system;
  text-align: center;
  padding: 7px;
  margin: 5px;
  color: white;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
  background-color: cornflowerblue;
}

%env-indicator--local {
  @extend %env-indicator;
  background-color: forestgreen;
}

%env-indicator--dev {
  @extend %env-indicator;
  background-color: darkorange;
}

%env-indicator--release {
  @extend %env-indicator;
  background-color: purple;
}

%env-indicator--prod {
  @extend %env-indicator;
  background-color: red;
}

@import "_extends.scss";
