<div class="env-indicator local">Local development</div>
<div class="env-indicator dev">Development</div>
<div class="env-indicator release">Release</div>
<div class="env-indicator prod">Production</div>