.resources-selector, .news-events-selector {

  @include AU-space('margin', -.5unit 0 .5unit);

  @include AU-media(sm) {
    @include AU-space('margin', 0 0 1.5unit);
  }
  @include AU-media(md) {
    @include AU-space('margin', -.75unit 0 1.5unit);
  }
  h2 {
    @include AU-fontgrid('lg');
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      .selector-card {
        text-align: center;
        margin-bottom: 0;
        .card {
          &:before {
            color: $colour-Secondary;
          }
        }
        a {
          @extend %list-item-title;
          margin-bottom: 0;
          display: inline;
          &:focus {
            background-color: #0091a0;
            color: white;
          }
        }
        img {
          max-width: 30%;
          margin-bottom: 0.6em;
        }
        p {
          display: none;
        }
        @include AU-media(sm) {
          min-height: 175px;

          p {
            display: block;
            margin-bottom: 0;
            margin-top: 8px;
          }
        }
        .image-card:before {
          content: "\f03e";
          font-family: FontAwesome;
          font-size: 4em;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          z-index: 1;
        }
        .video-card:before {
          content: "\f03d";
          font-family: FontAwesome;
          font-size: 4em;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          z-index: 1;
        }
        .publication-card:before {
          content: "\f02d";
          font-family: FontAwesome;
          font-size: 4em;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          z-index: 1;
        }
        .corp-publication-card:before {
          content: "\f0ea";
          font-family: FontAwesome;
          font-size: 4em;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          z-index: 1;
        }
        .event-card:before {
          content: "\f073";
          font-family: FontAwesome;
          font-size: 4em;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          z-index: 1;
        }
        .news-card:before {
          content: "\f1ea";
          font-family: FontAwesome;
          font-size: 4em;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          z-index: 1;
        }
        .release-card:before {
          content: "\f0a1";
          font-family: FontAwesome;
          font-size: 4em;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          z-index: 1;
        }
        .alert-card:before {
          content: "\f071";
          font-family: FontAwesome;
          font-size: 4em;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          z-index: 1;
        }
      }
    }

  }
}

