.resources-selector, .news-events-selector {
  margin: -#{uikit-space(0.5)} 0 uikit-space(.5);
  @include uikit-media(sm) {
    margin: 0 0 uikit-space(1.5);
  }
  @include uikit-media(md) {
    margin: -#{uikit-space(0.75)} 0 uikit-space(1.5);
  }
  h2 {
    @extend .uikit-display-3;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      .selector-card {
        text-align: center;
        margin-bottom: 0;
        .icon {
          margin-bottom: 10px;
        }
        a {
          @extend %list-item-title;
          border-bottom: 1px solid #313131;
          margin-bottom: 0;
          display: inline;
          &:hover {
            border: none;
          }
          &:focus {
            background-color: #0091a0;
            color: white;
          }
        }
        img {
          max-width: 30%;
          margin-bottom: 0.6em;
        }
        p {
          display: none;
        }
        @include uikit-media(sm) {
          min-height: 175px;

          p {
            display: block;
            margin-bottom: 0;
            margin-top: 8px;
          }
        }
      }
    }

  }
}

