.resources-selector, .news-events-selector {
  margin: -#{uikit-space(0.5)} 0 uikit-space(.5);
  @include uikit-media(sm) {
    margin: 0 0 uikit-space(1.5);
  }
  @include uikit-media(md) {
    margin: -#{uikit-space(0.75)} 0 uikit-space(1.5);
  }
  h2 {
    @extend .uikit-display-3;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      .selector-card {
        text-align: center;
        margin-bottom: 0;
        .card {
          &:before {
            color: $colour-Secondary;
          }
        }
        a {
          @extend %list-item-title;
          border-bottom: 1px solid #313131;
          margin-bottom: 0;
          display: inline;
          &:hover {
            border: none;
          }
          &:after {
            color: #313131;
          }
        }
        img {
          max-width: 30%;
          margin-bottom: 0.6em;
        }
        p {
          display: none;
        }
        @include uikit-media(sm) {
          min-height: 175px;

          p {
            display: block;
            margin-bottom: 0;
            margin-top: 8px;
          }
        }
        .image-card:before {
          content: "\f03e";
          font-family: FontAwesome;
          font-size: 3em;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          z-index: 1;
        }
        .video-card:before {
          content: "\f03d";
          font-family: FontAwesome;
          font-size: 3em;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          z-index: 1;
        }
        .publication-card:before {
          content: "\f02d";
          font-family: FontAwesome;
          font-size: 3em;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          z-index: 1;
        }
        .corp-publication-card:before {
          content: "\f0ea";
          font-family: FontAwesome;
          font-size: 3em;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          z-index: 1;
        }
        .event-card:before {
          content: "\f073";
          font-family: FontAwesome;
          font-size: 3em;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          z-index: 1;
        }
        .news-card:before {
          content: "\f1ea";
          font-family: FontAwesome;
          font-size: 3em;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          z-index: 1;
        }
        .release-card:before {
          content: "\f0a1";
          font-family: FontAwesome;
          font-size: 3em;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          z-index: 1;
        }
        .alert-card:before {
          content: "\f071";
          font-family: FontAwesome;
          font-size: 3em;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          z-index: 1;
        }
      }
    }

  }
}

