#readspeaker {
  display: inline;
  div {
    display: inline-block;
  }
  margin-left: 1em;
  margin-top: 1.1em;
  a {
    border-bottom: none;
    &:hover,
    &:active {
      background-color: inherit;
    }
    &:after {
      display: none;
    }
  }
  .rsbtn {
    margin-bottom: 0;
  }
}

