// Buttons
//
// Buttons built with the `<button>` element are the most flexible for styling
// purposes. But `<input>` elements with `type` set to `submit`, `image`,
// `reset`, or `button` are also supported.
//
// Below is the default button styling. To see variations on the button styling
// see the [button component](section-forms.html#kssref-forms-button).
//
// :hover        - Hover styling.
// :active:hover - Depressed button styling.
//
// Markup: forms-button.twig
//
// Style guide: forms.base.button
.button,a.button,
%button,
button,
html [type='button'],
[type='reset'],
[type='submit']{
  @extend %health-btn;
}

.button--secondary {
  @extend .au-btn--secondary;
}

.button--light, a.button--light {
  background-color: white;
  color: $AU-color-foreground-text;
  &:hover, &:active, &:focus {
    background-color: $colour-light-dark;
  }
}

.button--small {
  font-size: 14px;
}

.button--large, a.button--large,
.bean-large-button .field-name-field-link-to a {
  @extend %health-btn--large;
}

.button--tertiary {
  @extend .au-btn--tertiary;
  border-color: $colour-Secondary;
  color: $colour-Secondary;
  a {
    color: $colour-Secondary;
    border: 0;
  }
}
