// Nav menu
//
// A "nav menu" is secondary, hierarchical navigation which can be displayed to the
// side or below the main content.
//
// Markup: nav-menu.twig
//
// Style guide: navigation.nav-menu

// Default link styling
.page.menu-block-wrapper.menu-name-main-menu.menu-block-2 {
  @extend .uikit-link-list;
  padding: 0;
}

// Local navigation
.uikit-body .sidebar {
  #block-menu-block-2,
  #block-book-navigation {

    @extend %uikit-localnav;

    display: none;
    @include uikit-media(sm) {
      display: block;
    }

    // Drupal block title as link helper styles
    &__title {
      font-size: 18px;
      margin-bottom: 0;
    }
  }
}

// UIkit override
.uikit-body .uikit-accordion__title {
  font-size: 16px;
  padding-left: 1em;
}


// When the block title is a link
.uikit-body .sidebar .block-menu-block--title-link {
  .block__title {
    margin: 0;
    a {
      font-size: 18px;
      @extend %uikit-localnav__link;
      border-top: $uikit-borderize;
    }
  }
  // The indent needs to adjust as the parent item is now a link
  .menu {
    a {
      padding-left: uikit-space(1);
    }
    ul {
      a {
        padding-left: uikit-space(1.5);
      }
      ul a {
        padding-left: uikit-space(2);
      }
    }
  }
}

// Mobile toggle.
.uikit-body a.localnav__mobile-toggle {
  @extend %uikit-localnav__mobile-toggle;
}
