// Nav menu
//
// A "nav menu" is secondary, hierarchical navigation which can be displayed to the
// side or below the main content.
//
// Markup: nav-menu.twig
//
// Style guide: navigation.nav-menu

// Default link styling
.menu {
  @extend .uikit-link-list;
}

// Local navigation
.uikit-body .sidebar .block-menu-block {
  // Drupal block title as link helper styles
  &__title {
    font-size: 18px;
    margin-bottom: 0;
  }
  .menu {
    @extend %uikit-localnav;
  }
}

// UIkit override
.uikit-body .uikit-accordion__title {
  font-size: 16px;
  padding-left: 1em;
}


// When the block title is a link
.uikit-body .sidebar .block-menu-block--title-link {
  .block__title {
    margin: 0;
    a {
      font-size: 18px;
      @extend %uikit-localnav--link;
      border-top: $uikit-borderize;
    }
  }
  // The indent needs to adjust as the parent item is now a link
  .menu {
    a {
      padding-left: uikit-space(1);
    }
    ul {
      a {
        padding-left: uikit-space(1.5);
      }
      ul a {
        padding-left: uikit-space(2);
      }
    }
  }
}

// Mobile nav logic.
.menu-block-wrapper.menu-name-main-menu.menu-block-2.mobilemenu-active {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.menu-block-wrapper.menu-name-main-menu.menu-block-2 {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: visibility 0s, opacity 0.8s linear;

  @include uikit-media(xs) {}

  @include uikit-media(sm) {
    visibility: visible;
    opacity: 1;
    height: auto;
  }

  // Hide external link in local nav bar.
  .menu li.external-link {
    display: none;
  }

}