//--------------------------------------------------------------
// Local naviagation
// Applies the local navigation styling
//
//-------------------------------------------------------------

// Menu with indentation
%health-localnav {

  padding: 0;
  a {
    @extend %health-localnav__link;
  }
  // Level 1
  ul {
    @extend .au-link-list;
    padding: 0;
    text-transform: none;
    > li {
      margin: 0;
      padding: 0;
      border-bottom: $health-borderize--very-thin;
      &:first-child {
        @include AU-media(sm) {
          border-top: $health-borderize--very-thin;
        }
      }
      &:last-child {
        border-bottom: none;
      }

      a {
        @include AU-space('padding', .5unit 12px);
        @include AU-media(sm) {
          @include AU-space('padding', .5unit 1unit);
        }
      }
      // Level 2
      > ul {
        > li {
          &:first-child {
            border-top: $health-borderize--very-thin;
          }
          a {
            @include AU-space('padding', .5unit 1unit);
            @include AU-media(sm) {
              @include AU-space('padding', .5unit 1.75unit);
            }
            border-bottom: 0;
          }

          // Level 3
          > ul {
            > li a {
              @include AU-space('padding', .5unit 2.5unit);
            }
          }
        }
      }
    }
  }

  // Hide on mobile initially.
  display: none;
  @include AU-media(sm) { // Always show on desktop.
    display: block;
  }
  &.mobilemenu-active { // Show when toggled.
    display: block;
  }
}

// Individual menu items
%health-localnav__link {
  display: block;
  border: none;
  border-left: 4px solid transparent;
  border-bottom: none;
  text-decoration: none;

  @include AU-media(sm) {
    &:hover {
      border-left-color: $colour-Secondary;
    }
  }

  &.active-trail {
    font-weight: 700;
  }

  &.active {
    background: $colour-light;
    border-left-color: $colour-Secondary;
    &:hover {
      background: white;
    }
    &:focus {
      color: white;
      background: $colour-Secondary;
    }
  }
}

// Mobile toggle.
%health-localnav__mobile-toggle {

  @include AU-media(sm) { // Hide on desktop.
    display: none;
  }

  display: block;
  border-bottom: $health-borderize--very-thin;

  // Toggles
  .mobile-toggle__close,
  .mobile-toggle__open {
    padding: 6px 12px;
    display: block;
  }
  .mobile-toggle__close {
    display: none;
  }

  // When expanded.
  &.mobilemenu-active {
    .mobile-toggle__open {
      display: none;
    }
    .mobile-toggle__close {
      display: block;
    }
  }
}
