//--------------------------------------------------------------
// Local naviagation
// Applies the local navigation styling
//
//-------------------------------------------------------------

// Individual menu items
%uikit-localnav__link {
  display: block;
  border: none;
  border-left: 4px solid transparent;
  border-bottom: none;
  text-decoration: none;
  padding: uikit-space(.5);

  @include uikit-media(sm) {
    &:hover {
      border-left-color: $colour-Secondary;
    }
  }

  &.active-trail {
    font-weight: 700;
  }

  &.active {
    background: $colour-light;
    border-left-color: $colour-Secondary;
    &:hover {
      background: white;
    }
    &:focus {
      color: white;
      background: $colour-Secondary;
    }
  }
}

// Menu with indentation
%uikit-localnav {

  padding: 0;
  // Level 1
  ul {
    @extend .uikit-link-list;
    padding: 0;
    text-transform: none;
    > li {
      margin: 0;
      padding: 0;
      border-bottom: $uikit-borderize;
      &:first-child {
        @include uikit-media(sm) {
          border-top: $uikit-borderize;
        }
      }
      &:last-child {
        border-bottom: none;
      }

      a {
        padding: uikit-space(.5) 12px;
        @include uikit-media(sm) {
          padding: uikit-space(.5) uikit-space(1);
        }
      }

      // Level 2
      ul {
        li {
          &:first-child {
            border-top: $uikit-borderize;
          }
          a {
            padding: uikit-space(.5) uikit-space(1);
            @include uikit-media(sm) {
              padding: uikit-space(.5) uikit-space(1.75);
            }
            border-bottom: 0;
          }
        }

        // Level 3
        ul {
          li a {
            padding: uikit-space(.5) uikit-space(2.5);
          }
        }
      }
    }


  }

  a {
    @extend %uikit-localnav__link;
  }

  // Hide on mobile initially.
  display: none;
  @include uikit-media(sm) { // Always show on desktop.
    display: block;
  }
  &.mobilemenu-active { // Show when toggled.
    display: block;
  }
}

// Mobile toggle.
%uikit-localnav__mobile-toggle {

  @include uikit-media(sm) { // Hide on desktop.
    display: none;
  }

  display: block;
  border-bottom: $uikit-borderize;

  // Toggles
  .mobile-toggle__close,
  .mobile-toggle__open {
    padding: 6px 12px;
    display: block;
  }
  .mobile-toggle__close {
    display: none;
  }

  // When expanded.
  &.mobilemenu-active {
    .mobile-toggle__open {
      display: none;
    }
    .mobile-toggle__close {
      display: block;
    }
  }
}

