/* font sizes override */
body, input:not(#edit-module-filter-name), option, select, textarea {
    font-size: 14px !important;
}

/* Layout checkboxes in 3 columns for long lists */
@media screen and (min-width: 768px) {
    #edit-field-language-und.form-radios,
    #edit-field-related-health-topic-und.form-checkboxes
    {
        column-count: 3;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        max-width: 72em;
    }

    /* Layout checkboxes in 2 columns for longish lists */
    #edit-field-audience-life-stage-event-und.form-checkboxes {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        max-width: 44em;
    }
}

/* Fix calendar popup appearing outside its container. */
body.adminimal-skin-material table.ui-datepicker-calendar tbody td a {
    padding: .5em .6em;
}
/* Calendar popup days easier to read */
body.adminimal-skin-material table.ui-datepicker-calendar thead th {
    color: black;
}

/* Making all button text white instead of grey, in line with other buttons */
a.button:link, a.button:visited, a.button:hover, a.button:active,
a.button.browse:link, a.button.browse:visited, a.button.browse:hover, a.button.browse:active,
a.button.edit:link, a.button.edit:visited, a.button.edit:hover, a.button.edit:active {
    color: white !important;
    margin-right: 1em;
    padding: 5px 18px;
    margin-top: -2px;
}

/* Fixing padding issues on fields with Media browser button. */
.media-widget .preview {
    margin-right: 0px;
}
.media-widget input.remove {
    margin-left: 10px;
    margin-right: 1em;
}

/* Fixing padding on media browser tabs */
#media-browser-tabset ul.tabs.primary li.ui-state-default a:link {
    padding: 14px 20px;
}
#media-browser-tabset ul.tabs.primary li.ui-state-default {
    padding-bottom: 0px;
}

/* Fix overlay inconsistencies */
.ui-widget-overlay, .cke_dialog_background_cover {
    background: #aaaaaa;
    background-color: #000000 !important;
}

/* Make ckeditor dialog buttons consistent */
.cke_dialog_footer_buttons a.cke_dialog_ui_button.cke_dialog_ui_button_ok span {
    color: white;
}
.cke_dialog_footer_buttons a.cke_dialog_ui_button:not(.cke_dialog_ui_button_ok) {
    background-color: #aaaaaa;
}
.cke_dialog_footer_buttons a.cke_dialog_ui_button:not(.cke_dialog_ui_button_ok) span{
    color: white;
}

/* Formatting information filter wrapper */
body.adminimal-skin-material fieldset.filter-wrapper {
    height: auto;
    padding-top: 26px;
}
body.adminimal-skin-material fieldset.filter-wrapper legend {
    font-size: 14px;
    margin-left: 1px;
    top: 8px;
}

/* Fixing issues with styles being applied to links inside a table (paragraph) */
body.adminimal-skin-material fieldset.filter-wrapper legend a {
    padding: 0;
}
body.adminimal-theme a.cke_combo_button {
    padding: 0;
}
body.adminimal-theme a.cke_button {
    padding: 4px 6px;
}

/* Provide a divider between paragraph tables */
body.adminimal-skin-material tr.draggable {
    border-bottom: 1px solid #E0E0E0;
}

/* Adjust the padding around fieldset descriptions as it was too big */
body.adminimal-skin-material .fieldset-wrapper .fieldset-description {
    padding: 0 0 15px 0;
}

/* Fix legend padding issue */
fieldset:not(.filter-wrapper) legend {
    padding: 0px 0px 10px 3px !important;
}
fieldset:not(.filter-wrapper).collapsible legend {
    padding: 0 !important;
}
body.adminimal-skin-material fieldset:not(.filter-wrapper) {
    padding-top: 55px !important;
}
body.adminimal-skin-material fieldset.collapsed {
    padding-top: 22px !important;
}

body.adminimal-skin-material table tbody td fieldset legend a {
    padding: 0px !important;
}

/* Fieldset legend sizes */
fieldset:not(.filter-wrapper) > legend > span {
    font-size: 22px;
    color: #2196F3;
}


/* Notification that the site is in dual author mode */
.maintenance-notification {
    border: 1px solid #940000;
    background: #ffd4da;
    color: black;
    font-size: 1.2em;
    padding: 26px;
    max-width: 42em;
    margin-bottom: 20px;
}
body div.maintenance-notification a {
    color: #940000;
    font-weight: bold;
}

.maintenance-notification p:last-of-type {
    margin-bottom: 0;
}

.maintenance-notification .title {
    font-size: 1.5em;
    color: #940000;
    font-weight: bold;
}

.maintenance-notification .subtitle {
    font-size: 1.3em;
    font-weight: bold;
}

/* Provide a more compact experience for content blocks */

.field-name-field-components td {
    padding: 5px;
}
body .field-name-field-components td.field-multiple-drag {
    padding: 0px;
    width: 20px;
}
.field-name-field-components td.field-multiple-drag .handle {
    padding: 8px;
    margin: 0;
    width: 8px;
}
body .field-name-field-components td.field-multiple-drag a.tabledrag-handle {
    padding-right: 0;
}

.field-name-field-components tr td:nth-of-type(2) > .form-wrapper:first-child {
    display: none;
}
.field-name-field-components tr td:nth-of-type(2) .ajax-new-content > .form-wrapper:first-child {
    display: none;
}

.field-name-field-components .form-actions {
    margin: 5px 0;
}
body .field-name-field-components .field-multiple-table .form-actions input {
    height: auto;
}

.field-name-field-components .form-wrapper {
    margin-bottom: 5px;
}

body .field-name-field-components .field-multiple-table fieldset {
    margin-bottom: 5px;
    padding-top: 35px !important;
}
body .field-name-field-components .field-multiple-table fieldset.filter-wrapper {
    padding-top: 22px !important;
}
body .field-name-field-components .field-multiple-table fieldset:not(.filter-wrapper).collapsed {
    padding-top: 8px !important;
}
body .field-name-field-components .field-multiple-table fieldset legend {
    top: 5px;
    width: 90%;
}
body .field-name-field-components .field-multiple-table fieldset > legend > span, body .field-name-field-components .field-multiple-table fieldset:not(.filter-wrapper) > legend > span > a {
    width: 95%;
    font-size: 0.9em;
}

.field-name-field-components thead {
    display: none !important;
}

/*Hide specific labels*/
.field-name-field-components .field-name-field-body label {
    display: none;
}
.field-name-field-components .field-name-field-reference-video label {
    display: none;
}
.field-name-field-components .field-name-field-reference-publication label {
    display: none;
}
.field-name-field-components .field-name-field-image label {
    display: none;
}
.field-name-field-components .field-name-field-link-external > div > div > label {
    display: none;
}
.field-name-field-components .field-name-field-reference-service label {
    display: none;
}
.field-name-field-components .field-name-field-reference-programs-and-ini label {
    display: none;
}
.field-name-field-components .field-name-field-reference-statistic label {
    display: none;
}
.field-name-field-components .field-name-field-reference-news label {
    display: none;
}
.field-name-field-components .field-name-field-reference-contact label {
    display: none;
}
.field-name-field-components .field-name-field-reference-conditions-and-d label {
    display: none;
}

.field-name-field-components td {
    position: relative;
}
.field-name-field-components .form-actions input[value='Remove'] {
    position: absolute;
    right: -8px;
    top: 8px;
}

.field-name-field-components .warning.tabledrag-changed {
    display: none;
}
