// Mobile navigation
.uikit-body .mobile-toggle, // Main nav
.uikit-body .mobile-nav-toggle { // Local nav
  padding: 6px 12px;
  font-weight: 700;
  display: block;
  border-bottom: 0;
  &:after {
    width: 20px;
    height: 20px;
    content: " ";
    display: inline-block;
    margin-left: 10px;
    background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="5 2 15 15">
      <path fill="black" d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
      <path d="M0-.75h24v24H0z" fill="none"/>
    </svg>');
	background-repeat: no-repeat;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
  }
  // Only display on mobile
  @include uikit-media(sm) {
    display: none;
  }

  // When expanded.
  &.mobilemenu-active {
    %uikit-dropdown {
      display: block;
    }
    @extend %colour-Secondary-background;
    color: white;
    &:after {
      background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="5 2 15 15">
        <path fill="white" d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
        <path d="M0-.75h24v24H0z" fill="none"/>
      </svg>');
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Safari */
      transform: rotate(180deg);
    }
  }

  &:focus {
    @extend %colour-Secondary-background;
    &:after {
      background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="5 2 15 15">
        <path fill="white" d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
        <path d="M0-.75h24v24H0z" fill="none"/>
      </svg>');
    }
  }
}

// Primary nav
.region-navigation {
  .mobile-toggle {
    text-align: right;
  }
  .block-superfish.mobilemenu-active {
    @extend %colour-Secondary-background;
    ul li a {
      padding-left: 12px;
      color: white;
    }
  }
}

// Secondary nav / local nav
.region-sidebar-second {
  padding-bottom: uikit-space(1);
  @include uikit-media(sm){
    padding-bottom: uikit-space(2);
  }
  .block-menu-block {
    @extend %colour-Light-background;
    @include uikit-media(sm) {
      background: transparent;
    }
  }
}