<div class="au-body au-local-navigation">
  <ul class="au-link-list">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="#">Blandit Jugis Sudo</a>
    </li>
    <li class="is-active-trail">
      <a href="#">Causa Diam Jumentum Wisi</a>
      <ul>
        <li>
          <a href="#">Dolor Huic Oppeto</a>
        </li>
        <li class="is-active-trail is-active">
          <a href="#" class="is-active">Decet</a>
        </li>
        <li>
          <a href="#">Aliquip Similis</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Abigo Caecus Causa Illum</a>
    </li>
    <li>
      <a href="#">Ibidem Sudo</a>
    </li>
  </ul>
</div>