.au-card--bottom {
  @extend %au-card--bottom;
}

.au-card--featured img {
  @extend %au-card--featured-img;
}

.au-card--featured-top {
  @extend %au-card--featured-top;
}

.au-card--featured-left .au-card--featured {
  @extend %au-card--featured-left;
}

.au-card-compact {
  @extend %au-card-compact;
}

.au-card {
  @include AU-space('padding', 1unit);
  @extend %au-card;
  h2 {
    @include AU-fontgrid('lg');
  }

  img {
    @include AU-space('margin-bottom', .5unit);
  }
}

.au-body .region-content-bottom .pane-related-content {
  @extend %au-card--list;
  @include AU-space('padding-bottom', 2unit); // More link height
  position: relative;
  .views-row,
  .view-footer {
    @extend %au-card--list--item;
    &:last-of-type {
      border-bottom: $AU-borderize;
    }
  }
  // Customisations for view/panels output
  .pane-title {
    @include AU-fontgrid('xl');
    text-align: center;
    @include AU-space('margin-bottom', .5unit);;
  }
  .views-row .node-title {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
  }
  .view-footer {
    position: absolute;
    bottom: 0;
    text-align: right;
    left: 0;
    right: 0;
    // Slight hacky fix for double border
    background: #fff;
    border-bottom-left-radius: $AU-border-radius;
    border-bottom-right-radius: $AU-border-radius;
    // Resets for list item
    border-top: $AU-borderize;
    margin: 0 auto;
    &:last-of-type {
      border-bottom: 0;
    }
  }
}
