// Base style for uikit card
%au-card {
  background: #fff;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  border-radius: $AU-border-radius;
  max-width: $AU-maxwidth;
}

// Image orientation
%au-card--featured-img {
  display: block;
  margin-bottom: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%au-card--bottom {
  @include AU-clearfix;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .au-card--type {
    float: left;
  }
  .au-card--date {
    float: right;
    font-size: 12px;
  }
}

// Image top style
%au-card--featured-top {
  min-height: 400px;
  position: relative;
  .au-card--content {
    @include AU-space('padding', 1unit 0 2unit);
    border-bottom-left-radius: $AU-border-radius;
    border-bottom-right-radius: $AU-border-radius;
    background: #fff;
    position: relative;
    z-index: 1;
  }
  .au-card--featured {
    min-height: 350px;
    @include AU-space('margin', -1unit -1unit 0 -1unit);
    background: $AU-color-foreground-text;
    border-top-left-radius: $AU-border-radius;
    border-top-right-radius: $AU-border-radius;
    overflow: hidden;
    position: relative;
  }
}

// Image left style
%au-card--featured-left {
  float: left;
  width: 300px;
  overflow: hidden;
  position: relative;
  background: $AU-color-foreground-text;
  border-bottom-left-radius: $AU-border-radius;
  border-top-left-radius: $AU-border-radius;
}

%au-card-compact {
  @extend %au-card;

  .node-title {
    font-size: 18px;
    margin-bottom: 0;
  }

  .au-card-compact--content {
    height: 100%;
    position: relative;
    @include AU-space('padding', .5unit .75unit 2.25unit);
    .au-card--bottom {
      @include AU-space('padding', 0 .75unit .5unit);
    }
  }

  &.au-card--featured-left {
    .au-card--featured {
      width: 100px;
      height: 100%;
      min-height: 100px;
    }
    .au-card-compact--content {
      margin-left: 100px;
    }
  }
}

// Card listing style
%au-card--list {
  @extend .au-card;
  &--item {
    margin-bottom: 0;
    border-bottom: $health-borderize--thin;
    @include AU-space('padding', .5unit 1unit);
    @include AU-space('margin', 0 -1unit);
    &:first-of-type {
      border-top: $health-borderize--thin;
    }
  }
}

