@import "_print.scss";

// Date
%meta-date {
    color: $colour-minorText;
    font-size: 87.5%;
    @include AU-space('margin-bottom', .5unit);
}

// Wrapper for date and tag
%date-and-tag {

  .field-type-datetime,
  .field-name-field-status,
  .field-name-field-time-required,
  .field-name-ds-content-type,
  .field-name-field-publication-type,
  .field-name-field-video-type {
    @extend %meta-date;
    float: left;
    .tags__item {
      font-weight: normal;
    }
    @include AU-space('padding-right', .5unit);
  }

  .field-name-ds-content-type,
  .field-name-field-time-required,
  .field-name-field-publication-type,
  .field-name-field-video-type {
    @include AU-space('padding-left', .5unit);
    border-left: 1px solid $colour-minorText;
  }
}

%date-and-tag--small {

  .field-type-datetime,
  .field-name-field-status,
  .field-name-field-time-required,
  .field-name-ds-content-type,
  .field-name-field-publication-type,
  .field-name-field-video-type {
    @extend %meta-date;
    font-size: 12px;
    @include AU-media(md) {
      font-size: 14px;
    }
    float: left;
    margin-bottom: 0;
    @include AU-space('padding-right', .5unit);
  }

  .field-name-ds-content-type,
  .field-name-field-time-required,
  .field-name-field-publication-type,
  .field-name-field-video-type {
    @include AU-space('padding-left', .5unit);
    border-left: 1px solid $colour-minorText;
  }
}

// All fields
%field-label {
    font-weight: bold;
  @include AU-space('margin-bottom', .25unit);
}

%field-item {
    @include AU-space('padding-bottom', 1unit);
    display: block;
}

// Stacked vs inline
.field-label-inline {
    clear: both;
    @include AU-media(sm) {
      clear: none;
    }

    .field-label {
        @extend %field-label;
      @include AU-space('margin-right', .25unit);
        @include AU-media(sm) {
          @include AU-space('margin-right', .5unit);
          float: left;
        }
    }
    .field-items, dl.tags {
        @extend %field-item;
        @include AU-media(sm) {
          float: none;
        }
    }
}
.field-label-above {
    .field-label {
        @extend %field-label;
    }
    .field-items {
        @extend %field-item;
    }
}

// Styling by field name

// Ext link
.field-name-field-link-external {
    @include AU-space('padding-bottom', 1.5unit);
    .field-label {
        @include AU-fontgrid('lg');
        font-weight: normal;
    }
    .field-items {
        @extend %ext-link-wrapper;
    }
}

// Email telephone field
.field-name-field-email,
.field-name-field-contact-telephone {
    i:before {
      position: relative;
      font-size: 1em;
    }
}

.external-link-url {
    @extend %ext-link;
}

// Document accessibility
.document-accessibility-form {
  @include AU-space('padding', 1.5unit 0);
  color: $colour-minorText;
  a {
    color: $colour-minorText;
  }
  font-size: 0.9em;
}

// Summary
p.summary, .field-name-field-summary {
    @include AU-clearfix;
    clear: both;
}

// Resource title.
.resource-title, p.resource-title {
  @include AU-fontgrid('md');
  @include AU-space('margin-bottom', .5unit);
}

// Page currency
// Standard content types - last updated and 'what's wrong' at bottom
%page-help-and-currency {
    .page-layout {
      margin-bottom: 0;
    }
    .field-name-field-date-updated,
    .field-name-field-date-published {
        &.field-label-inline {
          @extend %bottom-border;
        }
    }
}
%page-help-only {
  .page {
    .field-name-field-date-updated,
    .field-name-field-date-published {
      &.field-label-inline, &.field-label-above {
        border: 0;
        padding-top: 0;
        margin-top: 0;
      }
    }
    .field-name-field-related-health-topics {
      @extend %bottom-border;
    }
  }
}

%page-help-only--no-border {
  .page {
    .field-name-field-date-updated,
    .field-name-field-date-published {
      &.field-label-inline, &.field-label-above {
        border: 0;
        padding-top: 0;
        margin-top: 0;
      }
    }
  }
}

%bottom-border {
  border-top: $health-borderize--very-thin;
  @include AU-space('padding-top', 1unit);
  @include AU-space('margin-top', 1unit);
  @include AU-media(sm){
    @include AU-space('margin-top', 2unit);
  }
  @include AU-media(md){
    @include AU-space('margin-top', 3unit);
  }
}

%media-enquiry {
  .media-enquiry{
    @extend %bottom-border;
    @include AU-space('margin-bottom', .5unit);;
    color: $colour-minorText;
  }

  .field-name-field-related-contact {
    @include AU-space('margin-bottom', 1.5unit);
    > .field-items > .field-item {
      @include AU-space('margin-bottom', .5unit);;
    }
  }
}

// Put a consistent space between the label and the value when displayed inline.
%spaced-inline-label {
  .field-label {
    width: 11em;
  }
}

// Override the line height from UIKit on image fields.
.field-name-field-image,
.field-name-field-image-featured {
  div {
    line-height: 0;
  }
}
