@import "_print.scss";

// Date
%meta-date {
    color: $colour-minorText;
    font-size: 87.5%;
    margin-bottom: uikit-space(0.5);
}

// Wrapper for date and tag
%date-and-tag {

  .field-type-datetime,
  .field-name-field-status,
  .field-name-field-time-required,
  .field-name-ds-content-type,
  .field-name-field-publication-type,
  .field-name-field-video-type {
    @extend %meta-date;
    float: left;
    .tags__item {
      font-weight: normal;
    }
    padding-right: uikit-space(.5);
  }

  .field-name-ds-content-type,
  .field-name-field-time-required,
  .field-name-field-publication-type,
  .field-name-field-video-type {
    padding-left: uikit-space(.5);
    border-left: 1px solid $colour-minorText;
  }
}

%date-and-tag--small {

  .field-type-datetime,
  .field-name-field-status,
  .field-name-field-time-required,
  .field-name-ds-content-type,
  .field-name-field-publication-type,
  .field-name-field-video-type,
  .field-name-field-media-type {
    @extend %meta-date;
    font-size: 12px;
    @include uikit-media(md) {
      font-size: 14px;
    }
    float: left;
    margin-bottom: 0;
    padding-right: uikit-space(.5);
  }

  .field-name-ds-content-type,
  .field-name-field-time-required,
  .field-name-field-publication-type,
  .field-name-field-video-type,
  .field-name-field-media-type {
    padding-left: uikit-space(.5);
    border-left: 1px solid $colour-minorText;
  }
}

// All fields
%field-label,
.field-label-ui label {
    font-weight: bold;
    margin-bottom: uikit-space(.25);
}

%field-item {
    padding-bottom: uikit-space(1);
    display: block;
}

// Stacked vs inline
.field-label-inline {
    clear: both;
    @include uikit-media(sm) {
      clear: none;
    }

    .field-label {
        @extend %field-label;
        margin-right: uikit-space(0.25);
        @include uikit-media(sm) {
          margin-right: uikit-space(.5);
          float: left;
        }
    }
    .field-items, dl.tags {
        @extend %field-item;
        @include uikit-media(sm) {
          float: none;
        }
    }
}
.field-label-above {
    .field-label {
        @extend %field-label;
    }
    .field-items {
        @extend %field-item;
    }
}

// Styling by field name

// Addresses
// .field-name-field-contact-postal-address,
// .field-name-field-contact-street-address {
//   .field-items {
//     border-left: $health-borderize--fat;
//     padding-left: uikit-space(1.5);
//   }
// }

// Ext link
.field-name-field-link-external {
    padding-bottom: uikit-space(1.5);
    .field-label {
        @extend .uikit-display-3;
        font-weight: normal;
    }
    .field-items {
        @extend %ext-link-wrapper;
    }
}

// External link
.external-link-url {
    @extend %ext-link;
}

// Email telephone field
.field-name-field-contact-email,
.field-name-field-contact-telephone {
    i:before {
      position: relative;
      font-size: 1em;
    }
}

// Paragraph styling
// Email
.paragraphs-item-para-email {
  .field-items{
    padding-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
}

// Telephone
.paragraphs-items-field-para-telephone {
  .field-items{
    padding-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
}

// Document accessibility
.document-accessibility-form {
  padding: uikit-space(1.5) 0 uikit-space(0.5) 0;
  color: $colour-minorText;
  a {
    color: $colour-minorText;
  }
  font-size: 0.9em;
}

// Summary
p.summary, .field-name-field-summary {
    @include uikit-clearfix();
    clear: both;
}

// Resource title.
.resource-title, p.resource-title {
  @extend .uikit-display-2;
  margin-bottom: uikit-space(0.5);
}

// Page currency
// Standard content types - last updated and 'what's wrong' at bottom
%page-help-and-currency {
    .page-layout {
      margin-bottom: 0;
    }
    .field-name-field-date-updated,
    .field-name-field-date-published {
        &.field-label-inline {
            border-top: $uikit-borderize;
            padding-top: uikit-space(1);
            margin-top: uikit-space(1);
            @include uikit-media(sm){
                margin-top: uikit-space(2);
            }
            @include uikit-media(md){
                margin-top: uikit-space(3);
            }
        }
    }
}
%page-help-only {
  .page {
    .field-name-field-date-updated,
    .field-name-field-date-published {
      &.field-label-inline, &.field-label-above {
        border: 0;
        padding-top: 0;
        margin-top: 0;
      }
    }
    .field-name-field-related-health-topics {
      @extend %bottom-border;
    }
  }
}

%page-help-only--no-border {
  .page {
    .field-name-field-date-updated,
    .field-name-field-date-published {
      &.field-label-inline, &.field-label-above {
        border: 0;
        padding-top: 0;
        margin-top: 0;
      }
    }
  }
}

%bottom-border {
  border-top: $uikit-borderize;
  padding-top: uikit-space(1);
  margin-top: uikit-space(1);
  @include uikit-media(sm){
    margin-top: uikit-space(2);
  }
  @include uikit-media(md){
    margin-top: uikit-space(3);
  }
}

%media-enquiry {
  .media-enquiry{
    @extend %bottom-border;
    margin-bottom: uikit-space(.5);
    color: $colour-minorText;
  }

  .field-name-field-related-contact {
    margin-bottom: uikit-space(1.5);
    > .field-items > .field-item {
      margin-bottom: uikit-space(.5);
    }
  }
}

// Put a consistent space between the label and the value when displayed inline.
%spaced-inline-label {
  .field-label {
    width: 11em;
  }
}

// Override the line height from UIKit on image fields.
.field-name-field-image,
.field-name-field-image-featured {
  div {
    line-height: 0;
  }
}

%minor-text {
  font-size: 13px;
}