//--------------------------------------------------------------
// Book navigation
// Next, Previous, Up
//
//-------------------------------------------------------------

.book-navigation {
  border-top: 1px solid $AU-color-foreground-border;
  @include AU-space(padding-top, 1.5unit);

  .au-display-lg {
    margin-top: 0;
  }

  a {
    display: block;
    text-decoration: none;
    color: $AU-color-foreground-text;
    &:hover {
      background: $AU-color-background-alt-suggestion;
    }
    @include AU-space(padding-top, 1unit);
    @include AU-space(padding-bottom, 1unit);
  }

  &--right {
    text-align: right;
  }
}

//--------------------------------------------------------------
// Print styles
//
//-------------------------------------------------------------

@media print {
  .book-navigation {
    display: none;
  }
}
