//--------------------------------------------------------------
// Book navigation
// Next, Previous, Up
//
//-------------------------------------------------------------

.book-navigation {
  max-width: 42em;
  margin: uikit-space(1) 0;
  border-top: 1px solid $uikit-colour-Border;
}

.book-navigation__link-wrapper {
  padding: uikit-space(1) 0;
}

.book-navigation__link-title {
  display: block;
  margin-top: uikit-space(.25);
}


.book-navigation__link-wrapper--right {
  text-align: right;
}

//--------------------------------------------------------------
// Print styles
//
//-------------------------------------------------------------

@media print {
  .book-navigation {
    display: none;
  }
}
