//--------------------------------------------------------------
// Book navigation
// Next, Previous, Up
//
//-------------------------------------------------------------

.book-navigation {
  max-width: $AU-maxwidth;
  @include AU-space('margin', 1unit);
  border-top: 1px solid $AU-color-foreground-border;
}

.book-navigation__link-wrapper {
  @include AU-space('padding', 1unit 0);
}

.book-navigation__link-title {
  display: block;
  @include AU-space('margin-top', .25unit);
}

.book-navigation__link-wrapper--right {
  text-align: right;
}

//--------------------------------------------------------------
// Print styles
//
//-------------------------------------------------------------

@media print {
  .book-navigation {
    display: none;
  }
}
