// Menu navigation
//
// A default link list used as navigation which can be displayed to the
// side or below the main content.
//
// Markup: menu.twig
//
// Style guide: navigation.menu

// Sub menu above search
#block-menu-menu-sub-menu {
  @include AU-clearfix;
  .block__title {
    @include AU-sronly;
  }
  .menu {
    @extend .au-link-list;
    @extend .au-link-list--inline;
    float: right;
    background: transparent;
    padding-top: 0;
    li:first-of-type{
      margin-left: 0;
    }
  }
  display: none;
  @include AU-media(sm) {
    display: block;
  }
}

// Footer navigation.
footer {
  .menu {
    @extend .au-link-list;
  }
}