// Menu navigation
//
// A default link list used as navigation which can be displayed to the
// side or below the main content.
//
// Markup: menu.twig
//
// Style guide: navigation.menu

// Sub menu above search
#block-menu-menu-sub-menu {
  ul {
    float: right;
  }
  display: none;
  @include AU-media(sm) {
    display: block;
  }
}
