// Design System mixins for reference
// - mixins
//   - AU-space
//   - AU-clearfix
//   - AU-media
//   - AU-sronly
//   - AU-outline
//   - AU-focus
//   - AU-fontgrid
// - variables
//   - AU-pixelfallback
//   - AU-media-*
//   - AU-media-*
//   - AU-rem
//   - AU-unit
//   - AU-font
//   - AU-font-monospace
//   - AU-fontsize-map
//   - AU-lineheight-map
//   - AU-maxwidth
//   - AU-color-*
//   - AU-border-radius

@mixin opacity( $opacity ) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}


/**
 * Create media queries and wraps the @content code inside of it
 *
 * @param  {keywords} $breakpoint - Either one of the following keywords: xs, sm, md, lg
 *
 * @return {string}               - The code passed in via @content wrapped inside a media query
 */
@mixin media-max( $breakpoint ) {
  @if type-of( $breakpoint ) != 'string' {
    @error "Captain I’m giving it all she’s got but; the AU-media mixin only takes a string!";
  }

  @if $breakpoint != 'xs' and $breakpoint != 'sm' and $breakpoint != 'md' and $breakpoint != 'lg' {
    @error "There’s no crying in baseball; the AU-media mixin only takes the following breakpoint strings: xs, sm, md, lg";
  }

  @if( $breakpoint == "xs" ) {
    @media (max-width: $AU-media-xs) {
      @content;
    }
  }

  @if( $breakpoint == "sm" ) {
    @media (max-width: $AU-media-sm) {
      @content;
    }
  }

  @if( $breakpoint == "md" ) {
    @media (max-width: $AU-media-md) {
      @content;
    }
  }

  @if( $breakpoint == "lg" ) {
    @media (max-width: $AU-media-lg) {
      @content;
    }
  }
}

@mixin shadowfy($colour: $colour-Shadow){
  box-shadow: 0px 3px 10px $colour;
}

@mixin circlefy(){
  border-radius: 50%;
  border: $health-borderize;
}

// UI-Kit link style
%link {
}

// Mixin to apply row and container
@mixin row-and-container {
  // Contain content (required)
  &.inside-para-container {
    @extend .container;

    // Add row (required)
    > .para-row {
      @extend .row;
    }
  }
}

// Mixin to apply colours to card.
@mixin card-colour($colour: $colour-Secondary, $colour-hover: $colour-Secondary-hover) {
  background: $colour;

  &:hover {
    background: $colour-hover;

  }
}

// Mixin to apply card (border top colour) style to bean blocks.
@mixin block-card($border-colour-top: $colour-Tertiary-2, $border-hover-colour: $colour-Tertiary-2-hover, $bg-colour: $colour-lightest, $bg-hover-colour: $colour-light-dark) {
  a {
    @include AU-space('padding', 0.5unit);
    @include AU-media(md) {
      @include AU-space('padding', 1unit);
    }
    border-bottom: none;
    display: block;
    overflow: hidden;
    background: $bg-colour;
    border-top: 10px solid $border-colour-top;

    // Move external link icon to title not whole <a>
    &:after {
      display: none;
    }


    .field-name-field-image {
      svg {
        path, rect {
          fill: #000;
        }
      }
    }

    &:hover,
    &:focus {
      background: $bg-hover-colour;
      border-top-color: $border-hover-colour;
      .field-name-field-link-internal {
        .field-item {
          text-decoration: none;
        }
      }
    }

    .field-name-field-link-internal {
      .field-item {
        display: inline;
        font-weight: 700;
        margin-bottom: 0;
      }
    }
    &[rel~='external'] {
      .field-name-field-link-internal {
        .field-item:after {
          // Move into corner as breaks mobile layout
          position: absolute;
          @include AU-space('top', .75unit);
          @include AU-space('right', .75unit);
        }
      }
    }
  }
}

// Mixin to apply responsive styles to SVGs in bean blocks.
@mixin block-text-image-svg($icon-size: '') {
  
  @if $icon-size == 'large' {
    svg {
      max-width: 65%;
      // IE doesn't handle max-width scaling correctly, so we have to specify width and height in px
      max-width: 75px;
      max-height: 75px;
      // @include AU-media(sm) {
      //   max-width: 75px;
      //   max-height: 75px;
      // }
      @include AU-media(md) {
        max-width: 105px;
        max-height: 105px;
      }
    }
  } @else {
    svg {
      max-width: 35%;
      // IE doesn't handle max-width scaling correctly, so we have to specify width and height in px
      max-width: 30px;
      max-height: 30px;
      // @include AU-media(sm) {
      //   max-width: 30px;
      //   max-height: 30px;
      // }
      @include AU-media(md) {
        max-width: 40px;
        max-height: 40px;
      }
    }
  }
  
}

@mixin hotline-bar($bgcolour: $colour-Tertiary-2, $bgcolour-left: $colour-Tertiary-2-dark, $font-colour: white) {
  @extend %colour-Tertiary-2-background;

  // font colour
  color: $font-colour;
  h2 {
    color: $font-colour;
  }
  a {
    color: $font-colour;
    &:hover {
      color: $font-colour;
      background: none;
    }
  }
  .au-cta-link {
    padding-left: 0;
    &:after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='white' d='M128 64l-64 64-16-16 64-64'/%3E%3Cpath fill='white' d='M128 64l-16 16-64-64L64 0'/%3E%3C/svg%3E");
    }
  }

  .field-label {
    @include AU-fontgrid(lg);
  }

  // display mode
  .view-mode-hotline_bar {
    h2 {
      @include AU-fontgrid(xl, heading);
      @include AU-space(padding-left, 1unit);
      @include AU-space(padding-right, 1unit);
      color: $font-colour;
    }
  }
}