// Feature
%dm-feature {
    overflow: hidden;
    // Layout
    .group-left {
        width: 100%;
        padding-bottom: 0;
        @include uikit-clearfix();
    }
    .group-right {
        width: 100%;
        @include uikit-clearfix();
        padding-top: uikit-space( .5);
    }
    // Date and tag
    @extend %date-and-tag;
    
    .field-type-image {
        width: 100%;
      div, a {
        line-height: 0;
      }
        img {
            float: left;
            border: 0;
          &:hover, &:active {
            opacity: 0.75;
          }
        }
        a {
            border: none;
          background-color: black;
          display: block;

        }
    }
    .field-name-title h2 {
        @extend %list-item-title--medium;
    }
}

%dm-feature-2-col {
  @extend .row;

  overflow: hidden;
  // Layout
  .group-left {
    @extend .col-md-6;
    padding-bottom: uikit-space(0.75);
    @include uikit-media(xs) {
      padding-bottom: 0;
    }
  }
  .group-right {
    @extend .col-md-6;
  }
  // Date and tag
  @extend %date-and-tag;

  // Image
  .field-name-field-image-featured {
    div, a {
      line-height: 0;
    }
    img {
      border: $health-borderize--thin;
      max-height: 275px;
      width: auto;
      @include uikit-media(md) {
        height: auto;
        max-height: none;
        width: 100%;
      }
      &:hover, &:active {
        opacity: 0.75;
      }
    }
    a {
      background-color: black;
      border: none;
      display: block;
    }

  }
  // Title
  .field-name-title {
    h2,
    h3 {
      @extend %list-item-title--medium;
    }
  }
}