// Feature
%dm-feature {
    // Date and tag
    @extend %date-and-tag;
    
    .field-type-image {
        width: 100%;
      div, a {
        line-height: 0;
      }
      img {
        border: 0;
        &:hover, &:focus, &:active {
          opacity: 0.75;
        }
      }
      a {
        border: none;
        background-color: black;
        display: block;
        &:focus {
          border: 2px solid $colour-Secondary-hover;
        }
      }
    }
    .field-name-title h2 {
        @extend %list-item-title--medium;
    }
}

%dm-feature-2-col {
  @extend .row;

  overflow: hidden;
  // Layout
  .group-left {
    @extend .col-md-6;
    @include AU-space('padding-bottom', .75unit);
    @include AU-media(xs) {
      padding-bottom: 0;
    }
  }
  .group-right {
    @extend .col-md-6;
  }
  // Date and tag
  @extend %date-and-tag;

  // Image
  .field-name-field-image-featured {
    div, a {
      line-height: 0;
    }
    img {
      border: $health-borderize--thin;
      @include AU-media(md) {
        &:hover, &:focus, &:active {
          opacity: 0.75;
        }
      }
    }
    a {
      @include AU-media(md) {
        background-color: black;
        display: block;
      }
      border: none;
      &:focus {
        border: 2px solid $colour-Secondary-hover;
      }
    }
  }
  // Title
  .field-name-title {
    h2,
    h3 {
      @extend %list-item-title--medium;
    }
  }
}