%dm-full-content {
  .group-footer {
    padding-top: 0;
    @include AU-media(sm) {
      @include AU-space('padding-top', 1unit);
    }
  }
  .field-name-field-image-featured {
    img {
      max-width: 100%;
      @include AU-space(margin-top, 1unit);
      @include AU-space(margin-bottom, 3unit);
    }
    a {
      border: none;
    }
  }

}