%dm-full-content {
  width: 100%;

  // layout
  .group-left {
    width: 100%;
    @include uikit-media(xs) {
      width: 30%;
    }
  }
  .group-right {
    width: 100%;
    @include uikit-media(xs) {
      width: 70%;
    }
  }
  .group-footer {
    padding-top: 0;
    @include uikit-media(sm) {
      padding-top: uikit-space(1);
    }
  }
  .field-name-field-image-featured {
    img {
      max-width: 100%;
    }
    a {
      border: none;
    }
  }

  // In full mode, add some padding between the left and right.
  .view-mode-full {
    > .group-left {
      @include uikit-media(xs) {
        padding-right: uikit-space(1.5);
      }
      @include uikit-media(md) {
        padding-right: uikit-space(2.5);
      }
      padding-bottom: uikit-space(1);
    }
  }

}