// Inline
%dm-inline {
  border-left: $health-borderize--fat;
  background: $AU-color-background;

  @include AU-space('padding', .5unit);
  @include AU-media(sm) {
    @include AU-space('padding', 1unit);
  }

  @include AU-space('margin-bottom', 1unit);

  .field-name-title {
    h2 {
      @include AU-fontgrid('lg');
    }
    p {
      @include AU-fontgrid('md');
    }
  }
  // thumbnail
  .field-name-field-image-thumbnail,
  .field-name-field-image-featured {
    img {
      border: $health-borderize;
      @include AU-space('margin-bottom', 1unit);
    }
  }
}

%dm-inline-2-col {
  @extend %dm-inline;
  @include AU-space('padding', .5unit 0);
  @include AU-media(sm) {
    @include AU-space('padding', 1unit 0.5unit);
  }

  // layout
  .group-left {
    @extend .col-xs-4;
    @extend .col-sm-3;
  }
  .group-right {
    @extend .col-xs-8;
    @extend .col-sm-9;
  }
}

%dm-inline-large {
  @include AU-space('margin-bottom', 1unit);
  .field-name-title {
    font-weight: bold;
  }
  .group-name {
      .field {
          float: left;
          margin-right: 4px;
      }
      @include AU-clearfix;
  }
  p {
      margin-bottom: 0;
  }

  @include AU-space('margin-bottom', 1unit);
  @include AU-media(sm){
    @include AU-space('margin-bottom', 2unit);
  }
  @include AU-media(md){
    @include AU-space('margin-bottom', 3unit);
  }
}