%dm-list-vertical {
    // Layout
    .group-left {
        width: 20%;
        padding-right: uikit-space(.5);
        @include uikit-media(xs) {
            width: 25%;
            padding-right: uikit-space(1);
        }
    }
    .group-right {
        width: 80%;
        @include uikit-media(xs) {
            width: 75%;
        }
    }
    // Fields
    .field-name-field-image-featured {
        div {
          line-height: 0;
        }
        width: 100%;
        background-color: #f9f9f9;
        border: 2px solid #e8e8e8;
    }
    
    // Date and tag
    @extend %date-and-tag;

    // Title
    .field-name-title {
        h2,
        h3 {
            @extend %list-item-title--large;
        }
    }
}

// Listing vertical small
%dm-list-vertical--small {
    // Layout
    .group-left {
        width: 40%;
    }
    .group-right {
        width: 60%;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: uikit-space(1);
    }
    // Fields
    .field-name-title {
        h2,
        h3 {
            @extend %list-item-title;
        }
    }

    // Date and tag
    @extend %date-and-tag;

    .field-name-field-image-featured {
      background-color: #f9f9f9;
      border: 2px solid #f5f5f5;
      div {
        line-height: 0;
      }
      width: 100%;
      img {
        border: 0;
        max-height: 138px;
        width: auto;
        @include uikit-media(sm) {
          max-height: 78px;
          width: auto;
        }
        @include uikit-media(md) {
          max-height: 104px;
        }
        @include uikit-media(lg) {
          max-height: 127px;
        }
      }
      text-align: center;
      a {
          border: none;
      }
    }
}

%dm-list-vertical--small-noimage {
    border-left: $health-borderize--fat;
    .group-left {
        display: none;
    }
    .group-right {
        width: 100%;
    } // Fields
    .field-name-title h2,
    .field-name-title h3,
    .field-name-title h4 {
        @extend %list-item-title;
    }
    // Date and tag
    @extend %date-and-tag;
}