%dm-list-vertical {
    // Layout
    @extend .row;
    .wrapper {
      @extend .col-sm-12;
    }
    .group-left {
      @extend .col-sm-3;
      padding-bottom: uikit-space(0.5);
      @include uikit-media(sm) {
        padding-bottom: 0;
      }

      // Shame. Override ds-col css.
      width: 100%;
      float: none;
    }
    .group-right {
      @extend .col-sm-9;

      // Shame. Override ds-col css.
      width: 100%;
      float: none;
    }
    // Fields
    .field-name-field-image-featured {
      a {
        border-bottom: 0;
        line-height: 0;
        @include uikit-media(sm) {
          background-color: black;
          display: block;
        }
        &:focus {
          border: 2px solid $colour-Secondary-hover;
        }
      }
      img {
        max-height: 240px;
        width: auto;
        @include uikit-media(sm) {
          max-height: none;
          width: 100%;
          &:hover, &:focus, &:active {
            opacity: 0.75;
          }
        }
        border: $health-borderize--thin;
      }
    }
    
    // Date and tag
    @extend %date-and-tag;

    // Title
    .field-name-title {
        h2,
        h3 {
            @extend %list-item-title--large;
        }
    }

    // Collection link
    .field-name-field-publication-collection {
      padding-top: uikit-space(.75);
    }
}

// Listing vertical small
%dm-list-vertical--small {
    // Layout
    .group-left {
        width: 40%;
    }
    .group-right {
      width: 60%;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: uikit-space(.5);
      @include uikit-media(sm) {
        padding-left: uikit-space(1);
      }
    }
    // Fields
    .field-name-title {
        h2,
        h3 {
            @extend %list-item-title;
        }
    }

    // Image
    .field-name-field-image-featured {
      div {
        line-height: 0;
        text-align: right;
      }
      a {
        border-bottom: 0;
        line-height: 0;
        @include uikit-media(sm) {
          background-color: black;
          display: block;
        }
        &:focus {
          border: 2px solid $colour-Secondary-hover;
        }
      }
      img {
        max-height: 240px;
        width: auto;
        @include uikit-media(sm) {
          max-height: 130px;
          &:hover, &:focus, &:active {
            opacity: 0.75;
          }
        }
        border: $health-borderize--thin;
      }
    }

    // Date and tag
    @extend %date-and-tag--small;

    // Collection link
    .field-name-field-publication-collection {
      padding-top: uikit-space(.75);
    }
}

%dm-list-vertical--small-noimage {
    border-left: $health-borderize--fat;
    .group-left {
      display: none;
    }
    .group-right {
      @extend .col-sm-12;
    }
    // Fields
    .field-name-title h2,
    .field-name-title h3,
    .field-name-title h4 {
        @extend %list-item-title;
    }
    // Date and tag
    @extend %date-and-tag;
}