.views-exposed-form {
  label {
    margin-bottom: uikit-space(.25);
    display: block;
  }
  .views-exposed-widget {
    float: none;
    padding: 0;

    &.views-submit-button {
      float: left;
    }

    &.views-reset-button {
      float: left;
      padding: 10px 0 0 20px;
    }
  }
  .form-item {
    margin-bottom: uikit-space(.25);
  }
  .views-exposed-widget .form-submit {
    margin-top: 0;
  }
}

.views-widget-sort-sort_bef_combine {
  border-bottom: solid 2px $colour-Primary-darker;
  margin-bottom: uikit-space(.75);
}

.form-type-bef-link {
  display: inline-block;
  a {
    @extend .uikit-tags__item;
    &.active {
      color: #fff;
      background: $colour-Primary-darker;
    }
  }
}

// Applied filters
#edit-custom-remove {
  label {
    @extend .uikit-display-1;
    display: block;
    @include uikit-media(sm){
      margin-right: uikit-space(0.5);
      display: inline;
    }
  }
  .facet-clear {
    color: $colour-minorText;
  }
  .facet-remove {
    display: inline;
  }
  .facet-remove-link {
    @extend .uikit-tags__item;
    border: 1px solid $colour-Secondary;

    &:hover,
    &:focus,
    &:active {
      background-color: $colour-Secondary;
      color: #fff;
    }
    font-weight: normal;
  }
  // Fix the inline display of the icon.
  .fa {
    display: inline;
    font-size: 0.8em;
    padding-left: 0.5em;
    &:before {
      position: relative;
    }
    bottom: -3px;
  }
}