.views-exposed-form {
  label {
    @include AU-space('margin-bottom', .25unit);
    display: block;
  }
  .views-exposed-widget {
    float: none;
    padding: 0;

    &.views-submit-button {
      float: left;
    }

    &.views-reset-button {
      float: left;
      padding: 10px 0 0 20px;
    }
  }
  .form-item {
    @include AU-space('margin-bottom', .25unit);
  }
  .views-exposed-widget .form-submit {
    margin-top: 0;
  }
}

.views-widget-sort-sort_bef_combine {
  border-bottom: solid 2px $colour-Primary-darker;
  @include AU-space('margin-bottom', .75unit);
}

.form-type-bef-link {
  display: inline-block;
  a {
    @extend .au-tags__item;
    &.active {
      color: #fff;
      background: $colour-Primary-darker;
    }
  }
}

// Applied filters
#edit-custom-remove {
  .item-list, ul {
    display: inline;
  }

  label {
    @include AU-fontgrid('sm');
    display: block;
    @include AU-media(sm){
      @include AU-space('top', .5unit);
      display: inline;
    }
  }
  .facet-clear {
    color: $colour-minorText;
  }
  .facet-remove {
    display: inline;
  }

  // Fix the inline display of the icon.
  .fa {
    display: inline;
    font-size: 0.8em;
    padding-left: 0.5em;
    &:before {
      position: relative;
      margin-left: 0;
    }
    bottom: -3px;
    margin-left: 0;
  }
}
