// Content type template 
// ======================

// Default/full content
.node-type-contact {
  @extend %dm-full-content;
	@extend %page-help-and-currency;
}

// Display modes
.node-contact {

	// List vertical
	&.view-mode-listing_vertical {
		@extend %dm-list-vertical;
	}
	// List vertical small
	&.view-mode-listing_vertical_small {
		@extend %dm-list-vertical--small-noimage;
    }
    
    // List horizontal
    &.view-mode-listing_horizontal {
		@extend %dm-list-horizontal;
    }

	// Feature
	&.view-mode-feature {
		@extend %dm-list-horizontal;
    }

	// Inline style
	&.view-mode-inline {
    @extend %dm-inline-2-col;
    // layout override
    .group-left {
      @extend .col-sm-2;
    }
    // .group-right {
    //   @extend .col-sm-10;
    // }
    // Styling
    border-left: 0;
    background: none;

    padding: 0;
    @include uikit-media(sm) {
      padding: 0;
    }
  }

  // Inline style
  // &.view-mode-inline_large {
  //   @extend %dm-inline-large;
  // }
    
  // Search
  &.view-mode-search_result {
      @extend %dm-search-index;
  }

  // Contact type subsets for differential styling
  .field-name-field-image-featured {
    img {
      border: 0; // Clear for company logos, crests, etc
    } 
  }

  // Apply circle style to default image and sleected ones regardless of upload
  &.department-of-health,
  &.minister,
  &.committee-or-group {
    .field-name-field-image-featured {
      img {
        @include circlefy;
      } 
    }
  }

  // If default image is used apply circle regardless
  .field-name-field-image-featured.default {
    img {
      @include circlefy;
    } 
  }
  
}