// Content type template 
// ======================

// Default/full content
.node-type-contact {
    @extend %dm-full-content;
	@extend %page-help-and-currency;
}

// Display modes
.node-contact {

	// List vertical
	&.view-mode-listing_vertical {
		@extend %dm-list-vertical;
	}
	// List vertical small
	&.view-mode-listing_vertical_small {
		@extend %dm-list-vertical--small-noimage;
    }
    
    // List horizontal
    &.view-mode-listing_horizontal {
		@extend %dm-list-horizontal;
    }

	// Feature
	&.view-mode-feature {
		@extend %dm-list-horizontal;
    }

	// Inline style
	&.view-mode-inline {
		@extend %dm-inline-2-col;
    }

  // Inline style
  &.view-mode-inline_large {
    .field-name-title {
      font-weight: bold;
    }
    .group-name {
      .field {
        float: left;
        margin-right: 4px;
      }
      @include AU-clearfix;
    }
    p {
      margin-bottom: 0;
    }

    @include AU-space('margin-bottom', 1unit);
    @include AU-media(sm){
      @include AU-space('margin-bottom', 2unit);
    }
    @include AU-media(md){
      @include AU-space('margin-bottom', 3unit);
    }
  }
    
    // Search
    &.view-mode-search_result {
        @extend %dm-search-index;
    }
}