// Content type styles by display mode (defined in /display-modes/*)
// ========================================

// Default/full content
.node-type-departmental-media {
  @extend %dm-full-content;
  @extend %page-help-only;
}

// Display modes
.node-departmental-media {

  // Full
  &.view-mode-full {
    .field-label-inline {
      .field-label {
        width: 11em;
      }
    }
    .field-name-field-image-featured {
      @include AU-space('margin-bottom', 1unit);
    }
    .field-name-field-related-health-topics {
      .field-label {
        width: auto;
      }
    }
    .field-name-field-body {
      @include AU-space(margin-top,3unit); 
    }
  }

  // Feature
  &.view-mode-feature {
    @extend %dm-feature;
    .field-name-field-image-featured {
      @extend %image--full;
    }
    .group-right {
      padding-top: 0;
    }
    @include cardify();
  }

  // Listing vertical
  &.view-mode-listing_vertical {
    .group-left {
      display: none;
    }
    @include AU-media( sm ) {
      .group-left {
        display: block;
      }
    }
  }

}