// Default/full content
.node-type-image{
    @extend %dm-full-content;
	@extend %page-help-only;
    @extend %page-title-no-supp;
}

// Display modes
.node-image {
    background: transparent;

    &.view-mode-full {
      .field-name-field-image-featured {
        @extend %image--full;
      }

      // image download
      .paragraphs-items-field-image-files {
        @extend %document-link;

        .field-name-field-image-files > h2 {
          @extend .uikit-display-3;
          margin-bottom: uikit-space(1);
        }
      }
    }

	// Major list
	&.view-mode-listing_vertical {
		@extend %dm-list-vertical;
		.group-left {
			display: block;
		}
	}

    &.view-mode-listing_vertical_small {
		@extend %dm-list-vertical--small;
    }

    // Feature
	&.view-mode-feature {
		@extend %dm-feature-2-col;
    }	
	// Inline
	&.view-mode-inline {
		margin: uikit-space(2) 0 uikit-space(1);
		padding: 0;
		border: 0;
		background: none;
		// thumbnail
		.field-name-field-image-featured {
			width: 100%;
			a {
				background: none;
				border: 0;
			}
			img {
				@extend .uikit-responsive-media-img;
				border: 0;
			}
		}
		
		// Link
		.field-name-title {
			font-size: 14px;
		}
	}
}