// Content type styles by display mode (defined in /display-modes/*)
// ========================================


// Default/full content
.node-type-news-article {
  @extend %dm-full-content;
  @extend %page-help-only;
}

// Display modes
.node-news-article {

    // Full
    &.view-mode-full {
      .field-label-inline {
        .field-label {
          width: 11em;
        }
      }
      .field-name-field-image-featured {
        margin-bottom: uikit-space(1);
      }
      .field-name-field-related-health-topics {
        .field-label {
          width: auto;
        }
      }
    }

	// Major list
	&.view-mode-listing_vertical {
		@extend %dm-list-vertical;
	}

	// List vertical small
	&.view-mode-listing_vertical_small {
		@extend %dm-list-vertical--small;
        @include cardify-small();
        img {
          border: none !important;
        }
	}

	// Feature
	&.view-mode-feature {
		@extend %dm-feature;
		.field-name-field-image-featured {
			@extend %image--full;
		}
		.group-right {
			padding-top: 0;
		}
        @include cardify();

	}
	
	// Inline style
	&.view-mode-inline {
		@extend %dm-inline-2-col;
	}
}