// Content type styles by display mode (defined in /display-modes/*)
// ========================================


// Default/full content
.node-type-news-article {
  @extend %dm-full-content;
  @extend %page-help-only;
}

// Display modes
.node-news-article {

    // Full
    &.view-mode-full {
      .field-name-field-date-updated,
      .field-name-ds-content-type,
      .field-name-field-audience {
        @extend %spaced-inline-label;
      }
      .field-name-field-image-featured {
        @include AU-space('margin-bottom', 1unit);
      }
      .field-name-field-related-health-topics {
        margin-top: 0;
      }
    }

	// Major list
	&.view-mode-listing_vertical {
		@extend %dm-list-vertical;
	}

    // List vertical small
    &.view-mode-listing_vertical_small {
      @extend %dm-list-vertical--small;
      @include cardify-small();
      img {
        border: 0 !important;
      }
      @include AU-media(md) {
        .group-details {
          position: absolute;
          bottom: 10px;
        }
      }
    }

	// Feature
	&.view-mode-feature {
      @extend %dm-feature;
	}
	
	// Inline style
	&.view-mode-inline {
		@extend %dm-inline-2-col;
	}

    // Search
    &.view-mode-search_result {
      @extend %dm-search-index;
    }
}