// Default/full content
.node-type-publication-collection {
}

// Display modes
.node-publication-collection {
  background: transparent;

  &.view-mode-full {

    // Image
    .field-name-field-image-featured {
      @extend %image--full;
    }


    // sub-document links
    .grouping-title {
      font-weight: bold;
    }

    .group-left img {
      border: $health-borderize;
    }

  }
}
