// Default/full content
.node-type-publication-collection {
  @extend %dm-full-content;
  @extend %page-help-only;
}

// Display modes
.node-publication-collection {
  background: transparent;

  &.view-mode-full {

    // Image
    .field-name-field-image-featured {
      @extend %image--full;
    }

    .paragraphs-item-publication-grouping {
      @extend %date-and-tag;
    }

    // sub-document links
    .grouping-title {
      font-weight: bold;
    }

    .group-left img {
      border: $health-borderize;
    }

  }
}
