// Default/full content
.node-type-publication {
}

// Display modes
.node-publication {

  &.view-mode-listing_vertical_small {
    border-top-width: 6px;
    border-top-style: solid;
    border-top-color: $colour-Tertiary-2;
    @include AU-space(padding-top, 2unit);
    @include AU-space(margin-top, 1.5unit);
  }

  // Embedded inline with 'view text version' link
  &.view-mode-inline_large {
    img {
      @include AU-space(margin-bottom, 1unit);
      display: block;
    }
  }

  &.view-mode-full {
    .group-left {
      img {
        border: $health-borderize;
      }
    }
  }

}