// Content type template 
// ======================

// Default/full content
.node-type-statistic {
  @extend %dm-full-content;
  @extend %page-help-and-currency;
}

// Display modes
.node-statistic {

  // List vertical
  &.view-mode-listing_vertical {
    @extend %dm-list-vertical;
  }
  // List vertical small
  &.view-mode-listing_vertical_small {
    @extend %dm-list-vertical--small-noimage;
  }

  // List horizontal
  &.view-mode-listing_horizontal {
    @extend %dm-list-horizontal;
  }

  // Featured, inline
  &.view-mode-feature,
  &.view-mode-inline {

    @extend %stat;

    // Outer wrapper.
    .one-column-wrapper {
      @extend %stat__wrapper;

      // Inner wrapper.
      .group-statistic {
        @extend %stat__card--primary;

        // Value.
        p.field-name-field-statistic-value {
          @extend %stat__value;

          // Reset UIKit p margin styles.
          margin: 0;

          .statistic-value {
            @extend %stat__value-value;
          }

          .statistic-value-suffix {
            @extend %stat__value-suffix;
          }

          .statistic-value-prefix {
            @extend %stat__value-prefix;
          }
        }

        // Text.
        p.field-name-field-statistic-value-text {
          @extend %stat__text;
          // Reset UIKit p margin styles.
          margin: 0;
        }

        // Trend.
        .group-trend {
          @extend %stat__trend;
        }

        .field-name-field-statistic-trend-text {
          @extend %stat__trend-value;
        }

        .statistic-icon {
          @extend %stat__trend-icon;
          font-style: normal;
        }
      }

      // No trend variant.
      &.no-trend {
        // Outer wrapper.
        .one-column-wrapper {
          @extend %stat__wrapper;

          // Inner wrapper.
          .group-statistic {

            // Trend
            .group-statistic-trend {
              @extend %stat__trend--no-trend;
            }

            // Value
            .group-statistic-value {
              @extend %stat__value--no-trend;
            }
          }
        }
      }
    }
  }

  &.view-mode-inline {
    max-width: 25em;
  }

  // Search
  &.view-mode-search_result {
    @extend %dm-search-index;
  }
}