// Content type styles by display mode (defined in /display-modes/*)
// ========================================

// Default/full content
.node-type-survey {
  @extend %dm-full-content;
  @extend %page-title-no-supp;
  @extend %page-help-and-currency;
}

// Display modes
.node-survey {

  // Full
  &.view-mode-full {
    .field-name-field-status,
    .field-name-field-date-end,
    .field-name-field-time-required,
    .field-name-field-audience,
    .field-name-ds-associated-release {
      @extend %spaced-inline-label;
    }

    .field-name-field-image-featured {
      padding-bottom: uikit-space(1);
    }
  }

  // List vertical
  &.view-mode-listing_vertical {
    @extend %dm-list-vertical;
  }
  // List vertical small
  &.view-mode-listing_vertical_small {
    @extend %dm-list-vertical--small-noimage;
  }

  // List horizontal
  &.view-mode-listing_horizontal {
    @extend %dm-list-horizontal;
  }

  // Feature.
  &.view-mode-feature {
    @extend %dm-feature;
    .field-name-field-image-featured {
      @extend %image--full;
    }
    .group-right {
      padding-top: 0;
      p {
        margin-bottom: 0;
      }
    }
    @include cardify();
    border: $health-borderize--thin;
    width: 50%;
    margin-bottom: uikit-space(1);
  }

  // Inline style
  &.view-mode-inline {
    @extend %dm-inline;
  }

  // Search
  &.view-mode-search_result {
    @extend %dm-search-index;
  }
}
