// Content type styles by display mode (defined in /display-modes/*)
// ========================================

// Default/full content
.node-type-survey {
  @extend %dm-full-content;
  @extend %page-help-and-currency;
}

// Display modes
.node-survey {

  // Full
  &.view-mode-full {
    .field-name-field-status,
    .field-name-field-date-end,
    .field-name-field-time-required,
    .field-name-field-audience,
    .field-name-ds-associated-release {
      @extend %spaced-inline-label;
    }

    .field-name-field-image-featured {
      @include AU-space('padding-bottom', 1unit);
    }
  }

  // List horizontal
  &.view-mode-listing_horizontal {
    @extend %dm-list-horizontal;
  }

  // Feature.
  &.view-mode-feature {
    @extend %dm-feature;
    .field-name-field-image-featured {
      @extend %image--full;
    }
    .group-right {
      padding-top: 0;
      p {
        margin-bottom: 0;
      }
    }
    width: 50%;
    @include AU-space('margin-bottom', 1unit);
  }

  // Search
  &.view-mode-search_result {
    @extend %dm-search-index;
  }
}
