// Content type template 
// ======================

// Default/full content
.node-type-health-topic,
.node-type-health-topic-hp {
    @extend %dm-full-content;
	@extend %page-help-only;
}

// Display modes
.node-health-topic {

	// List vertical
	&.view-mode-listing_vertical {
		@extend %dm-list-vertical;
      // For some dumb reason, wrapper is not extending properly for this single content type...
      .wrapper {
        box-sizing: border-box;
        position: relative;
        min-height: 1px;
        padding-left: 12px;
        padding-right: 12px;
      }
	}
	// List vertical small
	&.view-mode-listing_vertical_small {
		@extend %dm-list-vertical--small-noimage;
    }
    
    // List horizontal
    &.view-mode-listing_horizontal {
		@extend %dm-list-horizontal;
    }

	// Feature
	&.view-mode-feature {
		@extend %dm-list-horizontal;
    }

	// Inline style
	&.view-mode-inline {
		@extend %dm-inline;
    }
    
    // Search
    &.view-mode-search_result {
        @extend %dm-search-index;
    }
}