// Content type template
// ======================

// Default/full content
.node-type-video {
  @extend %dm-full-content;
  @extend %page-help-and-currency;
  @extend %page-title-no-supp;
}

.node-video {

  // List vertical
  &.view-mode-listing_vertical {
    @extend %dm-list-vertical;
    @extend %video__extend--small;
    .field-name-field-resource-duration .field-item {
      margin-right: 14px;
      margin-bottom: 22px;
      @include AU-media(sm) {
        margin-bottom: 2px;
      }
    }
  }

  // List vertical small
  &.view-mode-listing_vertical_small {
	@extend %dm-list-vertical--small;
    @extend %video__extend--small;
    .field-name-field-resource-duration .field-item {
      margin-right: 2px;
      margin-bottom: 2px;
    }
  }

  // List horizontal
  &.view-mode-listing_horizontal {
    @extend %dm-list-horizontal;
  }

  // Feature
  &.view-mode-feature {
    @extend %video__extend;

    // Layout
    .group-left {
      @include AU-media(md){
        @include AU-space('padding-right', 1unit);
      }
    }

    > .group-left {
      width: 100%;
      @include AU-clearfix;
      @include AU-media(md){
        width: 40%;
      }
    }
    > .group-right {
      width: 100%;
      @include AU-clearfix;
      @include AU-media(md){
        width: 60%;
        margin-top: -50px;
      }
    }


  }

  // Full content.
  &.view-mode-full {
    @extend %video__extend;
    .group-right {
      @include AU-media(md){
        @include AU-space('padding-right', 1unit);
      }
    }

    > .group-right {
      width: 100%;
      margin-top: 0;
      @include AU-clearfix;
      @include AU-media(md){
        width: 40%;
      }
    }
    &.node-video > .group-left {
      width: 100%;
      padding-right: 0;
      @include AU-clearfix;
      @include AU-media(md){
        width: 60%;
        @include AU-space('padding-right', 2.5unit);
      }
    }

    .field-name-field-resource-duration .field-items .field-item {
      margin-bottom: 7px;
    }
  }

  // Inline style
  &.view-mode-inline {
    @extend %dm-inline-2-col;
    @extend %video__extend--small;
    .group-left {
      @extend .col-sm-6;
    }
    div.group-right {
      @extend .col-sm-6;
    }
    .field-name-field-resource-duration .field-items .field-item {
      margin-right: 3px;
      margin-bottom: 9px;
    }
  }

  // Search
  &.view-mode-search_result {
    @extend %dm-search-index;
  }
}


// Extend the video classes onto our fields.
%video__extend {
  .group-video-preview {
    position: relative;
  }

  .field-name-field-resource-duration .field-item {
    @extend %video__length;
  }

  .field-name-field-image-featured {
    @extend %video__preview;
    img {
      width: 100%;
    }
    padding-bottom: 0 !important;
  }

  .video-youtube-wrapper {
    @extend %video__youtube;
  }
}

// Small variety.
%video__extend--small {
  @extend %video__extend;
  .field-name-field-resource-duration .field-item {
    @extend %video__length--small;
  }
}

