@import "card-cta-link";
@import "cards-colours";
@import "cards-modifier";

.au-card {
  @include AU-space( padding, 1.5unit );
  @include AU-space( margin-top, 1.5unit );
  @include AU-media( md ) {
    @include AU-space( padding, 2unit );
  }
  width: 100%;
  font-weight: normal;
  display:block;
  box-sizing: border-box;
  img,
  svg {
    display: block;
    min-width: 100%;
    height: auto;
  }

  // Override cta-link margin if on card
  &.au-cta-link {
    @include AU-space( margin-top, 1.5unit );

    .au-card__text {
      @include AU-space( margin-bottom, 1unit );
    }
  }

  // Typographic spacing
  * + hr,
  * + p,
  * + .au-card__title,
  * + .au-card__cta {
    @include AU-space( margin-top, 0unit );
    font-weight: normal;
  }
  .au-card__title {
    @include health-fontgrid( md , heading);
    @include AU-space( margin-bottom, 1unit );
    font-weight: bold;
  }

  .au-card__text {
    @include AU-fontgrid( sm );
    text-decoration: none;
  }

  hr {
    margin-bottom: 0;
  }

  .au-card__cta,
  .au-card__image {
    display: block;
    svg {
      path,
      rect {
        fill: $AU-color-foreground-text;
      }
    }
  }

  &.au-card--shadow {
    border-radius: 4px;
    overflow:hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background: $AU-color-background;
    .lt-ie9 & {
      border: solid 1px $AU-colordark-foreground-border-suggestion;
    }
  }

  &.au-card--light {
    background: $AU-color-background;
    overflow: hidden;
  }

  &.au-card--centered {
    text-align: center;
    img,
    svg,
    .au-card__image, p
    {
      margin: auto;
    }
  }

  .au-card__fullwidth {
    @include AU-space( margin, -2unit -2unit 2unit -2unit );
    height: auto;
  }

  .au-card__bg {
    @include AU-space( padding, 1unit );
    background-color: $AU-colordark-background-shade-suggestion;

    &:not(:first-child) {
      @include AU-space( margin-top, 1unit );
    }
  }

  &.au-card--selector {
    @include AU-space('padding', 0.5unit);
    @include AU-media(md) {
      @include AU-space('padding', 1unit);
    }
    border-left: 1px solid $colour-light-dark;
    border-right: 1px solid $colour-light-dark;
    border-bottom: 1px solid $colour-light-dark;
    display: block;
    overflow: hidden;
    background: $colour-lightest;
    border-top: 10px solid $colour-light-dark;

    &:hover,
    &:focus {
      background: white;
      border-top-color: $colour-Secondary;
    }

    .au-card__title {
      @include AU-space(margin-top, .5unit);
      @include AU-space(margin-bottom, .5unit);
      @include health-fontgrid( sm , heading);
      max-width: 100%;
    }
    .au-card__image {
      max-width: 40px;
    }

    p {
      max-width: 75%;
    }

    // Add external icon to field-link-internal if the link is external.
    &[rel~='external'] {
      &:after {
        content: '' !important;
        display: none !important;
      }
      .au-card__title {
        @extend a[rel~='external'];
      }
    }
  }

  &.au-card--resource {
    border-top-width: 6px;
    border-top-style: solid;
    border-top-color: $colour-Tertiary-2;
    @include AU-space(padding, 2unit 0);
  }

}

// When the box is a link
a.au-card {
  color: $AU-color-foreground-text;

  .au-body & {
    text-decoration: none;
  }

  .au-card__title {
    text-decoration: underline;
  }

  &:hover {
    .au-card__title {
      text-decoration: none;
    }
  }

  &.au-card--shadow {
    &:focus {
      border-radius: 0;
    }

    &:hover {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }
  }

  .au-card__link,
  .au-card__cta {
    color: $AU-color-foreground-action;
    text-decoration: underline;
    text-decoration-skip: ink;
  }

}

// Card listing match height
.au-card-list {
  list-style: none;
  padding: 0;
  @include AU-card-cta-link($AU-color-foreground-text, $AU-color-foreground-text);
  @include AU-card-colours;
  @include AU-space( margin-top, 0 );
  @include AU-space( margin-bottom, 0 );

  li {
    list-style: none;
  }

  .au-body & {
    li {
      @include AU-space( margin, 0.75unit 0 );
    }
  }

  /*
  Flex is not supported on IE.
  &.au-card-list--matchheight {
    display: table;
    @supports( display: flex ) {
      display: flex;
      flex-wrap: wrap;
      
      // Override display:table if using flex as .row applies it
      &::before,
      &::after {
        display: none;
      }
    }

    li, article {
      display: table-cell;
      @supports( display: flex ) {
        display: flex;
      }
    }
    .au-card {
      @supports( display: flex ) {
        display:flex;
        flex-direction: column;
        &.au-card--vertical {
          flex-direction: initial;
          border-top-width: 6px;
          border-top-style: solid;
          border-top-color: $colour-Tertiary-2;
          transition: background-color 0.3s ease-in-out,color 0.3s ease-in-out;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    .au-card__stretch {
      flex: 1 0 auto;
    }
  }*/
}

@mixin cardify($bg: $colour-card) {
  background: $bg;
  display: block;
  margin-bottom: 0;
  overflow: hidden;
  // Image pane
  .group-left {
    padding: 0;
  }
  // Content pane
  .group-right {
    @include AU-space('padding', .6unit);
    @include AU-media(md) {
      @include AU-space('padding', 1unit);
    }
  }
}

@mixin cardify-small($bg: $colour-card) {
  background: $bg;
  display: block;
  margin-bottom: 0;
  overflow: hidden;
  // Image pane
  .group-left {
  }
  // Content pane
  .group-right {
    padding: 0.45em 0.8em;
    @include AU-media(md) {
      padding: 0.57em 1.05em;
    }
  }
}

