@import "card";

@mixin cardify($bg: $colour-card) {
  background: $bg;
  display: block;
  margin-bottom: 0;
  overflow: hidden;
  // Image pane
  .group-left {
    padding: 0;
  }
  // Content pane
  .group-right {
    @include AU-space('padding', .6unit);
    @include AU-media(md) {
      @include AU-space('padding', 1unit);
    }
  }
}

@mixin cardify-small($bg: $colour-card) {
  background: $bg;
  display: block;
  margin-bottom: 0;
  overflow: hidden;
  // Image pane
  .group-left {
  }
  // Content pane
  .group-right {
    padding: 0.45em 0.8em;
    @include AU-media(md) {
      padding: 0.57em 1.05em;
    }
  }
}