
@mixin cardify($bg: $colour-card) {
  background: $bg;
  display: block;
  margin-bottom: 0;
  overflow: hidden;
  // Image pane
  .group-left {
    padding: 0;
  }
  // Content pane
  .group-right {
    padding: uikit-space(.6);
    @include uikit-media(sm) {
      padding: uikit-space(1);
    }
  }
}

@mixin cardify-small($bg: $colour-card) {
  background: $bg;
  display: block;
  margin-bottom: 0;
  overflow: hidden;
  // Image pane
  .group-left {
  }
  // Content pane
  .group-right {
    padding: uikit-space(.5);
    @include uikit-media(sm) {
      padding: 0.57em 1.05em;
    }
  }
  .field-name-title {
    h3, h2 {
      font-size: 14px;
      @include uikit-media(sm) {
        font-size: 18px;
      }
    }
  }
}