// Image caption
.field-name-field-image-caption {
    margin-bottom: 2em;
}

%image--full {
    margin-bottom: uikit-space(1);
    width: 100%;
    img {
        border: $health-borderize;
        width: 100%;
    }     
}