// Image caption
.field-name-field-image-caption {
    margin-bottom: 2em;
}

%image--full {
    @include AU-space('margin-bottom', 1unit);
    @include AU-media(sm) {
      margin-bottom: 0;
    }
    width: 100%;
    img {
        border: $health-borderize;
        width: 100%;
    }
  div {
    line-height: 0;
  }
}

// Lazy loaded images.
.image-wrapper {
  width: 100%;
  height: 0;
  position: relative;

  &.image-loading {
    background-color: white;
  }

  .image {
    width: 100%;
    position: absolute;

    img {
      // Hide initially, until loaded.
      visibility: hidden;
      &.loaded {
        visibility: visible;
      }
    }
  }
}

@import '_print.scss';