.filter__mobile-title,
.filter-topics-by-letter__mobile-title {
  display: block;
  @include AU-fontgrid('sm');
  font-weight: 700;
  background: #fff;
  border-bottom: 6px solid $colour-Tertiary-2-darker;
  @include AU-space('padding', .5unit);
  @include AU-media(sm) {
    display: none;
  }
  &:after {
    width: 20px;
    height: 20px;
    content: " ";
    display: inline-block;
    margin-left: 10px;
    background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="5 2 15 15">
    <path fill="#000000" d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
    <path d="M0-.75h24v24H0z" fill="none"/>
  </svg>');
    background-repeat: no-repeat;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
  }
}
.filter__mobile-title.expanded:after,
.filter-topics-by-letter__mobile-title.expanded:after {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);
}

.filter__title {
  display: none;
  @include AU-media(sm) {
    display: block;
    @include AU-fontgrid('md');
  }
}


p.filter__help {
  display: none;
  @include AU-media(sm) {
    display: block;
    margin-right: 3em;
  }
}

.block-facetapi {
  @extend %mobile-menu;
  @extend .au-accordion;
  @include AU-media(sm){
    @include AU-space('margin-top', .5unit);
  }

  .facetapi-facetapi-checkbox-links a {
    border: none;
  }
  &.facetshow {
    visibility: visible;
    opacity: 1;
    height: auto;
    @include AU-space('margin-top', .5unit);
  }
}

.filter-topics-by-letter {
  @extend %mobile-menu;
  &.facetshow {
    visibility: visible;
    opacity: 1;
    height: auto;
    @include AU-space('margin-top', .5unit);
  }
}