@import "_print.scss";

%mobile-menu {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.8s linear;
  height: 0;
  @include AU-media(sm) {
    visibility: visible;
    opacity: 1;
    height: auto;
    @include AU-space('padding-right', 1unit);
  }
}
