.block-bean-call-to-action,
.bean-call-to-action {
  .field-name-field-link-to a {
    @extend .health-cta-link;
  }
}

// Our overrides for call to action link.
.health-cta-link {
  @extend .au-cta-link;
  @include health-fontgrid('md');
  &:after, &:hover:after {
    background-image: none;
    content: "\f061";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    z-index: 1;
  }
  &:after {
    @include AU-space('margin-left', .5unit);
  }
  &:hover:after {
    @include AU-space('margin-left', .75unit);
  }
}

.au-cta-link--light,
.page a.au-cta-link--light { // Have to overide uikit
  color: white;
}