.block-bean-call-to-action,
.bean-call-to-action {
  .field-name-field-link-to a {
    @extend .uikit-cta-link;
  } 
}

// Our overrides for call to action link.
.uikit-cta-link {
  @extend .uikit-cta-link;
  margin-bottom: 0;
  font-size: 1.1em;
  @include uikit-media(sm) {
    font-size: 1.2em;
  }
}