// Page alerts
//
// Status messages to notify the user.

.messages {
  @extend .uikit-page-alerts;
  &.error {
    @extend .uikit-page-alerts--error;
  }
  &.warning {
    @extend .uikit-page-alerts--warning;
  }
  &.status {
    @extend .uikit-page-alerts--success;
  }
  &.info {
    h3 {
      @extend .uikit-display-2;
    }

    border-color: $colour-Secondary-light;
    &:after {
      top: 29px;
      width: 32px;
      height: 32px;
      left: -40px;
    }
  }
}

// Topic landing page.
.page-topics {
  .messages.info {
    margin: 0;
    @include uikit-media(sm) {
      margin-top: 16em;
    }
  }
}