.uikit-inpage-nav-links {
  margin-top: 0;
  margin-bottom: uikit-space( 1.5 );
  @include uikit-media(sm) {
    margin-bottom: uikit-space( 2 );
  }
  .toc {
    border: 0;
    background: transparent;
    padding: 0;
    ul {
      @extend .uikit-link-list;
      a {
        font-weight: bold;
      }
    }
  }
}
div.region-content .anchor {
	display: none;
}
