<div class="au-body">
  <div class="container">
    <dl class="row">
      <dt class="col-sm-4">Grade A</dt>
      <dd class="col-sm-8">Body of evidence can be trusted to guide practice</dd>
      <dt class="col-sm-4">Grade B</dt>
      <dd class="col-sm-8">Body of evidence can be trusted to guide practice in most situations</dd>
      <dt class="col-sm-4">Grade C</dt>
      <dd class="col-sm-8">Body of evidence provides some support for recommendation(s) but care should be taken in its application</dd>
      <dt class="col-sm-4">Grade D</dt>
      <dd class="col-sm-8">Body of evidence is weak and recommendation must be applied with caution</dd>
      <dt class="col-sm-4">Consensus-based recommendation</dt>
      <dd class="col-sm-8">Recommendation formulated in the absence of quality evidence (where a systematic review of the evidence was
        conducted as part of the search strategy)</dd>
      <dt class="col-sm-4">Practice point</dt>
      <dd class="col-sm-8">Area is beyond the scope of the systematic literature review and advice was developed by the EAC</dd>
    </dl>
  </div>
</div>