.health-footer {
  @include AU-space('padding', 3unit 0);

  .menu {
    padding: 0.4em 0 1em 0;
    li:last-of-type {
      margin-bottom: 0;
    }

    @include AU-media( sm ) {
      padding: 0.4em 0;
    }
  }
  &__navigation {
    .block {
      @extend .col-md-3;
      @include AU-space('margin-bottom', 1unit);
      @include AU-media(md) {
        margin-bottom: 0;
      }
    }

  }
  &__logo {
    max-width: 157px;
    padding-left: 12px;
  }
  &__attribution {
    padding-left: 12px;
    display: block;
  }
  &__back-to-top {
    text-align: right;
    padding-bottom: 20px;
  }
  h3.block__title {
    margin-bottom: 0;
    @include AU-fontgrid('md');
    font-weight: 700;
  }
  ul > li {
    margin-left: 0;
  }

  .field-name-field-link-to {
    // As UX request.
    margin-top: 2.8em;
  }
}