// Health header
header.uikit-header {
  padding: uikit-space(1) 0 uikit-space(.5);
  margin-bottom: 0;
  @include uikit-clearfix();
  @include uikit-media(md){
    padding-bottom: uikit-space(1);
  }
  .uikit-header__logo {
    display: block;
    border-bottom: 2px solid transparent;
    padding: uikit-space(.25);
    @include uikit-media(md) {
      float: left;
    }
    &-image {
      display: block;
      width: 100%;
      margin: auto;
      @include uikit-media(sm) {
        max-width: 100%;
        margin: 0;
      }
    }
  }
  .region-header {
    width: 100%;
    margin-top: uikit-space(.5);
    @include uikit-media(sm) {
      max-width: 360px;
      margin-top: uikit-space(-.5);
      float: right;
    }
  }
}