// Health header
header.uikit-header {
  @include uikit-clearfix();
  margin-bottom: 0;

  padding: 0;
  @include uikit-media(sm){
    padding: uikit-space(1) 0 uikit-space(.5);
  }
  @include uikit-media(md){
    padding-bottom: uikit-space(1);
  }
  .uikit-header__logo {
    display: block;
    padding: uikit-space(.75);
    width: 100%;
    // For IE 9, 10.
    color: transparent;
    @include uikit-media(md) {
      float: left;
      width: 70%;
    }
    &-image {
      display: block;
      width: 100%;
      margin: auto;
      @include uikit-media(sm) {
        margin: 0;
      }
    }
  }
  .region-header {
    width: 100%;
    @include uikit-media(sm) {
      max-width: 420px;
      margin-top: uikit-space(-.5);
      float: right;
    }
  }
}