.page {
  .header-top {
    background: $uikit-colour-Secondary;
    color: #ffffff;
    padding: uikit-space(.5) 0;
    .group-left {
      width: auto;
      display: inline;
      @extend .col-sm-8;
      padding: 0;
    }
    .group-right {
      width: auto;
      display: inline;
      @extend .col-sm-4;
      text-align: left;
      padding: 0;
      @include uikit-media( sm ) {
        padding-right: uikit-space( 1 );
        text-align: right;
      }
    }
    .beta-icon {
      background: $colour-Secondary;
      padding: 0 8px;
      margin-right: 10px;
      color: white;
      font-weight: bold;
      float: left;
      text-transform: uppercase;
    }
    .message {
      display: block;
      margin-left: 60px;
    }
    a {
      color: #fff;
      border-bottom-color: #fff;
    }

    .mobile-hide {
      display: none;
      @include uikit-media(sm) {
        display: inline;
      }
    }

    .mobile-show {
      display: inline;
      @include uikit-media(sm) {
        display: none;
      }
    }

    font-size: 13px;
    @include uikit-media(sm) {
      font-size: inherit;
    }

  }
}