// Health header
header.au-header {
  @include AU-clearfix;
  margin-bottom: 0;

  padding: 0;
  @include AU-media(sm){
    @include AU-space('padding', 1unit 0 .5unit);
  }
  @include AU-media(md){
    @include AU-space('padding', 1.5unit 0);
  }
  .au-header__logo {
    display: block;
    margin: auto;
    @include AU-space('padding', .75unit);
    width: 100%;
    max-width: 400px;
    // For IE 9, 10.
    color: transparent;
    @include AU-media(md) {
      float: left;
    }
    &-image {
      display: block;
      width: 100%;
      margin: auto;
      @include AU-media(sm) {
        margin: 0;
      }
    }
  }
  .region-header {
    width: 100%;
    @include AU-media(sm) {
      max-width: 420px;
      @include AU-space('margin-top', -.5unit);
      float: right;
    }
  }
}