//--------------------------------------------------------------
// Root layout styles
// Modifications to the root elements which are required
//
//------------------------------------------------------------


body {
  &:not(.node-type-health-topic, .node-type-health-topic-hp, .node-type-landing-page, .page-node-3406){

  // Everything gets full width by default.
  .page .page-layout {
    @include AU-space('margin-bottom', 2 unit);
    @extend .container-fluid;
  }

  // Non-landing pages then get the layout with a gutter on either side.
  // Then they get columns within.
  &:not(.node-type-health-topic):not(.node-type-health-topic-hp):not(.node-type-landing-page) {
    .page .page-layout {
      @extend .container;

      // Single column
      .main-content-full {
        @extend .col-sm-12;
      }

      // 2 columns
      .main-content {
        @extend .col-sm-8;
      }

      .sidebar-left,
      .sidebar-right {
        @extend .col-sm-4;
      }

      .sidebar-right {
        // Right sidebar is in the markup first, but we want it to display on the right.
        float: none;
        padding: 0; // Remove the gutters on mobile.
        @include AU-media(sm) {
          float: right;
          padding: 0 ($AU-grid-12-gutter-width / 2); // Put them back on tablet+ to work with the grid.
        }
      }
    }
  }
}

// Danny - move this
// Contain Drupal nav and messages
body.front,
body.node-type-health-topic,
body.node-type-health-topic-hp,
body.page-node-3406
 {
  #tabs,
  .messages {
    @extend .container;
  }
  .page {
    .tabs {
      @include AU-space('margin', 1unit 0 0 0);
    }
  }
}

// Global styling
// .uikit-body .view ul > .views-row,
// .node > .field,
// .panel-pane {
//   margin-bottom: uikit-space(1);
//   &:last-of-type {
//     margin-bottom: 0;
//   }
// }

.au-body .view-popular ul > .views-row {
  margin-bottom: 0;
}

.panel-featured .panel-middle-top {
  @include AU-space('margin-bottom', 1unit);
}

%views-4col {
  .item-list ul {
    @extend .row;
  }
  .views-row {
    @extend .col-md-3;
  }
}

// Float local nav right (reqd for source order)
.page-content .sidebar-right {
  float: none;
  padding-left: 0;
  padding-right: 0;
  @include AU-media(sm){
    float: right;
    padding-left: 12px;
    padding-right: 12px;
  }
}

// Latest updates layout
%latest-updates-layout {
  & > .view {
    @extend .row;
    // First column
    & > .view-content {
      @extend .col-md-7;
      position: relative;
    } 
    // Listing
    .attachment-after {
      .view-related-content {
        @extend .row;
      }
      @extend .col-md-5;
      .view .view-content {
        @extend .col-md-12;
      }
    } 
    // More button
    .view-footer {
      @extend .col-md-12;
      @include AU-space('margin-top', 1unit);
      @include AU-space('padding-bottom', 1unit);
    }
  }
}

// Use the latest updates layout.
#block-views-related-content-block {
  @extend .col-md-12;
  @extend %latest-updates-layout;
}


// Categories block (Additional information for..)
#block-views-categories-block-1 {
  @extend .col-md-12;
  @extend %views-4col;
  .col-md-3 {
    text-align: center;
    h3 {
      @extend h4;
    }
  }
}
