@media print {
  .region-header-top,
  .region-header,
  .region-navigation,
  .region-content-bottom,
  .page-content .sidebar-right {
    display: none;
  }

  header.au-header .au-header__logo {
    float: left;
    width: 70%;
  }
}
