.region-featured {
  @extend .au-header;
  @extend .au-header--light;
  background: $colour-light;
  margin-bottom: 0;
  background: #fff;
}

.region-sidebar-second {
  .au-side-nav {
    @extend %colour-Light-background;
    @include AU-media(sm) {
      background: white;
    }
  }

}

@import '_print.scss';
