.region-featured {
  @extend .uikit-header;
  @extend .uikit-header--light;
  background: $colour-light;
  margin-bottom: 0;
  background: #fff;
}

.region-navigation {
  background: white;
  box-shadow: 0 -6px $colour-light-dark inset;
}

// .front {
//   .region-content-top {
//     @extend .uikit-header;
//     @extend .uikit-header--light;
//     padding: uikit-space(1) 0;
//   }
//   .region-content-bottom {
//     background-color: #fff;
//   }
// }

// .region .block__title {
//   margin-bottom: uikit-space(.5);
// }

.item-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Listing pages
.view-filters,
.view-content {
  @include uikit-clearfix();
  width: 100%;
}

.region-content-top {
  @extend %clearfix;
  padding-top: uikit-space(.5);
  padding-bottom: 0;
  @include uikit-media(sm){
    padding-top: 0;
    padding-bottom: uikit-space(1.5);
  }
  .row {
    margin-left: 0; // to fix outdent for view selector tool
    margin-right: 0;
  }
}

.region-sidebar-second {
  @include uikit-clearfix;
  @extend %colour-Light-background;
  @include uikit-media(sm) {
    background: white;
  }
  #block-menu-block-2 {
    clear: both;
    @include uikit-clearfix;
    background: white;
    border-bottom: $uikit-borderize;
    @include uikit-media(sm) {
      border-bottom: 0;
    }
  }
}

@import '_print.scss';

