//--------------------------------------------------------------
// Table module
// Tables help users view tabular data.
//
//--------------------------------------------------------------

// @todo We shouldn't need to import this here, but it won't compile without it.
@import '../../abstracts/mixins';

%table {
  @include AU-space('margin-bottom', 1unit);
  border-collapse: collapse;
  border: $AU-borderize;

  tr:nth-child(even) {
    background-color: $AU-colour-Background;
  }

  &.table__no-banding {
    tr:nth-child(even) {
      background-color: transparent;
    }
  }

  td,
  th {
    @include AU-media('md') {
      @include AU-space('padding', .4unit);
      font-size: initial;
    }

    border-bottom: $AU-borderize;
    @include AU-space('padding', .25unit);
    text-align: left;
    vertical-align: top;

  }

  thead {
    border-bottom: 2px solid $AU-colour-Border;
  }

  min-width: 43em;
  @include AU-media( md ) {
    min-width: auto;
  }
}

%table__responsive-wrapper {
  overflow: scroll;
  @include AU-media( md ) {
    overflow: auto;
  }
}

@import 'print';