//--------------------------------------------------------------
// Table module
// Tables help users view tabular data.
//
//--------------------------------------------------------------

// @todo We shouldn't need to import this here, but it won't compile without it.
@import '../../abstracts/mixins';

// Table.
%table {
  @include AU-space('margin-bottom', 1unit);
  border-collapse: collapse;
  border: $health-borderize--thin;

  tr:nth-child(even) {
    background-color: $AU-color-background;
  }

  &.table__no-banding {
    tr:nth-child(even) {
      background-color: transparent;
    }
  }

  td,
  th {
    @include AU-media('md') {
      @include AU-space('padding', .4unit);
      font-size: initial;
    }

    border-bottom: $health-borderize--thin;
    @include AU-space('padding', .25unit);
    text-align: left;
    vertical-align: top;

  }

  thead {
    border-bottom: 2px solid $AU-color-foreground-border;
  }

  min-width: 43em;
  @include AU-media( md ) {
    min-width: auto;
  }
}

%table__responsive-wrapper {
  overflow: scroll;
  @include AU-media( md ) {
    overflow: auto;
  }
}

// Table title.
%table__title {
  font-weight: bold;
  padding-bottom: uikit-space(.75);
}

// Table source.
%table__source {
  @extend %minor-text;
  margin-bottom: uikit-space(1);
}

@import 'print';