.au-grid .container,
.au-grid body.front #tabs,
body.front .au-grid #tabs,
.au-grid body.front .messages,
body.front .au-grid .messages,
.au-grid body.node-type-health-topic #tabs,
body.node-type-health-topic .au-grid #tabs,
.au-grid body.node-type-health-topic .messages,
body.node-type-health-topic .au-grid .messages,
.au-grid body.node-type-health-topic-hp #tabs,
body.node-type-health-topic-hp .au-grid #tabs,
.au-grid body.node-type-health-topic-hp .messages,
body.node-type-health-topic-hp .au-grid .messages,
.au-grid body.page-node-3406 #tabs,
body.page-node-3406 .au-grid #tabs,
.au-grid body.page-node-3406 .messages,
body.page-node-3406 .au-grid .messages,
.au-grid .listing-back .wrapper,
.listing-back .au-grid .wrapper,
.au-grid body.node-type-health-topic .paragraphs-item-two-columns.inside-para-container,
body.node-type-health-topic .au-grid .paragraphs-item-two-columns.inside-para-container,
.au-grid body.node-type-health-topic-hp .paragraphs-item-two-columns.inside-para-container,
body.node-type-health-topic-hp .au-grid .paragraphs-item-two-columns.inside-para-container,
.au-grid body.node-type-landing-page .paragraphs-item-two-columns.inside-para-container,
body.node-type-landing-page .au-grid .paragraphs-item-two-columns.inside-para-container,
.au-grid body.node-type-health-topic .paragraphs-item-para-reference-video.inside-para-container,
body.node-type-health-topic .au-grid .paragraphs-item-para-reference-video.inside-para-container,
.au-grid body.node-type-health-topic-hp .paragraphs-item-para-reference-video.inside-para-container,
body.node-type-health-topic-hp .au-grid .paragraphs-item-para-reference-video.inside-para-container,
.au-grid body.node-type-landing-page .paragraphs-item-para-reference-video.inside-para-container,
body.node-type-landing-page .au-grid .paragraphs-item-para-reference-video.inside-para-container,
.au-grid body.node-type-health-topic .para-container.paragraphs-item-para-content-text,
body.node-type-health-topic .au-grid .para-container.paragraphs-item-para-content-text,
.au-grid body.node-type-health-topic-hp .para-container.paragraphs-item-para-content-text,
body.node-type-health-topic-hp .au-grid .para-container.paragraphs-item-para-content-text,
.au-grid body.node-type-landing-page .para-container.paragraphs-item-para-content-text,
body.node-type-landing-page .au-grid .para-container.paragraphs-item-para-content-text,
.au-grid .paragraphs-item-para-taxonomies.inside-para-container,
.au-grid .paragraphs-item-two-columns.inside-para-container,
.au-grid .paragraphs-item-para-block.inside-para-container,
.au-grid .page-node-3406 .paragraphs-item-para-content-text.inside-para-container,
.page-node-3406 .au-grid .paragraphs-item-para-content-text.inside-para-container {
  width: 1176px;
}

.au-grid .col-lg-1,
.au-grid .col-lg-2,
.au-grid .col-lg-3,
.au-grid .col-lg-4,
.au-grid .col-lg-5,
.au-grid .col-lg-6,
.au-grid .col-lg-7,
.au-grid .col-lg-8,
.au-grid .col-lg-9,
.au-grid .col-lg-10,
.au-grid .col-lg-11,
.au-grid .col-lg-12 {
  float: left;
}

.au-grid .col-lg-1 {
  width: 8.3333333333%;
}

.au-grid .col-lg-2 {
  width: 16.6666666667%;
}

.au-grid .col-lg-3 {
  width: 25%;
}

.au-grid .col-lg-4 {
  width: 33.3333333333%;
}

.au-grid .col-lg-5 {
  width: 41.6666666667%;
}

.au-grid .col-lg-6 {
  width: 50%;
}

.au-grid .col-lg-7 {
  width: 58.3333333333%;
}

.au-grid .col-lg-8 {
  width: 66.6666666667%;
}

.au-grid .col-lg-9 {
  width: 75%;
}

.au-grid .col-lg-10 {
  width: 83.3333333333%;
}

.au-grid .col-lg-11 {
  width: 91.6666666667%;
}

.au-grid .col-lg-12 {
  width: 100%;
}

.au-grid .col-lg-pull-0 {
  right: auto;
}

.au-grid .col-lg-pull-1 {
  right: 8.3333333333%;
}

.au-grid .col-lg-pull-2 {
  right: 16.6666666667%;
}

.au-grid .col-lg-pull-3 {
  right: 25%;
}

.au-grid .col-lg-pull-4 {
  right: 33.3333333333%;
}

.au-grid .col-lg-pull-5 {
  right: 41.6666666667%;
}

.au-grid .col-lg-pull-6 {
  right: 50%;
}

.au-grid .col-lg-pull-7 {
  right: 58.3333333333%;
}

.au-grid .col-lg-pull-8 {
  right: 66.6666666667%;
}

.au-grid .col-lg-pull-9 {
  right: 75%;
}

.au-grid .col-lg-pull-10 {
  right: 83.3333333333%;
}

.au-grid .col-lg-pull-11 {
  right: 91.6666666667%;
}

.au-grid .col-lg-pull-12 {
  right: 100%;
}

.au-grid .col-lg-push-0 {
  left: auto;
}

.au-grid .col-lg-push-1 {
  left: 8.3333333333%;
}

.au-grid .col-lg-push-2 {
  left: 16.6666666667%;
}

.au-grid .col-lg-push-3 {
  left: 25%;
}

.au-grid .col-lg-push-4 {
  left: 33.3333333333%;
}

.au-grid .col-lg-push-5 {
  left: 41.6666666667%;
}

.au-grid .col-lg-push-6 {
  left: 50%;
}

.au-grid .col-lg-push-7 {
  left: 58.3333333333%;
}

.au-grid .col-lg-push-8 {
  left: 66.6666666667%;
}

.au-grid .col-lg-push-9 {
  left: 75%;
}

.au-grid .col-lg-push-10 {
  left: 83.3333333333%;
}

.au-grid .col-lg-push-11 {
  left: 91.6666666667%;
}

.au-grid .col-lg-push-12 {
  left: 100%;
}

.au-grid .col-lg-offset-0 {
  margin-left: 0%;
}

.au-grid .col-lg-offset-1 {
  margin-left: 8.3333333333%;
}

.au-grid .col-lg-offset-2 {
  margin-left: 16.6666666667%;
}

.au-grid .col-lg-offset-3 {
  margin-left: 25%;
}

.au-grid .col-lg-offset-4 {
  margin-left: 33.3333333333%;
}

.au-grid .col-lg-offset-5 {
  margin-left: 41.6666666667%;
}

.au-grid .col-lg-offset-6 {
  margin-left: 50%;
}

.au-grid .col-lg-offset-7 {
  margin-left: 58.3333333333%;
}

.au-grid .col-lg-offset-8 {
  margin-left: 66.6666666667%;
}

.au-grid .col-lg-offset-9 {
  margin-left: 75%;
}

.au-grid .col-lg-offset-10 {
  margin-left: 83.3333333333%;
}

.au-grid .col-lg-offset-11 {
  margin-left: 91.6666666667%;
}

.au-grid .col-lg-offset-12 {
  margin-left: 100%;
}

.paragraphs-view-news_and_events .au-card-list > li,
.paragraphs-view-news_and_events .au-card-list article {
  margin-bottom: 36px;
  margin-bottom: 2.25rem;
}

.paragraphs-view-latest_rsources .au-card-list > li,
.paragraphs-view-latest_rsources .au-card-list article {
  margin-bottom: 36px;
  margin-bottom: 2.25rem;
}

.page-node-1021 .paragraphs-item-para-contact.para-container .group-left,
.page-node-1156 .paragraphs-item-para-contact.para-container .group-left {
  width: 25%;
}

.page-node-1021 .paragraphs-item-para-contact.para-container .group-right,
.page-node-1156 .paragraphs-item-para-contact.para-container .group-right {
  width: 75%;
}

.page-node-3406 .block-id__mrff-applying-for-funding.para-container .group-left {
  width: 25%;
}

.page-node-3406 .block-id__mrff-applying-for-funding.para-container .group-right {
  width: 75%;
}