.taskbar .taskbar__item,
.taskbar.view ul > .views-row .node,
.taskbar .taskbar--tiled--2.view ul > .views-row .node,
.taskbar--tiled--2.view ul > .views-row .taskbar .node,
.taskbar .taskbar--tiled--3.view ul > .views-row .node,
.taskbar--tiled--3.view ul > .views-row .taskbar .node,
.taskbar .taskbar--tiled--4.view ul > .views-row .node,
.taskbar--tiled--4.view ul > .views-row .taskbar .node,
.taskbar .taskbar--tiled--5.view ul > .views-row .node,
.taskbar--tiled--5.view ul > .views-row .taskbar .node,
.taskbar .taskbar--tiled--6.view ul > .views-row .node,
.taskbar--tiled--6.view ul > .views-row .taskbar .node,
.taskbar--tiled--2 .taskbar__item,
.taskbar--2 .taskbar__item,
.taskbar--tiled--3 .taskbar__item,
.taskbar--3 .taskbar__item,
.taskbar--tiled--4 .taskbar__item,
.taskbar--4 .taskbar__item,
.taskbar--tiled--5 .taskbar__item,
.taskbar--5 .taskbar__item,
.taskbar--tiled--6 .taskbar__item,
.taskbar--6 .taskbar__item,
.taskbar--tiled--2 .taskbar.view ul > .views-row .node,
.taskbar.view ul > .views-row .taskbar--tiled--2 .node,
.taskbar--2 .taskbar.view ul > .views-row .node,
.taskbar.view ul > .views-row .taskbar--2 .node,
.taskbar--tiled--3 .taskbar.view ul > .views-row .node,
.taskbar.view ul > .views-row .taskbar--tiled--3 .node,
.taskbar--3 .taskbar.view ul > .views-row .node,
.taskbar.view ul > .views-row .taskbar--3 .node,
.taskbar--tiled--4 .taskbar.view ul > .views-row .node,
.taskbar.view ul > .views-row .taskbar--tiled--4 .node,
.taskbar--4 .taskbar.view ul > .views-row .node,
.taskbar.view ul > .views-row .taskbar--4 .node,
.taskbar--tiled--5 .taskbar.view ul > .views-row .node,
.taskbar.view ul > .views-row .taskbar--tiled--5 .node,
.taskbar--5 .taskbar.view ul > .views-row .node,
.taskbar.view ul > .views-row .taskbar--5 .node,
.taskbar--tiled--6 .taskbar.view ul > .views-row .node,
.taskbar.view ul > .views-row .taskbar--tiled--6 .node,
.taskbar--6 .taskbar.view ul > .views-row .node,
.taskbar.view ul > .views-row .taskbar--6 .node,
.taskbar--tiled--2.view ul > .views-row .node,
.taskbar--tiled--3.view ul > .views-row .node,
.taskbar--tiled--4.view ul > .views-row .node,
.taskbar--tiled--5.view ul > .views-row .node,
.taskbar--tiled--6.view ul > .views-row .node {
  min-height: 200px;
}

.taskbar--tiled--2 ul > li {
  width: 50%;
}

.taskbar--2 ul > li {
  width: 50%;
}

.taskbar--tiled--3 ul > li {
  width: 50%;
}

.taskbar--3 ul > li {
  width: 50%;
}

.taskbar--tiled--4 ul > li {
  width: 50%;
}

.taskbar--4 ul > li {
  width: 50%;
}

.taskbar--tiled--5 ul > li {
  width: 50%;
}

.taskbar--5 ul > li {
  width: 50%;
}

.taskbar--tiled--6 ul > li {
  width: 50%;
}

.taskbar--6 ul > li {
  width: 50%;
}

.page-node .group-left,
.node-type-news-article .group-left,
.node-type-event .group-left,
.node-type-health-alert .group-left,
.node-type-publication .group-left,
.node-type-publication-collection .group-left,
.node-type-video .group-left,
.node-type-campaign .group-left,
.node-type-committee-or-group .group-left,
.node-type-condition-or-disease .group-left,
.node-type-contact .group-left,
.node-type-initiative-or-program .group-left,
.node-type-release .group-left,
.node-type-statistic .group-left,
.node-type-service .group-left,
.node-type-survey .group-left,
.node-type-health-topic .group-left,
.node-type-health-topic-hp .group-left,
.node-type-departmental-media .group-left {
  width: 30%;
}

.page-node .group-right,
.node-type-news-article .group-right,
.node-type-event .group-right,
.node-type-health-alert .group-right,
.node-type-publication .group-right,
.node-type-publication-collection .group-right,
.node-type-video .group-right,
.node-type-campaign .group-right,
.node-type-committee-or-group .group-right,
.node-type-condition-or-disease .group-right,
.node-type-contact .group-right,
.node-type-initiative-or-program .group-right,
.node-type-release .group-right,
.node-type-statistic .group-right,
.node-type-service .group-right,
.node-type-survey .group-right,
.node-type-health-topic .group-right,
.node-type-health-topic-hp .group-right,
.node-type-departmental-media .group-right {
  width: 70%;
}

.page-node .view-mode-full > .group-left,
.node-type-news-article .view-mode-full > .group-left,
.node-type-event .view-mode-full > .group-left,
.node-type-health-alert .view-mode-full > .group-left,
.node-type-publication .view-mode-full > .group-left,
.node-type-publication-collection .view-mode-full > .group-left,
.node-type-video .view-mode-full > .group-left,
.node-type-campaign .view-mode-full > .group-left,
.node-type-committee-or-group .view-mode-full > .group-left,
.node-type-condition-or-disease .view-mode-full > .group-left,
.node-type-contact .view-mode-full > .group-left,
.node-type-initiative-or-program .view-mode-full > .group-left,
.node-type-release .view-mode-full > .group-left,
.node-type-statistic .view-mode-full > .group-left,
.node-type-service .view-mode-full > .group-left,
.node-type-survey .view-mode-full > .group-left,
.node-type-health-topic .view-mode-full > .group-left,
.node-type-health-topic-hp .view-mode-full > .group-left,
.node-type-departmental-media .view-mode-full > .group-left {
  padding-right: 2.4em;
}

.node-publication.view-mode-feature .group-left {
  padding-bottom: 0;
}