.uikit-accordion__title,
.video__transcript summary {
  background: #fff !important;
}

.uikit-accordion__title:after,
.video__transcript summary:after {
  display: none;
}

.uikit-accordion__body,
.video__transcript .video__transcript-body {
  height: auto !important;
  display: block !important;
}

.uikit-body *,
.page *,
.rsbtn_colorskin * {
  text-shadow: none !important;
  color: #000 !important;
  background: #fff !important;
  box-shadow: none !important;
  border-color: #000 !important;
}

.uikit-body a,
.page a,
.rsbtn_colorskin a,
.uikit-body a:visited,
.page a:visited,
.rsbtn_colorskin a:visited {
  text-decoration: underline;
}

.uikit-body a[href]:after,
.page a[href]:after,
.rsbtn_colorskin a[href]:after {
  content: " (" attr(href) ")";
}

.uikit-body abbr[title]:after,
.page abbr[title]:after,
.rsbtn_colorskin abbr[title]:after {
  content: " (" attr(title) ")";
}

.uikit-body a[href^="javascript:"]:after,
.page a[href^="javascript:"]:after,
.rsbtn_colorskin a[href^="javascript:"]:after,
.uikit-body a[href^="#"]:after,
.page a[href^="#"]:after,
.rsbtn_colorskin a[href^="#"]:after {
  content: "";
}

.uikit-body a[rel~='external']:after,
.page a[rel~='external']:after,
.rsbtn_colorskin a[rel~='external']:after {
  display: none !important;
}

.uikit-body pre,
.page pre,
.rsbtn_colorskin pre,
.uikit-body blockquote,
.page blockquote,
.rsbtn_colorskin blockquote {
  border: 1px solid #000;
  padding: 6px;
  page-break-inside: avoid;
}

.uikit-body thead,
.page thead,
.rsbtn_colorskin thead {
  display: table-header-group;
}

.uikit-body tr,
.page tr,
.rsbtn_colorskin tr,
.uikit-body img,
.page img,
.rsbtn_colorskin img {
  page-break-inside: avoid;
}

.uikit-body img,
.page img,
.rsbtn_colorskin img {
  max-width: 100% !important;
}

.uikit-body p,
.page p,
.rsbtn_colorskin p,
.uikit-body h2,
.page h2,
.rsbtn_colorskin h2,
.uikit-body .video--left .video__title,
.video--left
  .uikit-body .video__title,
.page .video--left .video__title,
.video--left .page .video__title,
.rsbtn_colorskin .video--left .video__title,
.video--left .rsbtn_colorskin .video__title,
.uikit-body .video--right .video__title,
.video--right
  .uikit-body .video__title,
.page .video--right .video__title,
.video--right .page .video__title,
.rsbtn_colorskin .video--right .video__title,
.video--right .rsbtn_colorskin .video__title,
.uikit-body h3,
.page h3,
.rsbtn_colorskin h3 {
  orphans: 3;
  widows: 3;
}

.uikit-body h2,
.page h2,
.rsbtn_colorskin h2,
.uikit-body .video--left .video__title,
.video--left .uikit-body .video__title,
.page .video--left .video__title,
.video--left .page .video__title,
.rsbtn_colorskin .video--left .video__title,
.video--left .rsbtn_colorskin .video__title,
.uikit-body .video--right .video__title,
.video--right .uikit-body .video__title,
.page .video--right .video__title,
.video--right .page .video__title,
.rsbtn_colorskin .video--right .video__title,
.video--right .rsbtn_colorskin .video__title,
.uikit-body h3,
.page h3,
.rsbtn_colorskin h3 {
  page-break-after: avoid;
}

.uikit-body p a,
.page p a,
.rsbtn_colorskin p a {
  word-wrap: break-word;
}

.uikit-body select,
.page select,
.rsbtn_colorskin select {
  background: #fff !important;
}

.breadcrumbs > .uikit-link-list > li:after,
.uikit-breadcrumbs > .uikit-link-list > li:after,
.breadcrumbs > .breadcrumbs__list > li:after,
.uikit-breadcrumbs > .breadcrumbs__list > li:after,
.uikit-inpage-nav-links .toc .breadcrumbs > ul > li:after,
.uikit-inpage-nav-links .toc
  .uikit-breadcrumbs > ul > li:after,
.uikit-body .sidebar #block-menu-block-2 .breadcrumbs > ul > li:after,
.uikit-body .sidebar #block-menu-block-2
  .uikit-breadcrumbs > ul > li:after,
.page .sidebar #block-menu-block-2 .breadcrumbs > ul > li:after,
.page .sidebar #block-menu-block-2
  .uikit-breadcrumbs > ul > li:after,
.rsbtn_colorskin .sidebar #block-menu-block-2 .breadcrumbs > ul > li:after,
.rsbtn_colorskin .sidebar #block-menu-block-2
  .uikit-breadcrumbs > ul > li:after,
.breadcrumbs > .page.menu-block-wrapper.menu-name-main-menu.menu-block-2 > li:after,
.uikit-breadcrumbs > .page.menu-block-wrapper.menu-name-main-menu.menu-block-2 > li:after,
#block-menu-menu-sub-menu .breadcrumbs > .menu > li:after,
#block-menu-menu-sub-menu
  .uikit-breadcrumbs > .menu > li:after,
footer .breadcrumbs > .menu > li:after,
footer
  .uikit-breadcrumbs > .menu > li:after,
.region-navigation #block-superfish-1 .breadcrumbs > ul > li:after,
.region-navigation #block-superfish-1
  .uikit-breadcrumbs > ul > li:after,
.breadcrumbs > .tabs > li:after,
.uikit-breadcrumbs > .tabs > li:after {
  border-color: #000 !important;
}

.uikit-btn,
.uikit-btn-large,
.feedback-band.bean-basic-content .feedback-band .feedback-col.link .feedback-col-link a,
.bean-large-button .field-name-field-link-to a,
.button,
a.button,
button,
html [type='button'],
[type='reset'],
[type='submit'],
.uikit-header #search-block-form .form-submit,
.region-featured #search-block-form .form-submit,
#block-search-api-page-default-search .form-submit,
.block-search-api-page .form-submit,
.view-filters .views-exposed-form .form-submit {
  background-color: #fff !important;
  border: 2px solid #000 !important;
  color: #000 !important;
}

.uikit-btn:disabled,
.uikit-btn-large:disabled,
.feedback-band.bean-basic-content .feedback-band .feedback-col.link .feedback-col-link a:disabled,
.bean-large-button .field-name-field-link-to a:disabled,
.button:disabled,
button:disabled,
html [type='button']:disabled,
[type='reset']:disabled,
[type='submit']:disabled,
.uikit-header #search-block-form .form-submit:disabled,
.region-featured #search-block-form .form-submit:disabled,
#block-search-api-page-default-search .form-submit:disabled,
.block-search-api-page .form-submit:disabled,
.view-filters .views-exposed-form .form-submit:disabled {
  background-color: #ccc !important;
}

.uikit-callout {
  border-top: 1px solid #000 !important;
  border-right: 1px solid #000 !important;
  border-bottom: 1px solid #000 !important;
}

.uikit-control-input__text:after,
.webform-component-radios label .input__text:after,
.webform-component-checkboxes label .input__text:after,
.form-type-radios label .input__text:after,
.form-type-checkboxes label .input__text:after,
.form-type-checkbox label .input__text:after {
  display: none !important;
}

.uikit-cta-link:after,
.health-cta-link:after,
.block-bean-call-to-action .field-name-field-link-to a:after,
.bean-call-to-action .field-name-field-link-to a:after,
.video__cta:after,
.region-title-supp .block-bean-call-to-action .bean-call-to-action__title:after,
.paragraphs-item-para-statistics .field-name-field-link-internal a:after,
.paragraphs-item-two-columns.view-mode-full > .para-row > .group-footer .paragraphs-item-para-link a:after,
.paragraphs-item-para-view .para-row > a:after {
  content: ' > ' !important;
  border: none !important;
  -webkit-transform: rotate(0deg) !important;
  -ms-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
}

.uikit-direction-link:after,
.direction-link:after,
.more-link a:after,
.more-help-link a:after,
ul.links .node-readmore:after {
  background: none !important;
  content: '→' !important;
  width: auto !important;
  height: auto !important;
}

.uikit-direction-link--left:before {
  background: none !important;
  content: '←' !important;
  width: auto !important;
  height: auto !important;
}

.uikit-direction-link--up:after,
.direction-link--up:after {
  content: '↑' !important;
}

.uikit-direction-link--down:after {
  content: '↓' !important;
}

.uikit-footer,
.page .footer {
  background: #fff !important;
  border-color: #000 !important;
}

.uikit-page-alerts,
.messages,
.block-workbench {
  border-color: #000 !important;
  background-color: #fff !important;
  border-left: 2px solid #000 !important;
  padding-top: 3em !important;
}

.uikit-page-alerts:after,
.messages:after,
.block-workbench:after {
  background: none !important;
  content: 'info' !important;
  top: 1em !important;
  left: 0 !important;
  font-size: 12px !important;
  border-right: 1px solid #000 !important;
  border-bottom: 1px solid #000 !important;
  padding: 0.5em !important;
  width: auto !important;
}

.uikit-page-alerts--success:after,
.messages.status:after {
  content: 'success' !important;
}

.uikit-page-alerts--warning:after,
.messages.warning:after {
  content: 'warning' !important;
}

.uikit-page-alerts--error:after,
.messages.error:after {
  content: 'error' !important;
}

.uikit-select__element,
.form-select--wrapper select {
  border-color: #000 !important;
}

.uikit-select:after,
.form-select--wrapper:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E   %3Cpath fill='%23000' d='M64 128l64-64-16-16-64 64'/%3E   %3Cpath fill='%23000' d='M64 128l16-16-64-64L0 64'/%3E  %3C/svg%3E") !important;
}

.uikit-skip-link__link,
.skip-link__link {
  background: #fff !important;
}

.uikit-tags__item,
.form-type-bef-link a,
#edit-custom-remove .facet-remove-link,
.filter-topics-by-letter li,
.tags__item > a {
  border-color: #000 !important;
}

.uikit-text-input,
[type='text'],
[type='search'],
[type='tel'],
[type='url'],
[type='email'],
[type='password'],
[type='date'],
[type='time'],
[type='number'],
textarea,
.uikit-header #search-block-form .form-item input,
.region-featured #search-block-form .form-item input,
#block-search-api-page-default-search .form-item input,
.block-search-api-page .form-item input,
.view-filters .views-exposed-form .form-item input {
  border-color: #000 !important;
}

:disabled {
  background-color: #f0f3f5 !important;
  border-color: transparent;
}

[disabled] {
  background-color: #f0f3f5 !important;
}

.document-accessibility-form {
  display: none;
}

#backtotop {
  display: none;
}

table td,
table th,
table thead {
  border-color: #000 !important;
  background: #fff !important;
}

.image-wrapper.image-loading {
  border: 1px solid black;
}

.image-wrapper.image-loading:before {
  content: "This image hasn't loaded yet. Close the print dialog and try again.";
}

.page .main-content {
  width: 100%;
}

.page-title__core .section-header {
  display: none;
}

.page-title__supp {
  display: none;
}

.footer {
  display: none;
}

#readspeaker {
  display: none;
}

.page a:after {
  display: none;
}

#block-bean-share-this {
  display: none;
}

.uikit-contextual-links {
  display: none;
}

.uikit-workbench {
  display: none;
}

.uikit-search,
#search-block-form {
  display: none;
}

.breadcrumbs {
  display: none;
}

.item-list .pager,
.pager {
  display: none;
}

.uikit-tabs {
  display: none;
}

.faceted-blocks-title {
  display: none;
}

.region-header-top,
.region-header,
.region-navigation,
.region-content-bottom,
.page-content .sidebar-right {
  display: none;
}

header.uikit-header .uikit-header__logo,
header.region-featured .uikit-header__logo {
  float: left;
  width: 70%;
}