// Progress bar
//
// Shows the progress of a task in a simple bar graph.
//
// .progress-bar--inline - An inline progress bar.
//
// Markup: progress-bar.twig
//
// Style guide: forms.progress-bar

%uikit-progress-bar {
  font-weight: bold;

  &__bar {
    border-radius: 3px;
    margin: 0 .2em;
    border: $uikit-borderize;
    background-color: #eee;
  }

  &__fill {
    height: 1.5em;
    width: 5px;
    background: blue url('../sass/forms/progress-bar/progress-bar.gif') repeat 0 0;
  }

  &__percentage {
    float: right;
  }

  &--inline {
    width: 16em;
    display: inline-block;
  }
}

