// Body
//
// The main body of the page.

.page {
  @extend .uikit-body;
  a {
    border-bottom: 1px solid $colour-Secondary;
    &:hover {
      text-decoration: none;
      background-color: transparent;
    }
    @extend %link_focus;
  }
}

%link_focus {
  &:focus {
    background-color: $colour-Secondary;
    color: white;
    outline: 1px solid $colour-Secondary-hover;
    outline-offset: 0;
  }
}