// Body
//
// The main body of the page.

.page {
  @extend .uikit-body;
  a {
    border-bottom: 1px solid $colour-Callout;
    &:hover {
      text-decoration: none;
      background: none;
    }
  }
}