/** START UIKIT overrides */

// Stop all last P tags from having a bottom margin, this happens across the
// site in a number of places and is a UIKit style.
.node-type-health-topic,
.node-type-health-topic-hp,
.node-type-landing-page,
.node-type-publication,
td, th,
.page-views,
.document-accessibility-form {
  .page-layout { // only in content section
    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

// Remove padding on dl set by UIKit
.page dl {
  margin-bottom: 0;
}

/** END UIKIT overrides */


// For survey only - Uncomment when implmenting
// #owInviteSnippet {
//   font-family: $AU-font-system;
//   a[rel~='external'] svg {
//     margin-left: 5px;
//   }
// }

body:not(.topic-subpage) {
  .region-sidebar-second {
    #block-bean-local-navigation-menu-toggle-for {
      float: none;
      width: 100%;
    }
  }
}

// Fix overflow of content onto menu
body:not(.node-type-landing-page):not(.node-type-health-topic):not(.node-type-health-topic-hp):not(.page-node-3406) {
  #content {
    @include AU-space('padding-top', 1unit);
    @include AU-media(sm) {
      padding-top: 0;
    }
  }
}

/** END Local nav and HP link **/

.print--hide {
  @media print {
    display: none;
  }
}

.space--standard {
  @include AU-space('margin-top', 2unit);
}