%flat-tier {
  padding-top: uikit-space(2);
  border-top: 3px solid $colour-Primary-darkest;
}

.col-md-4 .uikit-card--featured-top .uikit-card--featured {
  min-height: 150px;
}

// Simple theming experimentation
.region-featured {
  padding-bottom: 0;
}

.uikit-body .uikit-header__logo {
	border-bottom: 0;
}

// Contact hot line bar for immunisation.
.page-node-1021 {
  .paragraphs-item-para-contact.para-container {
      background: $uikit-colour-Secondary;
      color: white;
      h2 {
          color: white;
      }
      a {
          color: white;
          text-decoration: none;
          &:hover {
              color: white;
              text-decoration: underline;
              background: none;
          }
      }
  }
}

// Fix landing page horizontal bar.
.node-type-health-topic,
.node-type-health-topic-hp,
.node-type-landing-page {
  .page {
    .row {
      margin: 0;
      .content-full {
        padding: 0;
      }
    }
  }
}