.region-content-bottom .panel-4col,
#block-views-categories-block-1,
.region-highlighted .block-bean-home-cta {
  .pane-title:before,
  .bean-title:before {
    width: 100%;
    height: 100px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    content: " ";
    @include AU-space('margin-bottom', .5unit);;
  }
}

.health-icon--services .pane-title:before {
  background-image: url('../images/icons/services.svg');
}
.health-icon--topics .pane-title:before {
  background-image: url('../images/icons/health-topics.svg');
}
.health-icon--conditions-diseases .pane-title:before {
  background-image: url('../images/icons/conditions-diseases.svg');
}
.health-icon--resources .pane-title:before {
  background-image: url('../images/icons/resources.svg');
}
.health-icon--initiatives .pane-title:before {
  background-image: url('../images/icons/initiatives-programs.svg');
}

#block-bean-home-cta-services-and-support .bean-title:before {
  background-image: url('../images/icons/services-support-inverted.svg');
}
#block-bean-home-cta-conditions-and-diseases .bean-title:before {
  background-image: url('../images/icons/conditions-diseases-inverted.svg');
}
#block-bean-home-cta-medicare .bean-title:before {
  background-image: url('../images/icons/medicare-inverted.svg'); 
}
#block-bean-home-cta-symptoms .bean-title:before {
  background-image: url('../images/icons/symptoms-inverted.svg');
}
#block-bean-home-cta-topics .bean-title:before {
  background-image: url('../images/icons/health-topics-inverted.svg');
}

.close-toggle {
  text-indent: -999px;
  width: 25px;
  height: 25px;
  display: block;
  overflow: hidden;
  background: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path fill="#{ $AU-color-foreground-text }" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
    <path fill="none" d="M0 0h24v24H0z"/>
  </svg>');
}