.health-accordion__title, .page .health-accordion__title {
  @extend .uikit-accordion__title;
  @include uikit-focus();

  border: none;
  &:focus {
    border: none;
  }

  &.health-accordion--open:after {
    @extend .uikit-accordion--open:after;
  }

  &.health-accordion--closed:after {
    @extend .uikit-accordion--closed:after;
  }
}

.health-accordion__body-wrapper {
  @extend .uikit-accordion__body-wrapper;
}

.health-accordion__body {
  @extend .uikit-accordion__body;
  &.health-accordion--closed {
    display: none;
  }
}

