// Pager
//
// Paged navigation is a list of page numbers when more than 1 page of content
// is available.
//
// Markup: pager.twig
//
// Style guide: navigation.pager

.au-body {

  .pager {
    text-align: center;
    @include AU-space('padding', 1unit 0);
    border-top: $health-borderize--very-thin;

    li {
      @include AU-space('padding', 0 .25unit);
      &.pager__item--active {
        font-weight: bold;
      }
    }
  }

}

