<div class="au-body">
  <div class="pager">
    <h2 class="sr-only">Pages</h2>
    <ul class="au-link-list au-link-list--inline">
      <li><a title="Go to first page" href="/resources">« first</a></li>
      <li><a title="Go to previous page" href="/resources?page=1">‹ previous</a></li>
      <li><a title="Go to page 1" href="/resources">1</a></li>
      <li><a title="Go to page 2" href="/resources?page=1">2</a></li>
      <li class="pager__item--active">3</li>
      <li><a title="Go to page 4" href="/resources?page=3">4</a></li>
      <li><a title="Go to page 5" href="/resources?page=4">5</a></li>
      <li><a title="Go to page 6" href="/resources?page=5">6</a></li>
      <li><a title="Go to page 7" href="/resources?page=6">7</a></li>
      <li><a title="Go to page 8" href="/resources?page=7">8</a></li>
      <li><a title="Go to page 9" href="/resources?page=8">9</a></li>
      <li>…</li>
      <li><a title="Go to next page" href="/resources?page=3">next ›</a></li>
      <li><a title="Go to last page" href="/resources?page=12">last »</a></li>
    </ul>
  </div>
</div>