// Alerts region
%uikit-alertbar {
  background-color: $uikit-colour-Error-10;
  border-top: 6px solid $uikit-colour-Error;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 600;
  transition: all .3s ease-in-out;
  .close-toggle {
    position: absolute;
    top: uikit-space(.5);
    right: 12px; // size of spacing
  }
}

// Block in the footer
%uikit-alert {
  max-width: none;
  margin: uikit-space(.5) 0;
  padding-right: uikit-space(3);
  .view-content,
  .more-link {
    display: inline-block;
  }
  .view-content {
    .views-row {
      display: inline-block;
      position: relative;
      top: -7px;
      margin-left: 5px;
    }
    &:before {
      width: 25px;
      height: 25px;
      display: inline-block;
      content: " ";
      background: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
				<path fill="#{ $uikit-colour-Text }" d="M71.99 12.78l54.796 99.458c1.665 2.997 1.617 7.993-.143 10.99-.808 1.38-1.914 2.473-3.317
					3.282-1.403.808-2.914 1.213-4.53 1.213H9.206c-1.62 0-3.13-.405-4.533-1.213-1.403-.81-2.51-1.903-3.317-3.282-1.76-2.997-1.808-7.993-.143-10.99L56.01
					12.78c.808-1.474 1.925-2.64 3.352-3.496C60.79 8.428 62.335 8 64 8s3.21.428 4.638 1.284c1.427.856 2.544 2.022 3.353 3.496z"/>
				<rect fill="#fff" width="16" height="16" x="56" y="96" rx="2"/>
				<path fill="#fff" d="M52.167 42c-.092-1.104.73-2 1.838-2h19.99c1.107 0 1.93.895 1.838 2l-3.666 44c-.092 1.104-1.062 2-2.16 2H57.993c-1.1
					0-2.07-.895-2.16-2l-3.667-44z"/>
			</svg>');
    }
  }

  .more-link {
    float: right;
  }

  .node-title {
    font-size: 16px;
    margin-bottom: 0;
  }
}
