<fieldset>
    <legend>Fieldset legend</legend>
        <div class="fieldset__description">
            Provide a feature image that will be associated with this <em>Page</em>. The
            image will be rendered above the page body text.
        </div>
        <div class="fieldset__content">
            Some content
        </div>
    </div>
</fieldset>