%footnotes {
  border-top: 1px solid #CCC;
  max-width: $uikit-maxwidth;
  padding-top: uikit-space(.5);
}

%footnote {
  @extend %minor-text;
  div,p {
    display: inline;
  }
  margin-bottom: uikit-space(.5);
  padding-left: uikit-space(1.5);
  transition: background-color 1s;
}

%footnote__number {
  position: absolute;
  margin-left: uikit-space(-1.5);
}

%footnote--highlight {
  background-color: #ffffc6;
  transition: background-color 1s;
}


@import 'extends';
