<ul class="footnotes list--text au-link-list" aria-label="List of footnotes">
  <li>
    <a class="footnote__anchor" name="footnote-8"></a>
    <span class="footnote__number">8</span>
    <span id="footnote-8__description">Several Australian States and Territories have schedules in their health
      legislation that outline health professionals’ obligations and protections if treatment is refused. These
      include refusal of treatment certificates, which may help in recording decisions and avoiding confusion if
      care is transferred.</span>
  </li>
  <li>
    <a class="footnote__anchor" name="footnote-9"></a>
    <span class="footnote__number">9</span>
    <span id="footnote-9__description">These Guidelines use ‘Aboriginal and Torres Strait Islander women’ as an umbrella
      term while acknowledging the great diversity within this group and that ‘Aboriginal’ or ‘Torres Strait Islander’
      may be more appropriate in some contexts. Where literature is cited, the term used in the literature is used.</span>
  </li>
  <li>
    <a class="footnote__anchor" name="footnote-10"></a>
    <span class="footnote__number">10</span>
    <span id="footnote-10__description">The information in this chapter is based on Austin M-P, Highet N and the Expert
      Working Group (2017) Mental Health Care in the Perinatal Period: Australian Clinical Practice Guideline. Melbourne:
      Centre of Perinatal Excellence. NHMRC approval of recommendations was for that Guideline.</span>
  </li>
  <li>
    <a class="footnote__anchor" name="footnote-11"></a>
    <span class="footnote__number">11</span>
    <span id="footnote-11__description">Short footnote with some <em>emphasis</em> and
      <strong>bold</strong>.</span>
  </li>
  <li class="highlight">
    <a class="footnote__anchor" name="footnote-12"></a>
    <span class="footnote__number">12</span>
    <span id="footnote-12__description">This footnote has been highlighted after the user has clicked the footnote number
    in content. This is to help them see the item quickly amongst the list of footnotes.</span>
  </li>
</ul>