<div class="au-body">
  <ul class="list--text">
    <li class="text--minor">
      <a class="reference__anchor" name="reference-1st-1001-days-appg-2015"></a>
      <span id="reference-1st-1001-days-appg-2015__description">1st 1001 Days APPG (2015) <cite>Building Great Britons. Conception to Age 2</cite>. London: First 1001 Days All Parties Parliamentary Group.</span>
    </li>
    <li class="text--minor">
      <a class="reference__anchor" name="reference-austin-et-al-2017"></a>
      <span id="reference-austin-et-al-2017__description">Austin M-P, Highet N, Expert Working Group (2017) <cite>Mental Health Care in the Perinatal Period: Australian Clinical Practice Guideline</cite>. Melbourne: Centre of Perinatal Excellence.</span>
    </li>
    <li class="text--minor">
      <a class="reference__anchor" name="reference-blankley-et-al-2015"></a>
      <span id="reference-blankley-et-al-2015__description">Blankley G, Galbally M, Snellen M et al (2015) Borderline Personality Disorder in the perinatal period: early infant and maternal outcomes. <cite>Australas Psychiatry </cite>23(6): 688–92.</span>
    </li>
    <li class="text--minor">
      <a class="reference__anchor" name="reference-galletly-et-al-2016"></a>
      <span id="reference-galletly-et-al-2016__description">Galletly C, Castle D, Dark F et al (2016) Royal Australian and New Zealand College of Psychiatrists clinical practice guidelines for the management of schizophrenia and related disorders. <cite>Aust N Z J Psychiatry </cite>50(5): 410–72.</span>
    </li>
    <li class="text--minor highlight">
      <a class="reference__anchor" name="reference-merikangas-et-al-2011"></a>
      <span id="reference-merikangas-et-al-2011__description">Merikangas KR, Jin R, He JP et al (2011) Prevalence and correlates of bipolar spectrum disorder in the world mental health survey initiative. <cite>Arch Gen Psychiatry </cite>68(3): 241–51.</span>
    </li>
    <li class="text--minor">
      <a class="reference__anchor" name="reference-mitchell-et-al-2013"></a>
      <span id="reference-mitchell-et-al-2013__description">Mitchell PB, Johnston AK, Frankland A et al (2013) Bipolar disorder in a national survey using the World Mental Health Version of the Composite International Diagnostic Interview: the impact of differing diagnostic algorithms. <cite>Acta Psychiatr Scand </cite>127(5): 381–93.</span>
    </li>
    <li class="text--minor">
      <a class="reference__anchor" name="reference-nguyen-et-al-2013"></a>
      <span id="reference-nguyen-et-al-2013__description">Nguyen TN, Faulkner D, Frayne JS et al (2013) Obstetric and neonatal outcomes of pregnant women with severe mental illness at a specialist antenatal clinic. <cite>Med J Aust </cite>199(3 Suppl): S26–9.</span>
    </li>
    <li class="text--minor">
      <a class="reference__anchor" name="reference-pare-miron-et-al-2016"></a>
      <span id="reference-pare-miron-et-al-2016__description">Pare-Miron V, Czuzoj-Shulman N, Oddy L et al (2016) Effect of borderline personality disorder on obstetrical and neonatal outcomes. <cite>Womens Health Issues </cite>26(2): 190–5.</span>
    </li>
    <li class="text--minor">
      <a class="reference__anchor" name="reference-quirk-et-al-2016"></a>
      <span id="reference-quirk-et-al-2016__description">Quirk SE, Berk M, Pasco JA et al (2016) The prevalence, age distribution and comorbidity of personality disorders in Australian women. <cite>Aust N Z J Psychiatry</cite>.</span>
    </li>
    <li class="text--minor">
      <a class="reference__anchor" name="reference-rusner-et-al-2016"></a>
      <span id="reference-rusner-et-al-2016__description">Rusner M, Berg M, Begley C (2016) Bipolar disorder in pregnancy and childbirth: a systematic review of outcomes. <cite>BMC Pregnancy Childbirth </cite>16(1): 331.</span>
    </li>
  </ul>

</div>