// Landing pages only.
body {
  &.node-type-health-topic,
  &.node-type-health-topic-hp,
  &.node-type-landing-page {

    // All paragraph bands
    .para-container {
      @extend %band;
    }

    // Topic feature (nested paragraphs)
    // Container for large and small features
    .paragraphs-item-two-columns {
      // Layout
      @include row-and-container;
      > .para-row {
        > .group-header,
        > .group-footer {
          @extend .col-xs-12;
        }
        > .group-left,
        > .group-right {
          @extend .col-xs-12;
          @extend .col-sm-6;
        }
      }
    }

    // 2 col resources.
    .paragraphs-2-columns-resources {
      // Style band
      &.para-container {
        @extend %band;
      }
    }

    // Title/summary
    .group-header {
      @extend .col-xs-12;
    }

    // Home page
    .page-landing {
      .paragraphs-2-columns-resources {
        background: white;
      }
    }

    // Video band
    .paragraphs-item-para-reference-video {
      // Style band
      &.para-container {
        @extend %band;
      }
      @include row-and-container;
    }

    .paragraphs-item-featured-resource {
      padding-top: 0;
      padding-bottom: 0;
    }

    // Document links
    .para-container {
      &.paragraphs-item-image {
        padding-top: 0;
        @include AU-space('padding-bottom', 1unit);
      }
    }

    // Text content.
    .para-container.paragraphs-item-para-content-text {
      @extend %band;
      @extend .container;
      .field-name-field-body {
        @extend .row;
      }
    }

    // Statistics
    .paragraphs-item-para-statistics {
      @extend %colour-Light-background-reverse;
    }
  }
}

body {
  &.page-node-3406{

    // Topic feature (nested paragraphs)
    // Container for large and small features
    .paragraphs-2-columns-news {
      // Style band
      &.para-container {
        @extend %band;
      }
    }

    .paragraphs-2-columns-resources {
      // Style band
      &.para-container {
        @extend %band;
      }
    }
  }
}