// Headings
//
// All HTML headings, `<h1>` through `<h6>`, are available. `%h1` through `%h6`
// classes are also available, for when you want to match the font styling of a
// heading but still want your text to be displayed inline.
//
// Markup: headings-h.twig
//
// Style guide: base.headings

// Apply responsive to AU-fontgrid classes
.page {
  h1,
  .au-display-xxl {
    @include health-fontgrid('xxl','heading');
  }

  h2,
  .au-display-xl {
    @include health-fontgrid('xl', 'heading');
  }

  h3,
  .au-display-lg {
    @include health-fontgrid('lg', 'heading');
  }

  h4,
  .au-display-md {
    @include health-fontgrid('md', 'heading');
  }

  h5,
  .au-display-sm {
    @include health-fontgrid('sm', 'heading');
  }

  h6,
  .au-display-xs {
    @include health-fontgrid('xs', 'heading');
  }
}

// Add margin top to missing uikit headers
// @todo Is this needed anymore?
@for $i from 1 through 6 {
  table + h#{$i},
  div.responsive-table-wrapper + h#{$i},
  ul + h#{$i}
  {
    @include AU-space('margin-top', 1unit);
  }
}

// Section header
.au-header-heading {
  margin-top: 0;
}

// Alternative title.
.title-alt {
  display: none;
  @include health-fontgrid('md', 'default', 'light');
  margin-top: 0;
  @include AU-media(sm) {
    display: block;
  }
}

// Anchor helpers.
// When hover on a heading, show the ID of the heading.
// Logged in users only, in content only.
body.logged-in {
  .region-content {
    h2, h3, h4, h5, h6 {
      position: relative;
      .anchor-helper {
        display: none;
        font-size: 14px;
        position: absolute;
        top: -17px;
        left: 0;
        color: grey;
        font-weight: normal;
      }

      &:hover {
        .anchor-helper {
          display: block;
        }
      }
    }
  }
}
