//	==========================
//
//	Per-instance module customisation
// 
//	==========================
//	This file extends theme classes. For example:
//	
//	Redeclare variables:
//	$var1 = xxx;
//	
//	Declare custom classes
//  .custom {
//		@extend %themeclass;	
//		// Custom styles
//		style1 = xxx;
//	}

.page-search {
  main {
    @extend .col-xs-12;
    @extend .col-sm-8;
    .block-search-api-page {
      width: 100%;
      @include uikit-media(sm) {
        width: 50%;
      }
    }
    .search-api-page-results {
      margin-bottom: 1.7em;
      .search-results {
        padding-left: 0;
      }
      .view-mode-search_result {
        @extend %dm-search-index;
        @include uikit-clearfix();
        border-bottom: $uikit-borderize;
        padding-top: uikit-space(.5);
        padding-bottom: uikit-space(.5);
        @include uikit-media(md){
          padding-top: uikit-space(1.5);
          padding-bottom: uikit-space(1.5);
        }
      }
    }
    .pager {
      border: none;
    }
  }
}
