//	==========================
//
//	Per-instance module customisation
// 
//	==========================
//	This file extends theme classes. For example:
//	
//	Redeclare variables:
//	$var1 = xxx;
//	
//	Declare custom classes
//  .custom {
//		@extend %themeclass;	
//		// Custom styles
//		style1 = xxx;
//	}

.page-search {
  main {
    @extend .col-xs-12;
    @extend .col-sm-8;
    .block-search-api-page {
      width: 100%;
      @include uikit-media(sm) {
        width: 50%;
      }
    }
    .search-api-page-results {
      margin: uikit-space(1) 0 uikit-space(1) 0;
      .search-performance {
        font-size: 1.5em;
      }
      .search-results {
        padding-left: 0;
      }
      .view-mode-search_result {
        @extend %dm-search-index;
        @include uikit-clearfix();
        border-bottom: $uikit-borderize;
        padding-top: uikit-space(.5);
        padding-bottom: uikit-space(.5);
        @include uikit-media(md){
          padding-top: uikit-space(1.5);
          padding-bottom: uikit-space(1.5);
        }
      }
    }
    .pager {
      border: none;
    }
  }
}

// Mobile search
.region-navigation {
  #block-search-api-page-default-search--2 {
    position: absolute;
    background: white;
    width: 100%;
    margin-top: -6px;
    .search-wrapper {
      @include uikit-clearfix;
      border-bottom: 6px solid #cccccc;
      padding: 12px;
      form > div {
        position: relative;
      }
    }
    border-radius: 0;
    @include uikit-media(sm) {
      border-bottom: 0;
    }

  }
}

// Global search in header
.js .region-header {
  div.block-search-api-page {
    display: none; // Hide the search in the header on mobile.
    @include uikit-media(sm) {
      display: block;
      height: auto;
    }
  }
}


.health-accordion--closed {
  display: none;
}
