// Navbar
//
// A simple method to get navigation links to appear in one line.
//
// Markup: navbar.twig
//
// Style guide: navigation.navbar

.region-navigation {

  // Main menu.
  #block-superfish-1 {
    @extend %uikit-sitenav;
    &.mobilemenu-active {
      margin-top: -6px; // Keyline fix for mobile.
    }
    border-bottom: 6px solid #e5e5e5;

    @include uikit-media(sm) {
      border-bottom: 0;
      margin-bottom: -7px;
      ul li a {
        border-bottom: 6px solid transparent;
      }
    }
  }

  // Toggles for main menu and search.
  .mobile-toggle {
    @extend %uikit-sitenav__mobile-toggle;
    margin-bottom: 6px; // Keyline fix for mobile.
    
    &.mobile-toggle__search {
      text-align: right;
    }
  }

  // Keyline across nav items.
  position: relative;
  z-index: 500;
  box-shadow: 0 -6px #cccccc inset;
}

.nav-overlay {
  @extend %uikit-sitenav-overlay;
}

header, .header-top {
  position: relative;
  z-index: 500;
}