//--------------------------------------------------------------
// Site nav
// The main navigation element on the site
//
//--------------------------------------------------------------
@import 'print';

%health-sitenav {

  // Mobile first
  ul {
    @extend .au-link-list;
    padding: 0 0 20px 0 !important;
    border-bottom: 6px solid #e5e5e5;
    li {
      margin: 0;
      border-bottom: $health-borderize--very-thin;

      &:first-child {
        border-top: $health-borderize--very-thin;
      }

      border-left: 6px solid transparent;

      &.active-trail {
        border-left: 6px solid $colour-Secondary;
        a {
          font-weight: bold;
        }
      }

      a {
        padding: 0.6em 1em;
        display: block;
        border: 0;
        text-decoration: none;
        color: black;

      }

    }
  }

  padding: 0;

  position: absolute;
  background: white;
  width: 100%;

  // Tablet upwards.
  @include AU-media(sm) {

    display: inline-block;
    padding: 0;
    margin-top: 0;
    font-weight: 700;

    position: relative;
    border-bottom: 0;
    background: transparent;
    height: auto;

    ul {
      border-bottom: 0;
      li {
        float: left;
        padding: 0;

        @include AU-space('margin', 0 .4unit);
        font-size: 0.9em;

        border: 0;
        &:first-child {
          border-top: 0;
        }

        @include AU-media(md) {
          @include AU-space('margin', 0 .8unit);
          font-size: 1em;
        }

        @include AU-media(lg) {
          @include AU-space('margin', 0 1.5unit);
        }

        &:first-child {
          margin-left: 12px;
        }

        a {
          display: block;
          @include AU-space('padding', .5unit 0);
          border-bottom: 0;

          &:hover,
          &:focus,
          &:active {
            border-bottom: 6px solid $colour-Secondary;
            background-color: transparent;
            transition: none;
            color: $AU-color-foreground-text;
          }
        }

        &.active-trail {
          border-left: 0;
          a {
            border-bottom: 6px solid $colour-Secondary;
            background-color: transparent;
            transition: none;
            color: $AU-color-foreground-text;
          }
        }
      }
    }

    @include AU-clearfix;
  }
}

// Mobile menu toggle
%health-sitenav__mobile-toggle {
  // Only display on mobile
  @include AU-media(sm) {
    display: none;
  }

  padding: 12px;
  font-size: 18px;
  font-weight: 700;
  display: block;
  border-bottom: 0;
  background-color: white;
  color: black;
  margin: 0;

  &:hover,
  &:focus {
    color: $AU-color-foreground-text;
    background: transparent;
    outline-offset: -1px;
  }

  &:after {
    background: none;
  }
}

// Overlay.
%health-sitenav-overlay {
  position: fixed;
  top: -9999px;
  left: -9999px;
  background: transparent;
  opacity: 0.7;
  width: 100%;
  height: 150%;
  z-index: 499;
  @include transition(background 0.4s linear);
  &.active {
    background: black;
  }
  &.transition {
    top:0;
    left: 0;
  }

  // Hide on tablet +
  @include AU-media(sm) {
    display: none;
  }
}