.goTop {
  background-color: transparent;
  position: fixed;
  display: block;
  right: 15px;
  bottom: 15px;
  border: none;
  opacity: 0;
  z-index: -1;
  &:hover {
    opacity: 1;
    background-color: transparent;
  }
  i {
    padding-left: 0;
    &:before {
      position: relative;
      background: $colour-Secondary;
      color: white;
      padding: 0.2em;
      border: 2px solid white;
      font-size: 30px;
      margin: 0;
    }
  }
}

.isVisible {
  opacity: .8;
  z-index: 9999;
  transition: all .4s ease-in;
}