<nav class="au-breadcrumbs" aria-label="Breadcrumb">
  <h2 class="element-invisible">You are here</h2>
  <ol class="au-link-list au-link-list--inline">
    <li><a href="/">Home</a></li>
    <li><a href="/resources">Resources</a></li>
    <li><a href="/resources/pregnancy-care-guidelines">Pregnancy Care Guidelines</a></li>
    <li><a href="/resources/pregnancy-care-guidelines/part-a-optimising-pregnancy-care">Part A: Optimising pregnancy care</a></li>
    <li>Pregnancy care for women with severe mental illness</li>
  </ol>
</nav>