// Table source.
%glossary {
  @extend .row;
  @include AU-space('margin-bottom', .5unit);
  border-top: $health-borderize;
  @include AU-space('padding-top', .5unit);
}

%glossary__term {
  margin: 0;
  font-weight: bold;
  @extend .col-sm-3;
}

%glossary__definition {
  margin: 0;
  @extend .col-sm-9;
}

@import 'extends';
