// Share this
#block-bean-share-this {
  @extend %band;

  @include AU-space('padding', .7unit 0);

  @include AU-media(sm) {
    @include AU-space('padding', 1unit 0);
  }
  @include AU-media(md) {
    @include AU-space('padding', 1unit 0);
  }

  background-color: $colour-light;
  .block__title {
    @include health-fontgrid('lg', 'nospace');
    line-height: 1;
    margin:0;
  }
}

// Is there something wrong with this page.
#block-bean-page-accessibility-link {
  @include AU-space('padding', 0 0 1unit 0);
  @extend .container;
  .entity-bean {
    @extend .row;
    .field-name-field-bean-body {
      @extend .col-xs-12;
    }
  }
}

// Listing back button band.
.listing-back {
  @extend %band;
  @include AU-space('padding', .8unit 0);
  border-top: $health-borderize--very-thin;
  .wrapper {
    @extend .container;
    text-align: center;
  }
  a {
    font-size: 1em;
    @include AU-media(md) {
      font-size: 1.1em;
    }
  }
  .listing-back__icon {
    font-size: 1.25em;
    line-height: 1.25;
  }
}

// Headings on homepage bands.
#block-bean-feedback-band,
#block-bean-homepage-about-us,
#block-bean-ageing-and-aged-care,
#block-bean-homepage-healthcare-system,
#block-bean-homepage-portfolio-sport {
  h2 {
    @include health-fontgrid('lg', 'default', 'light');
    max-width: 60rem;
  }
}

// Feedback.
.feedback-band.bean-basic-content {
  .feedback-band {
    @extend .row;
    .feedback-col {
      @extend .col-xs-12;
      @extend .col-sm-6;
      &.link {
        display: block;
        @include AU-space('margin-top', 1unit);

        @include AU-media(sm) {
          display: table;
          margin-top: 0;
        }

        .feedback-col-link {
          display: block;

          @include AU-media(sm) {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
          }
          a {
            @extend %health-btn--large;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
          }
        }
      }
    }
  }
}

// Homepage - About the department
.para-container.block-id__homepage-about-us {
  background: $colour-lighter;
  #block-bean-homepage-about-us {
    @extend %band;
    @include AU-space('padding-top', 1unit);
    @include AU-space('padding-bottom', 1unit);
    @include AU-media(sm) {
      @include AU-space('padding-top', 2unit);
      @include AU-space('padding-bottom', 2unit);
    }
    @extend .container;
  }
}

// Homepage - The Australian healthcare system
.para-container.block-id__homepage---healthcare-system {
  @extend %colour-Light-dark-background-reverse;
  #block-bean-homepage-healthcare-system {
    .group-left {
      @extend .col-sm-6;
      @extend .col-md-8;
      img {
        border: 0;
      }
      .field-name-field-image {
        margin-bottom: 0;
      }
    }
    .group-right {
      .field-name-field-bean-text {
        background: white;
        @include AU-space('padding', .6unit);
        @include AU-media(md) {
          background: transparent;
          @include AU-space('padding', 1unit 1unit 1.75unit 1unit);
          h2 {
            font-size: 24px;
          }
          p:nth-of-type(1) {
            font-size: 19px;
          }
        }
      }
      p:nth-of-type(1) {
        font-size: 19px;
        @include AU-space('margin-bottom', .5unit);;
      }
      padding-top: 0;
      position: relative;

      @extend .col-sm-6;
      @extend .col-md-4;
      @include AU-media(sm) {
        margin-left: -12px;
        background: white;
        h2 {
          font-size: 18px;
        }
        p:nth-of-type(1) {
          font-size: 14px;
        }
      }
    }
  }
}

// Homepage - Our portfolio
body.node-type-landing-page .para-container.paragraphs-item-two-columns.in-our-portfolio {
  @extend %colour-Light-dark-background-reverse;
}

// Landing pages only.
body {
  &.node-type-health-topic,
  &.node-type-health-topic-hp,
  &.node-type-landing-page {

    // All paragraph bands
    .para-container {
      @extend %band;
    }

    // Topic feature (nested paragraphs)
    // Container for large and small features
    .paragraphs-item-two-columns {
      // Style band
      &.para-container {
        @extend %band--neutral-darkest;
      }
      &.general-public-resources.para-container {
        background: white;
      }

      // Stop the double banding when there are nested paragraphs.
      .para-container {
        padding-top: 0;
        padding-bottom: 0;
      }

      &.resources {
        background: white;
      }

      // Layout
      @include row-and-container;
      > .para-row {
        > .group-header,
        > .group-footer {
          @extend .col-xs-12;
        }
        > .group-left,
        > .group-right {
          @extend .col-xs-12;
          @extend .col-sm-6;
        }
      }
    }

    // Main feature
    .paragraphs-item-featured-news-events,
    .paragraphs-item-featured-news-events-hp {
      padding: 0;
      &.inside-para-container {
        padding: 0;
      }
    }
    // Sub features
    .paragraphs-item-para-view {
      padding: 0;
    }

    // 2 col resources.
    .paragraphs-2-columns-resources {
      // Style band
      &.para-container {
        @extend %band--primary;
      }
    }

    // Title/summary
    .group-header {
      @extend .col-xs-12;
    }

    // Home page
    .page-landing {
      .paragraphs-2-columns-resources {
        background: white;
      }
    }

    // Video band
    .paragraphs-item-para-reference-video {
      // Style band
      &.para-container {
        @extend %band;
      }
      @include row-and-container;
    }

    .paragraphs-item-featured-resource {
      padding-top: 0;
      padding-bottom: 0;
    }

    // Document links
    .para-container {
      &.paragraphs-item-image {
        padding-top: 0;
        @include AU-space('padding-bottom', 1unit);
      }
    }

    // Text content.
    .para-container.paragraphs-item-para-content-text {
      @extend %band--neutral;
      @extend .container;
      .field-name-field-body {
        @extend .row;
      }
    }

    // Statistics
    .paragraphs-item-para-statistics {
      @extend %colour-Light-background-reverse;
    }
  }
}

body {
  &.page-node-3406{

    // Topic feature (nested paragraphs)
    // Container for large and small features
    .paragraphs-2-columns-news {
      // Style band
      &.para-container {
        @extend %band--neutral-darkest;
      }
    }

    .paragraphs-2-columns-resources {
      // Style band
      &.para-container {
        @extend %band;
      }
    }
  }
}