// Share this
#block-bean-share-this {
  @extend %band;

  padding: uikit-space(0.7) 0;

  @include uikit-media(sm) {
    padding: uikit-space(1) 0;
  }

  background-color: $colour-light;
  .block__title {
    @extend .uikit-display-2;
    font-weight: 700;
    margin:0;
  }
}

// Is there something wrong with this page.
#block-bean-page-accessibility-link {
  padding: 0 0 uikit-space(1) 0;
  @extend .container;
  .entity-bean {
    @extend .row;
    .field-name-field-bean-body {
      @extend .col-xs-12;
    }
  }
}

// Listing back button band.
.listing-back {
  @extend %band;
  @extend %colour-Secondary-background;
  padding: uikit-space(0.8) 0 uikit-space(0.8) 0;
  .wrapper {
    @extend .container;
    text-align: center;
  }
  a {
    font-size: 1em;
    @include uikit-media(md) {
      font-size: 1.1em;
    }
    @extend %baseicon;
    color: white;
    border-color: white;
  }
  .listing-back__icon {
    @extend %baseicon;
    color: white;
    font-size: 1.25em;
    line-height: 1.25;
    margin-right: 5px;
  }
}

// Headings on homepage bands.
#block-bean-feedback-band,
#block-bean-homepage-about-us,
#block-bean-ageing-and-aged-care,
#block-bean-homepage-healthcare-system,
#block-bean-homepage-portfolio-sport {
  h2 {
    @extend .uikit-display-3;
    max-width: 60rem;
  }
}

// Feedback.
.feedback-band.bean-basic-content {
  .feedback-band {
    @extend .row;
    .feedback-col {
      @extend .col-xs-12;
      @extend .col-sm-6;
      &.link {
        display: block;
        margin-top: uikit-space(1);

        @include uikit-media(sm) {
          display: table;
          margin-top: 0;
        }

        .feedback-col-link {
          display: block;

          @include uikit-media(sm) {
            display: table-cell;
            vertical-align: middle;
          }

          a {
            @extend .uikit-btn-large;
            border-radius: 0;

            width: 100%;

            @include uikit-media(sm) {
              margin: auto;
              width: 50%;
            }
            background-color: $colour-Secondary-dark;
            color: white;
            border: 1px solid $colour-Secondary-dark;
            &:hover {
              background-color: $colour-Secondary-hover;
            }
            &:after {
              color: white;
            }
          }
        }
      }
    }
  }
}

// Homepage - About the department
.para-container.block-id__homepage-about-us {
  background: $colour-lighter;
  #block-bean-homepage-about-us {
    @extend %band;
    padding-top: uikit-space(2);
    padding-bottom: uikit-space(2);
    @extend .container;
  }
}

// Homepage - The Australian healthcare system
.para-container.block-id__homepage---healthcare-system {
  @extend %colour-Light-dark-background-reverse;
  #block-bean-homepage-healthcare-system {
    .group-left {
      @extend .col-sm-8;
      img {
        border: 0;
      }
      .field-name-field-image {
        margin-bottom: 0;
      }
    }
    .group-right {
      @extend .col-sm-4;
      @include uikit-media(sm) {
        margin-left: -12px;
        background: white;
      }
      .field-name-field-bean-text {
        background: white;
        padding: uikit-space(.6);
        @include uikit-media(sm) {
          background: transparent;
          padding: uikit-space(1) uikit-space(1) uikit-space(1.75) uikit-space(1);
        }
      }
      p:nth-of-type(1) {
        font-size: 19px;
        margin-bottom: uikit-space(.5);
      }
      position: relative;

    }
  }
}

// Homepage - Our portfolio
body.node-type-landing-page .para-container.paragraphs-item-two-columns.in-our-portfolio {
  @extend %colour-Light-dark-background-reverse;
}

// Landing pages only.
body {
  &.node-type-health-topic,
  &.node-type-health-topic-hp,
  &.node-type-landing-page {

    // All paragraph bands
    .para-container {
      @extend %band;
    }

    // Topic feature (nested paragraphs)
    // Container for large and small features
    .paragraphs-item-two-columns {
      // Style band
      &.para-container {
        @extend %band--neutral-darkest;
      }
      &.general-public-resources.para-container {
        background: white;
      }

      // Stop the double banding when there are nested paragraphs.
      .para-container {
        padding-top: 0;
        padding-bottom: 0;
      }

      &.resources {
        background: white;
      }

      // Layout
      @include row-and-container;
      > .para-row {
        > .group-header,
        > .group-footer {
          @extend .col-xs-12;
        }
        > .group-left,
        > .group-right {
          @extend .col-xs-12;
          @extend .col-sm-6;
        }
      }
    }

    // Main feature
    .paragraphs-item-featured-news-events,
    .paragraphs-item-featured-news-events-hp {
      padding: 0;
      &.inside-para-container {
        padding: 0;
      }

    }
    // Sub features
    .paragraphs-item-para-view {
      padding: 0;
    }

    // contact hotline
    .paragraphs-item-para-contact {
      text-align: center;
      p {
        margin-left: auto;
        margin-right: auto;
      }
      .view-mode-hotline_bar {
        .field-name-field-contact-telephone {
          a {
            &:before {
              content: "\f095";
              font-family: FontAwesome;
              font-size: 1em;
              font-style: normal;
              font-weight: normal;
              text-decoration: inherit;
              z-index: 1;
              margin-right: 5px;
            }
          }
        }
      }
    }

    // 2 col resources.
    .paragraphs-2-columns-resources {
      // Style band
      &.para-container {
        @extend %band--primary;
      }
      // Title/summary
      .group-header {
        @extend .col-xs-12;
      }
    }

    // Home page
    .page-landing {
      .paragraphs-2-columns-resources {
        background: white;
      }
    }

    // Video band
    .paragraphs-item-para-reference-video {
      // Style band
      &.para-container {
        @extend %band;
      }
      @include row-and-container;
    }

    .paragraphs-item-featured-resource {
      padding-top: 0;
      padding-bottom: 0;
    }

    // Document links
    .para-container {
      &.paragraphs-item-image {
        padding-top: 0;
        padding-bottom: uikit-space(1);
      }
    }

    // Text content.
    .para-container.paragraphs-item-para-content-text {
      @extend %band--neutral;
      @extend .container;
      .field-name-field-body {
        @extend .row;
      }
    }

    // Statistics
    .paragraphs-item-para-statistics {
      @extend %colour-Light-background-reverse;
    }
  }
}