// Generic band styles
%band {
  @include uikit-clearfix();
  padding-top: uikit-space(1);
  padding-bottom: uikit-space(1);
  @include uikit-media(md) {
    padding-top: uikit-space(1.5);
    padding-bottom: uikit-space(1.5);
  }
}
%band--neutral {
    @extend %band;
    @extend %colour-Light-background;
}

%band--neutral-darkest {
    @extend %band;
    @extend %colour-Light-dark-background;
}

%band--primary {
    @extend %band;
    @extend %colour-Primary-background;
}

%band--primary-dark {
    @extend %band;
    //background: $colour-Primary-dark;
}

%band--primary-darker {
    @extend %band;
    //background: $colour-Primary-darkest;
}

%band--primary-darkest {
    @extend %band;
    //background: $colour-Primary-darkest;
}