//
// Drupal selectors.
//
.form-item {
  @extend %uikit-form-item;
}

.form-item {
  label {
    font-weight: bold;
    @extend .uikit-text-input__label;
  }
  input.error,
  textarea.error {
    @extend .uikit-text-input--invalid;
  }
  select.error {
    border: $uikit-colour-Error;
  }
  .description, .help-block {
    @extend .uikit-text-input__hint;
    margin-bottom: uikit-space(0.75);
  }
  .resizable-textarea .grippie {
    height: 0px;
  }
}

.form-required {
  @extend %uikit-form-item__required;
}

// Password confirmation.
.password-parent,
.confirm-parent {
  @extend %uikit-form-item--tight;
}

table .form-item {
  @extend %uikit-form-item--tight;
}

label.option {
  display: inline;
  font-weight: normal;
}

.container-inline {
  .form-item {
    @extend %uikit-form-item--inline;
  } // Fieldset contents always need to be rendered as block.
  .fieldset-wrapper {
    @extend %uikit-form-item--inline__exception;
  }
}

// Activity register form
.node-form {
  margin-bottom: uikit-space(2);
}

.form-wrapper, .form-item-title, .webform-component {
  margin-bottom: uikit-space(1.75);
}

// Characters remaining
.form-element-with-counter .form-element-length-counter {
  margin: uikit-space(-1.25) 0 0 0;
  padding-bottom: uikit-space(2);
  @extend .uikit-text-input__hint;
}

.form-actions {
  margin-bottom: uikit-space(2);
}