//
// Drupal selectors.
//
.form-item {
  @extend %au-form-item;
}

.form-item {
  label {
    font-weight: bold;
    //@extend .au-text-input__label;
  }
  input.error,
  textarea.error {
    @extend .au-text-input--invalid;
  }
  select.error {
    border: $AU-colour-Error;
  }
  .description, .help-block {
    //@extend .au-text-input__hint;
    @include AU-space('margin-bottom', .75unit);
  }
  .resizable-textarea .grippie {
    height: 0px;
  }
}

.form-required {
  @extend %au-form-item__required;
}

// Password confirmation.
.password-parent,
.confirm-parent {
  @extend %au-form-item--tight;
}

table .form-item {
  @extend %au-form-item--tight;
}

label.option {
  display: inline;
  font-weight: normal;
}

.container-inline {
  .form-item {
    @extend %au-form-item--inline;
  } // Fieldset contents always need to be rendered as block.
  .fieldset-wrapper {
    @extend %au-form-item--inline__exception;
  }
}

// Activity register form
.node-form {
  @include AU-space('margin-bottom', 2unit);
}

.form-wrapper, .form-item-title, .webform-component {
  @include AU-space('margin-bottom', 1.75unit);
}

// Characters remaining
.form-element-with-counter .form-element-length-counter {
  @include AU-space('margin', -1.25unit 0 0 0);
  @include AU-space('padding-bottom', 2unit);
  //@extend .au-text-input__hint;
}

.form-actions {
  @include AU-space('margin-bottom', 2unit);
}