// Footer
//
// We all know what a footer is.
.page {
  .footer {
    @extend .uikit-footer;

    // for IE 9.
    background-color: $colour-Primary-darker;

    @extend %colour-Primary-background;

    padding-left: 0;
    padding-right: 0;

    a {
      color: white;
      border-bottom: solid 1px white;
      &:hover {
        background: none;
        border-bottom: none;
      }
      &[rel~='external']:after {
        color: white
      }
    }
    h3.block__title {
      color: white;
    }
    color: white;
    .bean-large-button .field-name-field-link-to a {
      background-color: transparent;
      color: white;
      border: 1px solid white;
      &:hover,
      &:focus {
        background-color: $colour-Primary-hover;
      }
    }

    .footer__end {
      padding-top: 1.6em;
      border-top: 1px solid #ccc;
      margin-top: 1.6em;
      small {
        color: white;
      }
    }
  }
}
